[2020-08-11 15:38] #1161 closed

[2020-08-11 15:42] Jonsen94 commented on #1162
Sure, just give me some days.

[2020-08-11 15:51] Jonsen94 commented on #1162
Might be related. I Just wanted to open a bug report for the python mission_changed subscription not working. Looks like it has a related problem. QGC seems to upload missions with mission type 2 (MAV_MISSION_TYPE_RALLY) which also does not trigger a mission changed event.

Also in case of deleting a QGC mission the result type is 2. I guess this is a design choice if you want to trigger an event

[2020-08-12 11:14] Jonsen94 commented on #1162
@JonasVautherin : it seems like the problem is even deeper.

As far as I can tell then drone just doesn't sent the MISSION_ACK command to anyone except for QGC.
I even tried running QGC with the same sys-id as mavsdk. QGC reports MISSION_ACK messages with sysid 1 and comp id 190 but the mavsdk does not receive such a packet. It seems like this message alone is not enough to report mission changes,

[2020-08-12 12:08] JonasVautherin commented on #1162
Can you describe your setup? Is it something like below?

* PX4 running on the drone
* QGC running on the laptop, on udp://:14550
* MAVSDK running on the laptop, on udp://:14540

Can you reproduce the bug with SITL?

[2020-08-12 12:16] Jonsen94 commented on #1162
I can't test it with a real drone ;)

Its the setup described in https://github.com/mavlink/MAVSDK-Python/issues/244 except for the python part.

Drone is a px4-gazebo setup from https://github.com/PX4/Firmware.git, I am using tag v1.10.2

[2020-08-12 16:03] tpool2 opened #1164 "GMock Linker Error: Build MAVSDK On Windows"
I've had trouble building MAVSDK on Windows from source following documentation found [here](https://mavsdk.mavlink.io/develop/en/contributing/build.html). After installing CMake, and Visual Studio 2019 C++ Build Tools, my steps are as follows in Powershell

1. git clone --depth=50 --branch=master https://github.com/mavlink/MAVSDK.git mavlink/MAVSDK
2. cd .\mavlink\MAVSDK\
3. git checkout master
4

[2020-08-14 18:06] tpool2 commented on #1164
Update: I got it to compile by setting -DBUILD_SHARED_LIBS=OFF. It seems that setting -DBUILD_SHARED_LIBS=ON messes up GTest Linking currently. Some people [here](https://stackoverflow.com/questions/46025439/unresolved-external-symbol-error-with-google-mock-and-vcpkg) have suggested setting a preprocessor definition GTEST_LINKED_AS_SHARED_LIBRARY to the project when doing so... I'm not sure how cl

[2020-08-15 00:36] edalm commented on #1108
Despite my interest in making this contribution, I do not know when I will have the time to work on this.

Therefore, my suggestion is to close this issue for now. If I make some progress on this issue, I can reopen it to share the details with you.

Thank you for the support and feedback provided.

[2020-08-15 20:47] #1108 closed

[2020-08-17 06:36] JonasVautherin commented on #1164
Thanks for reporting! Feel free to open a PR if you later find a way to fix it. In the meantime, I'll close this one :slightly_smiling_face:.

[2020-08-17 06:36] #1164 closed

[2020-08-17 21:26] ericwemhoff commented on #1158
julianoes : I created a pull request for this. Are you able to see it?

[2020-08-19 09:36] JonasVautherin opened #1170 "Who should initiate TIMESYNC?"
This is related to #1169. Looking at MAVSDK's timesync implementation, it seems like we send TIMESYNC messages in two situations:

1. In `process_timesync`, where we receive a TIMESYNC message and answer to it
2. In `do_work`, where we actually initiate the TIMESYNC exchange

Is it meant to be like this, or do different components have different needs? E.g. the "master" (I would guess the autopilo

[2020-08-19 10:35] AlexisTM commented on #1170
This is the same implementation as in MAVROS:

For the FCU to sync, the FCU sends a message and waits for the onboard computer to answer.
For the onboard computer to sync, it sends a message and waits for the FCU's answer.

This could be in tri-way protocol two-way, where the onboard computer sends a request, FCU replies and the onboard answers to the FCU. The onboard computer will have its sync f

[2020-08-19 11:03] irsdkv commented on #1170
Oh it was a long time ago and unfortunately I don't remember all important details now :(

But @AlexisTM explanation is correctly.

Also I would to say that [this code change](https://github.com/mavlink/MAVSDK/pull/1169/files#diff-ec4205b6bc1adbc844894d870f234adaR9) disables ability to answer for `TIMESYNK` requests from other devices in common with disabling FCU's own requests.

I think that it i

[2020-08-19 11:38] AlexisTM commented on #1170
I am personally not using MAVSDK at the moment.

But indeed, it would make sense to have it disabled by default as only experienced users make use offboard control and need Timesync.
I would either auto-enable timesync if the user enables advanced functions or give a feedback that timesync is not enabled. (advanced usage would be offboard control or external vision)

[2020-08-19 11:44] irsdkv commented on #1170
I checked out #1034 and found that it is only way to disable `do_work` and `process_timesync` both.

And as @AlexisTM said this function needed only for advanced usage.

So this PR seems like good choice.

But @JonasVautherin please say why this is a problem to save this functionality enabled by default? Is it add payload or brings some other troubles?

[2020-08-21 01:57] jtroeth1 opened #1171 "Euler Angles Wrong?"
Hi there,

I am subscribing to euler angle information such as:

    telemetry->subscribe_attitude_euler( [&](Telemetry::EulerAngle euler) {
                setTimestamp(stateMachine->data.uavPose_.timestamp);
                stateMachine->data.uavPose_.roll = euler.roll_deg;
                stateMachine->data.uavPose_.pitch = euler.pitch_deg;
                stateMachine->data.uavPose_.yaw = eule

[2020-08-21 08:06] JonasVautherin commented on #1171
I may have observed something similar with the attitude quaternion. Would you mind checking if every 6th quaternion is also wrong?

[2020-08-21 08:13] JonasVautherin commented on #1170
Because it's not clear to me how TIMESYNC supports more than 2 components doing the synchronization. Hence, if you have more than 2 components, I'm currently assuming that you will have to disable TIMESYNC in the extra ones, and you will have to know which one needs to enable it. In that case, it seems more legit to have it disabled by default IMO.

My reasoning is the following: the TIMESYNC mess

[2020-08-21 16:09] jimdgit opened #1172 "Release build fails on OSX"
Never mind - did not clean.

[2020-08-21 16:38] #1172 closed, assigned to nobody

[2020-08-23 21:44] jtroeth1 commented on #1171
Hi @JonasVautherin ,

Yes same thing:
Quaternion: (0.999855, 0.000940929, -0.001161, -0.0169413)
Quaternion: (0.999855, 0.000940839, -0.00116119, -0.0169412)
Quaternion: (0.999855, 0.000940866, -0.00116114, -0.0169413)
Quaternion: (0.999855, 0.000940803, -0.00116107, -0.016941)
Quaternion: (0.999855, 0.000940805, -0.00116105, -0.0169412)
Quaternion: (-0.565573, -0.565573, 0.0822511, 0.820263)
Quat

[2020-08-23 21:55] jtroeth1 commented on #1171
I think it is a callback issue for eg. if I do:

    while(true){
        Telemetry::Quaternion quaternion = telemetry->attitude_quaternion();
        std::cout << "Quaternion: (" << quaternion.w << ", " << quaternion.x << ", " << quaternion.y << ", " << quaternion.z << ")" << std::endl;
        sleep_for(milliseconds(100));
    }

There is no issue, the return value's are correct...

[2020-08-23 23:14] hamishwillee commented on #1170
@AlexisTM Yes. There is a little discussion of this message here: https://github.com/mavlink/mavlink-devguide/issues/194#issuecomment-512037079

And one day I will find time to document it.

[2020-08-24 05:17] julianoes commented on #1162
This would be expected, because rally points are not technically mission items. And they are not supported with MAVSDK yet, I think.

[2020-08-24 05:34] julianoes commented on #938
I can see how it might make sense to add a simple API to the mission plugin to add a couple of rally points. However, I'm a bit fuzzy on how rally points really work, especially depending on the [RTL_TYPE](https://dev.px4.io/master/en/advanced/parameter_reference.html#RTL_TYPE) param. I always want the API of MAVSDK to be as simple and safe as possible in order to prevent users from making mistake

[2020-08-24 05:53] hamishwillee commented on #938
@julianoes FWIW it makes perfect sense to implement the upload behaviour and it should be very easy to do - it is like mission upload with a different type set and just one "command". It makes no sense at all to try define how they are used because that is all outside spec - so the RTL_TYPE can all be ignored.

[2020-08-24 06:11] julianoes commented on #938
From a protocol view, yes. From a usability view, no. When we add rally points we need to add a description of what it is or how it works. So we need to say something like "a rally point is an emergency landing spot that will be used if/when foo happens", and is that only for fixedwing, or VTOL in fixedwing mode, or also multicopter, and does it depend on RTL_TYPE?
There needs to be a least one sa

[2020-08-24 06:12] julianoes commented on #1170
I would vote that we make this feature opt-in for use cases where it is required, and supported.

[2020-08-24 06:13] julianoes commented on #1171
@jtroeth1 which version are you using? This should have been fixed in https://github.com/mavlink/MAVSDK/pull/1155.

[2020-08-24 06:57] julianoes commented on #938
I'm not saying I don't want it ever, I'm just saying that I need to either read into it and find a sane default or have someone explain that sane default with a clear use case and notes about caveats to me, best in a pull request.

[2020-08-24 07:16] jtroeth1 commented on #1171
Hi @julianoes,
I am on:
v0.28.0 / a1e83140
Thanks

[2020-08-24 08:10] hamishwillee commented on #938
That can never ever happen. The only thing you can say is:

[2020-08-24 08:21] julianoes commented on #938
That doesn't sound too bad @hamishwillee.

[2020-08-24 08:23] julianoes commented on #1171
Sorry, I want to be sure. Can you post the full output of the program that you run?

[2020-08-24 08:32] hamishwillee commented on #938
In that case @julianoes, you're allowed to implement rally point upload :-)

[2020-08-24 09:57] julianoes opened #1173 "Error message if no manual control is available"
It would be nice to have an error message if starting altitude or position control using manual_control fails.

This would be similar as it is done for offboard: https://github.com/mavlink/MAVSDK/blob/758a6437826aa1e6a1abda5f109a7bca21599d61/src/plugins/offboard/offboard_impl.cpp#L43

[2020-08-25 00:21] jtroeth1 commented on #1171
I'm not sure what you mean sorry? The full output? That is the full output.

For the purposes of this question the code is:

    #include <chrono>
    #include <cstdint>
    #include <mavsdk/mavsdk.h>
    #include <mavsdk/plugins/action/action.h>
    #include <mavsdk/plugins/telemetry/telemetry.h>
    #include <iostream>
    #include <thread>

    using namespace mavsdk;
    using namespace std::t

[2020-08-25 05:03] julianoes commented on #1171
No, sorry, I meant the full log output.

[2020-08-25 08:06] Jonsen94 commented on #1162
Feels a bit strange I would say. I mean, it is called "MAV_MISSION_[...]".
Does that mean that the current behavior is the intended one?

If so this should probably be noted somewhere in the documentation. I mean the API endpoint states that it is meant to be used to detect mission uploads from other GC stations and QGC is as far as I know one of the most widely used ones ?

Or could we just add a

[2020-08-25 12:48] julianoes commented on #1162
It is called MAV_MISSION_ because it re-uses the mission messages for upload. But the "MISSION_TYPE" is RALLY.

I would say it's the correct implementation but we should add a `rally_points_changed()` notification for rally points.

[2020-08-26 08:26] Jonsen94 commented on #1116
@petergerten : PR is merged and should solve the issue now.
@JonasVautherin :  With the merged PR this issue should be resolved and might be closed ?

[2020-08-26 08:37] #1116 closed

[2020-08-27 07:10] JonasVautherin opened #1178 "Fix examples following MAVLink update"
As observed in https://github.com/mavlink/MAVSDK/pull/1102, it seems like #1176 broke the examples.

[2020-08-27 07:12] #1025 closed

[2020-08-27 08:10] coderkalyan commented on #1178
I'll take a look at this tomorrow.

[2020-08-27 12:38] JonasVautherin commented on #1170
Ok, that answers my question, and TIMESYNC is now disabled by default in MAVSDK. Closing this.

[2020-08-27 12:38] #1170 closed

[2020-08-27 14:28] #1178 closed

[2020-08-27 14:51] coderkalyan commented on #1178
Or not 🤣

[2020-08-28 01:56] cjffly opened #1182 "MAVSDK failed to initiate UDP connection"
I have strange issue when I try to use MAVSDK C++ application to start a connection using UDP:
I got a "pixhawk - raspberry pi(as a bridge) - wifi router - ubuntu machine" setup. While I am trying to run some MAVSDK application, such as take_off_land example like `./take_off_land udp://:14540`, it will tell me `No system found, exiting.`

When I open QGC on the ubuntu machine, it still won't autom

[2020-08-28 09:45] JonasVautherin commented on #1182
I think it's a networking issue. When you run `./take_off_land udp://:14540`, what MAVSDK does is that it waits until it receives HEARTBEAT messages from the drone over UDP. QGC does the same. Apparently, the network broadcasts coming from your drone don't reach the Ubuntu machine. That's not unsurprising, many network topology behave the same.

By specifying the RPi's IP (`192.168.0.101`) to QGC,

[2020-08-28 23:02] cjffly commented on #1182
Thanks for the advise. I will try to do something on the RPi.

Is it possible using MAVSDK to send a heartbeats just like what QGC did?

[2020-08-28 23:23] JonasVautherin commented on #1182
The mavftp server example does it: https://github.com/mavlink/MAVSDK/blob/develop/examples/ftp_server/ftp_server.cpp#L43

I wonder if you could do that [here](https://github.com/mavlink/MAVSDK/blob/develop/examples/takeoff_land/takeoff_and_land.cpp#L47):

[code]

instead of

[code]

If you try it, let me know what happens :slightly_smiling_face:

[2020-08-29 00:01] cjffly commented on #1182
[code]

[2020-08-29 03:00] cjffly commented on #1182
Another problem is the remote method seems only work with one system at a time. When dealing with multiple systems, like [here](https://github.com/mavlink/MAVSDK/blob/3992a492b28fac8687213d7f81fcff0420b0e9b5/examples/multiple_drones/multiple_drones.cpp#L41)
[code]
Replaced with
[code]

The system seems only find the last argument, not all systems.

[2020-08-29 13:03] JonasVautherin commented on #1182
Hmm, it could be that it only has one udp remote, at the moment. Not sure how it could be edited to add multiple ones. Feel free to have a look and open a PR if you find a solution :blush:.

I'm closing this in the meantime, let's open a new issue if you want to discuss the multiple `setup_udp_remote`.

[2020-08-29 13:03] #1182 closed

[2020-09-01 09:27] petergerten opened #1183 "Hold time is ignored for waypoints when importing with import_qgroundcontrol_mission"
On waypoint import the hold time for a waypoint is ignored.
See https://github.com/mavlink/MAVSDK/blob/37be38dad47d575f29d76f886e7539e4f419ed67/src/plugins/mission/mission_impl.cpp `Mission::Result MissionImpl::build_mission_items`

All current code to parse a waypoint:
[code]
The hold time in params[0] is already used to determine if it is a 'fly-though' waypoint.
But then it is not used to set t

[2020-09-01 09:56] petergerten commented on #1115
@darioxz Sorry, but unfortunately I don't have access to a Z30 anymore to test it. I am going to test 'digital zoom' with a E90 though.

[2020-09-01 10:50] JonasVautherin commented on #1183
Nice catch! Would you mind opening a PR to fix that?

[2020-09-02 01:27] petergerten commented on #1183
see https://github.com/mavlink/MAVSDK/pull/1184

[2020-09-06 07:21] petergerten opened #1186 "error messages on actions do not reveil error reason"
For example if I arm:
[code]
The error result is:
`COMMAND_DENIED: 'Command Denied'; origin: arm(); params: () `

But I don't know what caused the error. The PX4 SITL shell in this case shows:

`WARN  [commander] Preflight Fail: High Accelerometer Bias`

This seems to also propagate via MAVLink as I can see it in QGC.
But it seems there is no way at the moment to get this message via MAVSDK - or a

[2020-09-07 08:00] #1183 closed

[2020-09-07 09:31] julianoes commented on #1186
Good point. The problem is that in MAVLink these "error messages" are only statustext information but the ack itself does not tell the reason.

You could subscribe to statustext in Python (https://github.com/mavlink/MAVSDK-Proto/blob/8b7dc4e1e8f34de9a8dbf9f66e1e832104f26d21/protos/telemetry/telemetry.proto#L47-L48) to get that information but that's awkward.

Alternatively, we could enable these p

[2020-09-08 01:43] petergerten commented on #1186
Thanks - yes, I missed the StatusText in Telemetry - it seems to be the easiest option at the moment. While it is useful for human use, it is not ideal for machine parsing though. I will look into SYS_STATUS. Also the planned events interface looks very interesting.

[2020-09-21 23:16] jtroeth1 commented on #1171
Sorry, I'm not sure what logs you mean?

Also In the above, it is actually all data is incorrect outside of the callback.

[2020-09-22 00:36] julianoes commented on #1171
v0.28.0 / 6d01d43 develop
Thanks

It has been fixed since v0.29.0, please update. I'm closing this, re-open if you find it again.

[2020-09-22 00:36] #1171 closed

[2020-09-23 16:13] coderkalyan commented on #1101
If NAV_DELAY is supported in PX4, is there something preventing this from being implemented? Or can I take a crack at it (time permitting)?

[2020-09-25 04:18] julianoes commented on #1101
@coderkalyan feel free :)

[2020-09-25 04:40] #1039 closed

[2020-09-25 06:28] #611 closed

[2020-09-27 17:00] AldoCF96 opened #1197 "Adding disconnect button to kill/disconnect to any port or kill not used variables."
I saw that QgroundControl has disconnect button to kill all the connections to a drone in a port. There should be a way to do it in, using MAVSDK, that keeps the code running but just disconnect specifics ports.

[2020-09-27 20:57] JonasVautherin commented on #1197
That sounds reasonable. Do you have a use-case for it?

[2020-09-27 23:31] cjffly opened #1198 "Reading GPS RAW data other than fused one"
Hi,

I am trying to use MAVSDK to read a GPS height data from px4 (RTK connected), right now I am subscribing to telemetry-position:
[code]
However, I did notice the height from the telemetry->position is fused and not accurate compare the raw RTK-GPS height. (I already set the `EKF2_HGT_MODE = GPS` ), the flight log show sometimes the fused height estimation is drifting around even my system is s

[2020-09-28 01:01] AldoCF96 commented on #1197
When handling connections with multiple drones, it would be good to have a way to disconnect to a drone and kill all unused variables, just for a specific connection to a drone. But mavsdk can still be running accepting other connections. Just like Qgc does it.

[2020-09-28 06:28] julianoes commented on #1198
Ok, that's an interesting observation. Now the question is what exactly you need from MAVSDK. Do you need the GPS height for debugging? I'm asking because to me it seems that this is more of a PX4 estimation and controls problem than a MAVSDK problem.

[2020-09-28 07:17] JonasVautherin commented on #1197
Right, that makes sense. Would you be willing to contribute that?

[2020-09-28 11:18] julianoes commented on #1197
Thanks for the issue @AldoCF96.

[2020-09-28 16:16] coderkalyan commented on #1158
Seems like this can be closed now, or is there anything else to be done? @julianoes

[2020-09-28 17:01] #1158 closed

[2020-09-28 21:38] cjffly commented on #1198
I am using that GPS data as a reference point, which my other applications will rely on. I did get some answer from px4 perspective [here](https://discuss.px4.io/t/difference-between-gps-altitude-vs-fused-altiude-estimation/18784), seems the fused data also consider other sensors.

So the question becomes is there any method for MAVSDK to access the raw data, not fused ones?

Also, I notice in MAV

[2020-09-29 03:20] ericwemhoff commented on #1158
Yup, thanks much.

On Mon, Sep 28, 2020 at 1:02 PM Jonas Vautherin <notifications@github.com>
wrote:

[2020-10-01 00:33] AldoCF96 commented on #1197
@JonasVautherin  I can work on that, unless anybody else is working on that. I will need to make research on how mavsdk handle the connections and the auto-discover.

[2020-10-01 10:21] JonasVautherin commented on #1197
Awesome!

To give you some context, that is done in the `Mavsdk` classes (`mavsdk.h/cpp`, `mavsdk_impl.h/cpp`). Mavsdk opens a connection and then listens for heartbeats. Whenever it receives new heartbeats, it checks if it already knows the sysid or not. If it doesn't, it creates a new `System` for that new sysid.

I guess that you don't want to destroy a `System` if its connection disappears, be

[2020-10-05 06:53] julianoes commented on #1198
@cjffly if you are using MAVSDK C++ you can use the Passthrough plugin to access any MAVLink message. So that would be one way. Alternatively, you can make a pull request to https://github.com/mavlink/MAVSDK-Proto/blob/master/protos/telemetry/telemetry.proto to extend the Telemetry plugin to include an API for Raw GPS.

[2020-10-05 15:11] petergerten opened #1202 "Camera triggering in QGC survey missions not supported."
Currently there is no support for the `MAV_CMD_DO_SET_CAM_TRIGG_DIST` mission item, which is the standard way of triggering in a survey mission. Currently a survey mission imported with` import_qgroundcontrol_mission` will be executed but without the camera doing anything.

There is a test case for `MAV_CMD_DO_SET_CAM_TRIGG_DIST` in https://github.com/mavlink/MAVSDK/blob/develop/src/plugins/missio

[2020-10-05 16:50] haydockjp opened #1203 "Copy-Paste error in TelemetryImpl::process_fixedwing_metrics"
It looks like
[code]
Should be
[code]

[2020-10-05 17:30] JonasVautherin commented on #1203
Yes, good catch! It is fine in the proto definition: https://github.com/mavlink/MAVSDK-Proto/blob/master/protos/telemetry/telemetry.proto#L601-L603.

I assume you found that in `telemetry_impl.cpp`? Would you be willing to open a PR to fix that? :blush:

[2020-10-05 17:48] haydockjp commented on #1203
Yep

[2020-10-05 22:13] haydockjp commented on #1203
https://github.com/mavlink/MAVSDK/pull/1204

[2020-10-06 08:19] #1203 closed

[2020-10-06 16:59] haydockjp opened #1207 "process_fixedwing_metrics does not return groundspeed, alt and heading"
mavlink_msg_vfr_hud_decode gives us access to additional data `groundspeed, alt and heading` but process_fixedwing_metrics does not return them

[2020-10-06 18:29] haydockjp commented on #1207
https://github.com/mavlink/MAVSDK/pull/1208

[2020-10-07 05:54] JonasVautherin commented on #1207
One question I have here: don't those values already come from other APIs? E.g. Altitude comes from `subscribe_position`, etc. Or are those different?

[2020-10-07 06:00] haydockjp commented on #1207
I mainly want to get ground speed. I thought I would add the others as they are on the original mavlink message. Altitude is definately somewhere else. I'm not sure about heading. I haven't seen it do far.

I'm also trying to use this SDK against ardipilot. I know you only officially support PX4, but it's mostly working for me.

[2020-10-07 06:39] JonasVautherin commented on #1207
I would have thought that:

* Bearing comes from [attitude](https://github.com/mavlink/MAVSDK-Proto/blob/master/protos/telemetry/telemetry.proto#L25-L28)
* Altitude comes from [position](https://github.com/mavlink/MAVSDK-Proto/blob/master/protos/telemetry/telemetry.proto#L15-L16)
* Ground speed comes from [velocity](https://github.com/mavlink/MAVSDK-Proto/blob/master/protos/telemetry/telemetry.pro

[2020-10-07 14:24] yashom7 commented on #1173
Hi!
I think I can get on with implementing this.

Just to clarify. This error message reporting will go in the Manual Control plugin and is used if some means of control i.e. a joystick is not available?

[2020-10-07 16:05] haydockjp commented on #1207
We currently use https://ardupilot.org/planner/ to run missions. I'm looking to get the same telemetry into our own data store. It gets those fields from the Fixedwing Metrics telemetry.

If you are looking for differences between PC4 and Ardupilot, Mission Planner is open source and may be a good resource.

I'll have a look at the other telemetry that you suggested.

[2020-10-07 17:09] JonasVautherin commented on #1207
I'm actually looking for contributions from ArduPilot users :innocent:. MAVSDK being developed against PX4 and not ArduPilot is a question of resources, mainly. We would love to accept contributions from anybody interested in doing something for ArduPilot.

As you mentioned that MAVSDK "mostly works for you [on ArduPilot]", I was hoping to get insights like "the telemetry plugin works, those actio

[2020-10-07 17:20] haydockjp commented on #1207
I might be misunderstanding some of these values, but:

*Altitude:* position - I am getting this already. I actually don't really need this as I am controlling a boat, but altitude might be interesting to see if it could indicate wave heave (same with climb rate)

*Ground Speed:* velocity
=> `SubscribeVelocityNed` this gives the velocity along three accesses. I just want the ground speed

*Bearing

[2020-10-07 19:50] JonasVautherin commented on #1207
Can't you compute the ground speed based on the NED velocity vector? :thinking:

Same question here...

[2020-10-07 19:52] haydockjp commented on #1207
On the mission side. I am now able to start, pause and clear using Mission.
I can download using Mission Raw (Not Mission). I do have an issue with
uploading a mission. Using Mission Raw I get a time out. I still need to
look into why

On Wed, Oct 7, 2020 at 10:09 AM Jonas Vautherin <notifications@github.com>
wrote:

--

*Jon Haydock*
* <http://ca.linkedin.com/in/jonhaydock>
<http://www.twitter.co

[2020-10-08 00:38] yhabib29 opened #1213 "Offboard disabled when processing other components heartbeat"
When using Offboard plugin, I have noticed that the plugin is processing heartbeats coming from other components on the same system (Camera, Gimbal, ...).
My workaround is to filter Heartbeats mavlink message based on the message component ID, using default Autopilot value MAV_COMP_ID_AUTOPILOT1.

I just added these lines at the beginning of the "process_heartbeat" function:
[code]

[2020-10-08 06:45] JonasVautherin commented on #1213
I believe it makes sense. @julianoes: Is that correct?

[2020-10-13 21:15] jtroeth1 opened #1227 "Seg fault at system()"
Hello,

I am seeing a segfault which has to be in this line:

System& uav = mavlink.system();

I currently have no other lines in my code. It is seemingly random when it happens but usually within 3 minutes of running the software.
I am using mavsdk version on master at: a9b24162
Linux version: 5.7.10-201.fc32.x86_64

Any help appreciated.

Thanks,

[2020-10-13 21:29] JonasVautherin commented on #1227
`mavsdk.system()` is deprecated, but that does not mean it is ok for it to segfault :sweat_smile:.

This said, would you mind trying with the new interface? Something like:

[code]

Then `system` is a `std::shared_ptr<System>`. That's the new way.

[2020-10-14 00:21] jtroeth1 commented on #1227
Okay I will try.
Also exists in f98ca541.

Sorry, I'm not seeing how I can actually implement it?
There isn't an interface to use it like that, what am i missing?

If it is deprecated, can we get the example code updated?

Thanks

[2020-10-14 07:33] JonasVautherin commented on #1227
Oh sorry, I understood you were on latest `develop`, but you are on the latest release actually.

Could you share the code and instructions on how to reproduce this?

[2020-10-15 05:41] jtroeth1 commented on #1227
so I can't really give the code to reproduce it becuase it is our own in house software using the mavsdk library.
In normal operation just using the library examples the issue does not occur.

This is one of the backtraces, i'm not sure that is of much help though as the program crashes seemingly after the real problem has occured.

0x0000000000444429 in stkdispatch::DispatchHandler::queuePulse(in

[2020-10-15 05:42] jtroeth1 commented on #1227
I haven't been able to replicate the issue in valgrind, so it could be a timing, threading thing.

[2020-10-15 06:33] julianoes commented on #1227
@jtroeth1 the backtrace is very confusing. How do we get from a sleep inside the MavsdkImpl::work_thread() to your stkdispatch?

I suggest to check `thread apply all bt` to get the backtrace for all threads.

[2020-10-15 11:32] JonasVautherin commented on #1227
Wild guess: are you sure that your `Mavsdk` object does not get out of scope? If that object gets destructed, then your systems will probably segfault. That won't be the case anymore with the new interface, but it hasn't been released yet.

[2020-10-15 21:17] jtroeth1 commented on #1227
(gdb) thread apply all where

Thread 9 (Thread 0x7fffe6ffd700 (LWP 6167)):
#0  0x00007ffff6f84801 in clock_nanosleep@GLIBC_2.2.5 () from /usr/lib64/libc.so.6
#1  0x00007ffff6f8a157 in nanosleep () from /usr/lib64/libc.so.6
#2  0x00007ffff7ec9a39 in mavsdk::SystemImpl::system_thread() () from /usr/local/lib64/libmavsdk.so.0
#3  0x00007ffff72c1ac4 in execute_native_thread_routine () from /usr/lib64/

[2020-10-15 21:18] jtroeth1 commented on #1227
It doesn't seem to be going out of scope...
Thanks Julian, I'll try those flags.

[2020-10-16 14:30] #984 closed

[2020-10-20 02:14] jtroeth1 commented on #1227
Issue was in our software. We needed a lock around the queue.
Unsure why the issue only showed itself in conjunction with the mavsdk library. We have over 20 apps and have never seen this.
Thanks,
James

[2020-10-20 02:14] #1227 closed

[2020-10-21 04:45] afwilkin commented on #1173
From what I am understanding (and can confirm by testing), manual control needs a setpoint before entering the mode. This is an example for offboard `offboard->set_velocity_body({0,` 0, 0, 0}); `
So, in code it looks like this:
`auto offboard = std::make_shared<Offboard>(*system);
 offboard->set_velocity_body({0, 0, 0, 0}); /* Needed */
 Offboard::Result offboard_result = offboard->start();`

With

[2020-10-22 06:18] julianoes commented on #1173
Sorry for the late response here.

Yes.

100%, thanks for writing that up @afwilkin.

[2020-10-22 06:30] julianoes commented on #1213
Good point! We would appreciate a PR with the fix.

[2020-10-22 06:35] julianoes commented on #1207
I would assume you have something in there that's not understood on either ArduPilot or MAVSDK's side.

Right, I think:
[code]

@JonasVautherin I think it would make sense to add these two fields to the API for velocity NED, so that they are easily accessible.

[2020-10-22 06:37] julianoes commented on #1202
That's right. Contributions are welcome :). The first question is what the MAVSDK API should look like for this.

[2020-10-23 12:12] yhabib29 commented on #1213
No problem, I will try to do it during this week-end.

[2020-10-27 15:20] #1213 closed

[2020-10-29 16:02] #1101 closed

[2020-11-03 11:22] jbeyerstedt commented on #939
I would just like to add a +1 requesting this feature. Especially for UTM applications, which are taking positions in WGS84 coordinates, it'll be very useful to set the own vehicles's position using the same reference frame. Incoming coordinates are not only other vehicle's positions (see [UTM_GLOBAL_POSITION](https://mavlink.io/en/messages/common.html#UTM_GLOBAL_POSITION)), but might also be temp

[2020-11-03 13:36] julianoes commented on #1023
Do you think we should do more here, and if so, what specifically?

[2020-11-12 19:25] AlexKlimaj opened #1252 "Add Functionality to Broadcast to Interface without Explicit Vehicle Connection"
I am working on recreating the QGC RTK Base station functionality in a C++ application on a raspberry pi. I have the PX4 GPS driver running and now I am trying to figure out how to get mavsdk to broadcast the RTK corrections to all vehicles on two different interfaces. One serial and the other is UDP.

It does not appear that mavsdk can do a broadcast to all connected vehicles. My approach is to d

[2020-11-12 22:39] JonasVautherin commented on #1252
Would you mind sharing which MAVLink messages are being sent for RTK? I think it may make sense to add them in MAVSDK (instead of having to use the passthrough).

I would need more details about what you mean by "broadcast", because I find it generally ambiguous. Do you mean that you expect MAVSDK to send the message once over the air and have it reach all your vehicles, or do you want a helper su

[2020-11-12 23:01] AlexKlimaj commented on #1252
This is the functionality in QGC.
https://github.com/mavlink/qgroundcontrol/blob/master/src/GPS/RTCM/RTCMMavlink.cc#L24

It is sending GPS_RTCM_DATA.
https://mavlink.io/en/messages/common.html#GPS_RTCM_DATA

I think the broadcast of RTCM data in QGC is similar to how the heartbeat message is sent. A helper that could be called that you pass the RTCM data and the interfaces you want it broadcast ov

[2020-11-12 23:04] coderkalyan commented on #1023
Let me get back to you on that; I haven't had a change to follow up with all of MAVSDK's changes implemented recently, including the revised system connection API. I think there is still some room for improvement but it has definitely gotten a lot better since I first filed the issue...

[2020-11-13 06:38] kois86 commented on #1130
please help.

when and where should i type this: ./mavsdk_server -p 50040

because i try type that in the terminal it returns: -bash: ./mavsdk_server: No such file or directory

[2020-11-13 06:44] JonasVautherin commented on #1130
`mavsdk_server` is an executable, like `ls` or `cd`. When you run `ls`, it tries to find an executable called `ls` in your `PATH` and runs it. If it does not find it, it says "No such file or directory".

`./` says "don't look in the PATH, just look for it in the current directory. So in order to run `./mavsdk_server`, you need to see `mavsdk_server` appear when you type `ls`.

I think that a good

[2020-11-13 07:47] kois86 commented on #1130
yes, thats the problem, i cant find the mavsdk_server file, or is it a folder? i have my MAVSDK-python folder and try to find the mavsdk_server file, but nowhere to be found. not in the bin folder also. thus i can only spawn one drone, where i want to execute two drones python files.

[2020-11-13 10:03] JonasVautherin commented on #1130
Please open a new issue, so that we can keep track of them. This one was closed months ago :slightly_smiling_face:.

[2020-11-13 13:53] kois86 opened #1253 "where can i find the mavsdk_server file?"
so that i can perform multiple drones setup on sitl? can't find it in the Mavsdk-python folder.

thank you in advance

[2020-11-13 14:10] JonasVautherin commented on #1253
First, you can get it from the [release artifacts of the mavsdk repo](https://github.com/mavlink/mavsdk/releases) (note: this is not mavsdk-python, but mavsdk-python uses mavsdk).

Alternately, if you install mavsdk-python with `pip3 install mavsdk`, `mavsdk_server` comes embedded with it. For instance, say I install it in a venv:

[code]

I will get the following output:

[code]

[2020-11-13 16:49] JonasVautherin commented on #1252
MAVSDK does not allow to broadcast messages right now. So right now it would just do the same loop as you do :+1:. I am not sure if broadcasting is in the scope of MAVSDK right now, because many things are not expecting to be broadcasted, right? Like all the commands, or basically any targeted message. Or is that incorrect?

[2020-11-14 05:31] kois86 commented on #1253
thanks.

when i do  this >>find . | grep mavsdk_server

the output is as below. is this correct? if so, i need to navigate to this directory

./.local/lib/python3.6/site-packages/mavsdk/bin/mavsdk_server

to perform this command?
./mavsdk_server -p 50040

thanks again

./MAVSDK/templates/mavsdk_server/call.j2
./MAVSDK/templates/mavsdk_server/file.j2
./MAVSDK/templates/mavsdk_server/enum.j2
./MAVSD

[2020-11-14 12:35] JonasVautherin commented on #1253
Yes, that's correct :+1:

[2020-11-14 13:41] kois86 commented on #1253
Yes, thank you Jonas, i manage to run the mavsdk_server. thank you very much.

though i received the error below when i run. i think i found the same error somewhere in the forum. will look onto it. thanks

[03:55:28|Error] bind error: Address in use (udp_connection.cpp:85)
[03:55:28|Error] Connection failed: Bind error (connection_initiator.h:41)
^C

[2020-11-14 14:20] JonasVautherin commented on #1253
You need to tell mavsdk-python to not start `mavsdk_server` itself (because you start it manually). That's when you create the `System`:

[code]

Note how the port is what you passed to `./mavsdk_server -p 50051`. You'll need multiple ports if you start multiple instances of mavsdk_server, one for each drone.

[2020-11-14 14:20] #1253 closed

[2020-11-14 16:42] shrit opened #1256 "set_takeoff_altitude_async is not working"
Hello,

I have just updated my PX4 to the master version. I have noticed that the `set_takeoff_altitude_async` is returning success even though quadrotors are taking off for 2.5 meters instead of the specified values.
Do you have any thoughts about why this happening?
Mavsdk version is 0.32

Best regards,

[2020-11-14 17:00] shrit commented on #1256
I was starting the offboard mode too early, and I forget that I was using async takeoff. Sorry for this

[2020-11-14 17:00] #1256 closed

[2020-11-15 04:30] AlexKlimaj commented on #1252
I'm digging through QGC and it looks like it is also looking for vehicle heartbeats then sending targeted messages to them. So I'm not sure it is possible to broadcast to the entire network without knowing what the vehicle IP's are.

[2020-11-16 07:10] kois86 commented on #1253
i do this -->  drone = System(mavsdk_server_address="localhost", port=50051)

in order to assign drone to the system. for example, for multiple drone i would write like this:

 drone = System(mavsdk_server_address="localhost", port=50040)
    await drone.connect()
    drone1 = System(mavsdk_server_address="localhost", port=50041)
    await drone1.connect()

if i simply write like this --->  drone

[2020-11-16 07:56] JonasVautherin commented on #1253
No you can't. That's why you need to write the other one you pasted above.

[2020-11-18 13:50] kois86 commented on #1253
Hi Jonas,

I have question, does this excerpt important?

#This waits till a mavlink based drone is connected
    async for state in drone.core.connection_state():
        if state.is_connected:
            print(f"-- Connected to drone with UUID: {state.uuid}")
            break

because with this, when i run my mavsdk_server manually, the drone wont connect, but without it will, but some of the

[2020-11-18 16:44] JonasVautherin commented on #1253
Which version of `mavsdk_server` are you running?

[2020-11-19 02:25] kois86 commented on #1253
Sorry, im not sure which version and how to check it.

thing is, my program will stuck after it is successfully connect to the mavsdk_server due to the excerpt i mentioned above. if i remove it will run the program, such as takeoff and goto location, but some API cant work for example follow_me.

Waiting for mavsdk_server to be ready...
Connected to mavsdk_server!
Waiting for mavsdk_server to be r

[2020-11-19 06:45] JonasVautherin commented on #1253
When you run `./mavsdk_server`, one of the first output lines tells you the version

[2020-11-19 09:21] Iko-Git commented on #122
Could you please give me a guideline for using _float mavsdk::Offboard::VelocityBodyYawspeed::forward_m_s {}_ into _ROS_ @hamishwillee @julianoes

[2020-11-19 10:01] julianoes commented on #122
@Iko-Git please don't necrobump and create a new issue.

[2020-11-20 10:27] #1173 closed

[2020-11-20 10:47] julianoes commented on #897
Closing this as the behaviour can be achieved as @bresch writes above in https://github.com/mavlink/MAVSDK/issues/897#issuecomment-594594163.

[2020-11-20 10:47] #897 closed

[2020-11-20 11:34] julianoes commented on #1094
I have not seen this in a while, closing.

[2020-11-20 11:34] #1094 closed

[2020-11-20 11:35] julianoes commented on #128
This has been fixed in the meantime.

There is now the API: https://github.com/mavlink/MAVSDK/blob/6434e0c6a7c25a3203d4652da13ea1944279beb1/src/core/mavsdk.h#L161-L169

[2020-11-20 11:35] #128 closed

[2020-11-20 11:37] julianoes commented on #486
This has been added, see: https://mavsdk.mavlink.io/develop/en/cpp/api_changes.html#v0330

[2020-11-20 11:37] #486 closed

[2020-11-20 11:38] julianoes commented on #366
There is this example: https://github.com/mavlink/MAVSDK/tree/develop/examples/fly_multiple_drones

[2020-11-20 11:38] #366 closed

[2020-11-20 11:38] julianoes commented on #1147
I believe this has been fixed in the meantime.

[2020-11-20 11:38] #1147 closed

[2020-11-20 11:39] julianoes commented on #1045
I'm pretty sure this has been resolved in the meantime.

[2020-11-20 11:39] #1045 closed

[2020-11-20 11:39] julianoes commented on #1018
This is being covered in https://github.com/mavlink/MAVSDK-docs/pull/219.

[2020-11-20 11:42] julianoes commented on #1117
The mavsdk_server is now built statically and provided by PyPi. We have no more need to do cross compilation, or building on a Raspberry Pi. If you still require it and run into problems, please create a new issue @domib97, thanks.

[2020-11-20 11:42] #1117 closed

[2020-11-20 11:42] julianoes commented on #1015
Implemented by https://github.com/mavlink/MAVSDK/pull/1222.

[2020-11-20 11:42] #1015 closed

[2020-11-20 11:43] julianoes commented on #994
The API to access multiple vehicles has been changed. I think this issue has been resolved, otherwise please re-open @Jaeyoung-Lim.

[2020-11-20 11:43] #994 closed

[2020-11-20 11:45] julianoes commented on #240
This is old, closing. For anyone wanting to get in touch with the MAVSDK maintainer team, just create an issue and the maintainers will respond.

[2020-11-20 11:45] #240 closed

[2020-11-20 11:47] julianoes commented on #997
This now works using statically compiled mavsdk_server binaries using musl.

[2020-11-20 11:47] #997 closed

[2020-11-20 11:47] julianoes commented on #929
If this is still an issue, please re-open.

[2020-11-20 11:47] #929 closed

[2020-11-20 11:48] julianoes commented on #925
DISTANCE_SENSOR has been implemented in #1222.

[2020-11-20 11:48] #925 closed

[2020-11-20 11:50] julianoes commented on #845
This is outdated and I see no action to take, so closing it.

[2020-11-20 11:50] #845 closed

[2020-11-20 11:51] julianoes commented on #842
The question has been answered, so I'm closing this.

[2020-11-20 11:51] #842 closed

[2020-11-20 11:51] julianoes commented on #783
This has been working for a while now.

[2020-11-20 11:51] #783 closed

[2020-11-20 11:51] julianoes commented on #829
I have not seen this in a long time, closing.

[2020-11-20 11:51] #829 closed

[2020-11-20 11:52] julianoes commented on #553
This has been implemented in #815.

[2020-11-20 11:52] #553 closed

[2020-11-20 11:52] #607 closed

[2020-11-20 11:53] julianoes commented on #570
No one else has asked for roll, so I'm closing this.

[2020-11-20 11:53] #570 closed

[2020-11-20 11:55] julianoes commented on #468
Well that's funny. We went from travis-ci to GitHub actions!

[2020-11-20 11:55] #468 closed

[2020-11-20 11:56] julianoes commented on #243
A `Device` is now a `System` and has an API page: https://mavsdk.mavlink.io/develop/en/api_reference/classmavsdk_1_1_system.html :heavy_check_mark:

[2020-11-20 11:56] #243 closed

[2020-11-20 11:57] #1207 closed

[2020-11-20 12:01] julianoes commented on #120
This has been fixed with the API changes that came with the gRPC auto-generation, see: https://github.com/mavlink/MAVSDK/blob/develop/src/plugins/action/include/plugins/action/action.h.

[2020-11-20 12:01] #120 closed

[2020-11-20 12:02] julianoes commented on #32
There is support for VISION_POSITION_ESTIMATE in the Mocap plugin.

[2020-11-20 12:02] #32 closed

[2020-11-20 12:03] julianoes commented on #144
We have that now:

https://github.com/mavlink/MAVSDK/blob/6434e0c6a7c25a3203d4652da13ea1944279beb1/src/plugins/telemetry/include/plugins/telemetry/telemetry.h#L60-L78

https://github.com/mavlink/MAVSDK/blob/6434e0c6a7c25a3203d4652da13ea1944279beb1/src/plugins/telemetry/telemetry.cpp#L1090-L1110

[2020-11-20 12:03] #144 closed

[2020-11-20 12:04] julianoes commented on #41
More than 3 years later this will be covered by mavlink/MAVSDK-docs#219.

[2020-11-20 12:04] #41 closed

[2020-11-20 12:04] #1018 closed

[2020-11-20 12:05] julianoes commented on #1121
I'm closing this. It is a similar issue to #65.

[2020-11-20 12:05] #1121 closed

[2020-11-20 12:05] julianoes commented on #917
There was no response in a long time, closing.

[2020-11-20 12:05] #917 closed

[2020-11-20 12:07] julianoes commented on #689
This is old, and has likely been fixed in the meantime, closing.

[2020-11-20 12:07] #689 closed

[2020-11-20 12:07] julianoes commented on #335
We have MAVLink FTP examples, closing.

[2020-11-20 12:07] #335 closed

[2020-11-20 12:08] julianoes commented on #336
We have MAVLink FTP implemented and the url (https://github.com/mavlink/MAVSDK/blob/6434e0c6a7c25a3203d4652da13ea1944279beb1/src/plugins/camera/include/plugins/camera/camera.h#L197) of a captured image. This should be enough for now.

[2020-11-20 12:08] #336 closed

[2020-11-23 07:17] julianoes opened #1263 "Consecutive param sets trigger exception"
@dakejahl reports:

This causes an exception
[code]

Is there a reason why setting parameters back to back like this would be a problem? If I add a sleep in between it works

[2020-11-23 07:36] julianoes commented on #1263
I tried reproducing this against SITL and I don't see it happen with this snippet:

[code]

I've added that to https://github.com/mavlink/MAVSDK/blob/develop/src/integration_tests/param.cpp.

@dakejahl could you provide me with a minimal example to reproduce this?

[2020-11-23 07:59] julianoes commented on #873
This has not happened in a long time, closing.

[2020-11-23 07:59] #873 closed

[2020-11-23 08:00] julianoes commented on #907
Closing this as it's outdated. Please re-open if the issue is still there.

[2020-11-23 08:00] #907 closed

[2020-11-23 08:06] julianoes commented on #1263
@dakejahl I can't see where it goes wrong in code either. Please generate a backtrace and paste it here.

[2020-11-23 08:14] julianoes commented on #1162
I'm closing this because I think this would need to be fixed as part of a rally points plugin. To me it has not much to do with the mission_raw plugin which only handles MAV_MISSION_TYPE_MISSION for now.

@Jonsen94 feel free to start a PR in https://github.com/mavlink/MAVSDK-Proto if you want to add a rally plugin.

[2020-11-23 08:14] #1162 closed

[2020-11-23 08:47] julianoes commented on #1003
Fixed by #1006, and covered by an integration test in 1264.

[2020-11-23 08:47] #1003 closed

[2020-11-23 08:49] julianoes commented on #800
I'm closing this because there was no response. If someone runs into this again and can provide more data, please re-open and comment below.

[2020-11-23 08:49] #800 closed

[2020-11-23 09:46] julianoes commented on #990
The tests actually work if used with a VTOL.

While looking into it I also fixed a subtle timing issue #1265.

[2020-11-23 09:46] #990 closed

[2020-11-23 13:25] julianoes commented on #827
I believe we no longer link to these dlls because we switched back from Cygwin to MSVC build.

However, as I can see, we are linking to the VCRUNTIME140.DLL instead. So far there have not been any complaints regarding this, so I'm assuming it's fine and closing this issue.

[2020-11-23 13:25] #827 closed

[2020-11-23 16:40] JonasVautherin commented on #1263
Quick guess: [this line](https://github.com/mavlink/MAVSDK/blob/develop/src/core/mavlink_parameters.cpp#L70) is called twice.

[2020-11-23 16:43] julianoes commented on #1263
@JonasVautherin right, that's also my guess but I don't understand how/why yet.

[2020-11-24 03:16] dakejahl commented on #1263
Haven't had time to dig into this, I'll report back soon

[2020-11-25 08:40] julianoes commented on #955
I'm going to close this thread because it has been silent for a while. Feel free to re-open and comment for more updates.

I would also pick https://github.com/mavlink-router/mavlink-router here as this might be an alternative for anyone trying to forward messages.

[2020-11-25 08:40] #955 closed

[2020-11-25 08:41] julianoes commented on #914
I believe this can be closed now.

[2020-11-25 08:41] #914 closed

[2020-11-25 08:45] julianoes commented on #903
It's been a while, I'm closing this.

[2020-11-25 08:45] #903 closed

[2020-11-27 21:45] julianoes commented on #902
The MavlinkPassthrough plugin is now built by default.

[2020-11-27 21:45] #902 closed

[2020-11-27 22:48] AlexKlimaj commented on #1252
I was able to implement this functionality using the mavlink C library. I still think the ability to broadcast using mavsdk would be very useful to a lot of people in the future. You can leave this open or close it if you like.

Broadcasting over serial is easy. Here is the UDP broadcast code:

[code]

[2020-11-27 23:57] JonasVautherin commented on #1252
I understand that broadcasting some messages may make sense (typically a GNSS base station wants to do just that). But at the MAVSDK level, the user does something like `drone.action.takeoff()`, where `drone` represents a MAVLink system (i.e. a pair of <sysid, compid>). Should MAVSDK allow for broadcasting the `takeoff` command? Because a command is a reliable message, MAVSDK expects to receive an

[2020-11-30 04:04] julianoes commented on #1252
Maybe this is a hint that the MavlinkPassthrough plugin should not be a plugin but a direct API of the Mavsdk class. We could then add some sort of flag to signal the broadcast option.

[2020-12-01 04:40] divyanshu1234 opened #1272 "Mission upload progress functionality"
I'm using MAVSDK-Java to build a ground control app on Android. Currently, while uploading the `MissionPlan` there is no way to send feedback to the users which tells how much of the upload task has been completed.

Would it be possible to add a feature to the SDK that shows the upload progress. For example `x` out of `n` `MissionItems` have been uploaded? Especially while uploading large missions

[2020-12-01 07:09] julianoes commented on #1272
@JonasVautherin we could do this by using the finite stream like calibration, right?

https://github.com/mavlink/MAVSDK-Proto/blob/88e2fd133d868d3557541d5047549f5dea457685/protos/calibration/calibration.proto#L13-L16

[2020-12-01 21:08] dakejahl commented on #1263
I'm not sure how to generate a backtrace, but here's a minimal example to reproduce. This is being tested on a raspberry pi Zero W using MAVSDK 0.31.0

[code]

[2020-12-01 21:10] dakejahl commented on #1263
apologies for the pointers.. but TBH I hate using std::make_shared and all that other excessive syntax

[2020-12-02 01:40] julianoes commented on #1263
@dakejahl to get a backtrace, just run it with gdb.

Or save a core dump:
https://stackoverflow.com/questions/17965/how-to-generate-a-core-dump-in-linux-on-a-segmentation-fault

[2020-12-02 01:44] julianoes commented on #1263
`std::shared_ptr` for plugins is no longer necessary, and we're updating the examples:
https://github.com/mavlink/MAVSDK/pull/1270/files#diff-76a888fbf298963b3e21d48a9d7efd522e32ac8e65446b29311addaf78602453R104-R106

I would challenge that.

[2020-12-02 02:30] julianoes commented on #1263
@dakejahl I still can't reproduce it, just tried against against SITL.

[2020-12-02 03:01] dakejahl commented on #1263
Here's a backtrace when I run it with gdb
[code]

[2020-12-02 08:11] julianoes commented on #1263
This is what I had expected but I still can't understand how it could happen by looking at the code. And I could not trigger anything with sanitizers, valgrind, sleeps, double param sendings, etc..

@dakejahl could you share any changes you have made on top of v0.31.0?

[2020-12-02 20:15] mwshafer commented on #909
@julianoes Any updates on where this might be in the queue? Thanks.

[2020-12-04 23:33] stokekld opened #1280 "Pass from Mission mode to Offboard mode"
Hello everyone.

I would like to know the right way to pass from mission mode to offboard mode and vice versa. I would like to move the drone in the middle of the mission.

Is there a possible way??

[2020-12-05 01:27] julianoes commented on #1280
To engage you offboard mode, you can use `offboard->start()` (https://github.com/mavlink/MAVSDK/blob/d6bbe6acb0fb5f9d3b16c5ef7abd09b43d35aa61/src/plugins/offboard/include/plugins/offboard/offboard.h#L294-L301), to go back to mission mode, just do `mission->start()` (https://github.com/mavlink/MAVSDK/blob/d6bbe6acb0fb5f9d3b16c5ef7abd09b43d35aa61/src/plugins/mission/include/plugins/mission/mission.h

[2020-12-05 03:55] petergerten opened #1282 "mavsdk_server does not clean mission state after flight"
If I want to start a second mission after a successful first mission - without restarting mavsdk_server -
the previous state persists.

Resulting in things like: is_mission_finished being true.
This happens even after clear_mission() and reuploading a new mission.

Is there any "cleanup" action I have to do that I am not aware about?

[2020-12-05 03:58] julianoes commented on #1282
Thanks for the issue. That doesn't sound like the correct behaviour. Which PX4 version are you using? And can you reproduce this against SITL?

[2020-12-05 04:02] petergerten commented on #1282
I am currently experiencing this with a customized PX4 firmware on the Yuneec H520 (in HITL). Will try in SITL with standard firmware now.

[2020-12-05 05:53] petergerten commented on #1282
I can reproduce it in SITL using PX4 Release 1.10.1

[2020-12-05 19:15] julianoes commented on #1282
@petergerten does it still happen with 1.11?

[2020-12-05 19:27] #1055 closed

[2020-12-05 19:27] #1056 closed

[2020-12-09 17:45] stokekld commented on #1280
Hey, thank you. I tried what you said and it worked correctly.

[2020-12-09 20:12] julianoes commented on #1280
Awesome, thanks for reporting back.

[2020-12-09 20:12] #1280 closed

[2020-12-10 14:44] yhabib29 opened #1284 "MavlinkCommandReceiver public access to private elements"
Hi,
We might have missed a mistake during corresponding pull request #1218 except if it was made in purpose.
The following lines in **_MavlinkCommandReceiver_** class seem to be public instead of private:
from https://github.com/mavlink/MAVSDK/blob/8d4ede5c08cfee476054b143d6146595550f9569/src/core/mavlink_commands.h#L214-L236

[2020-12-10 20:05] julianoes commented on #1284
Thanks for the note @yhabib29 .

[2020-12-10 22:00] #1284 closed

[2020-12-31 20:59] jonyMarino commented on #1164
I faced the same issue. @JonasVautherin, won't it be a good idea to change the docs in the meantime?

[2021-01-04 11:14] JonasVautherin commented on #1164
I am not working on Windows, so all I know is that it works on _my Windows_ (may not be the usual setup since I installed it just for MAVSDK), and it seems like it works [in the CI](https://github.com/mavlink/MAVSDK/blob/develop/.github/workflows/main.yml#L477-L510).

Happy to review any PR if you have suggestions to improve the Windows workflow :blush:.

[2021-01-10 21:46] R-Paladugu opened #1292 ""Cannot open source file plugin_base.h" error"
As the title suggests, I keep getting a weird error as stated above that prevents me from using any of the mavsdk api because I cannot include it into my programs. I checked to make sure everything was installed correctly and nothing seemed broken. How can I fix this?

I am on an Ubuntu 20.04 VM if that helps.

[2021-01-10 22:00] R-Paladugu commented on #1292
Update: I can use the source files that aren't included in the plugins folder, everything located before that folder doesn't give me the same issue.

[2021-01-10 23:50] JonasVautherin commented on #1292
I cannot really guess what you are trying to do. Did you try to to build the examples? Did you succeed?

[2021-01-10 23:57] R-Paladugu commented on #1292
I ended up figuring out the issue, it was related to my IDE not picking up the MAVSDK folder rather than MAVSDK not being installed properly.

[2021-01-11 09:30] #1292 closed

[2021-01-16 17:25] AldoCF96 commented on #1197
I have been reading the documentation, but I am not sure how the connections are store in system and I am sure I can delete them.

[2021-01-16 21:52] JonasVautherin commented on #1197
Yeah preferably you'd have to look directly into the code for that :see_no_evil:

[2021-01-18 19:04] mcsauder commented on #952
Hi everyone, these two PR's are related to this issue so I thought I'd post them here.  Once/if these are merged upstream I'll help out with work on the MAVSDK side where I can:
https://github.com/PX4/PX4-ECL/pull/962
https://github.com/PX4/PX4-Autopilot/pull/16544

[2021-01-18 19:36] bone3011 commented on #952
thanks Mark*!*

On Mon, 18 Jan 2021 at 21:04, Mark Sauder <notifications@github.com> wrote:

[2021-01-29 17:52] thomasgauvin commented on #931
I don't know if this helps anyone, but I spent a shameful couple of hours trying to debug the `bind error: 10048` issue. In my case, I wasn't specifying the port properly. I was writing `./mavsdk_server udp://14541 -p 50051` when I should have been writing `./mavsdk_server udp://:14541 -p 50051`.

This link helps to understand how mavsdk_server communicates with simulators and mavsdk_clients and h

[2021-01-29 23:32] Katawann opened #1296 "Compilation failed for Raspberry Pi with undefined reference to `__atomic_store_8'"
When I try to compile MAVSDK C++ on my Raspberry Pi (RPi 3B+ armv7l with Raspbian GNU/Linux 10 buster), it fails with the `v0.35.1` but not with the `v0.33.1`

With the `v0.35.1`, it finishes with the error below:

[code]

[2021-02-01 11:54] julianoes commented on #1296
You need something like https://github.com/mavlink/MAVSDK/blob/e869ba85909d39d69ad4b326e41c9378badd1417/src/core/CMakeLists.txt#L74 but it should only be added for armv6 and armv7 targets, so it would need some if to check for that. Would you mind trying that out and making a pull request once you find a solution that works?

[2021-02-01 11:57] julianoes opened #1299 "UDP port parsing is weird"
Sometimes a connection added with `udp://portnumber` seems to work, and sometimes it seems to require `udp://:portnumber`. It's not quite clear why this happens.

[2021-02-01 11:57] julianoes commented on #931
Thanks for the note @thomasgauvin. I have realized this subtle difference before, and I'm not quite sure where it comes from.

I've created an issue: https://github.com/mavlink/MAVSDK/issues/1299

[2021-02-01 18:36] Katawann commented on #1296
Done ! I don't have the issue anymore with the check thank you

[2021-02-01 18:36] #1296 closed

[2021-02-01 21:19] JonasVautherin commented on #1296
Thank you for the contribution!

[2021-02-02 13:41] julianoes commented on #1299
I just checked the unit tests and it looks like `udp://14540` gets evaluated to `UDP` with host `14540`.

@JonasVautherin what would you say should be the behaviour?
1. Reject `14540` because it is not of the form `num.num.num.num`?
2. Or just assume `14540` is the port number?

[2021-02-02 15:53] JonasVautherin commented on #1299
Same, I would favor 1 :+1:

[2021-02-02 16:14] L4ncelot commented on #1282
@julianoes, I can confirm the same behavior with 1.11 in the SITL configuration.

[2021-02-03 08:48] julianoes commented on #1282
@L4ncelot would be great if you could test #1304.

[2021-02-03 11:07] helloE9 opened #1305 "errors while build MAVSDK on raspberry pi 3"
Hi,
I got this error while I am building last stable branch of MAVSDK.

pi@raspberrypi:~/MAVSDK $ cmake --build build/default
[  1%] Built target gtest
[ 18%] Built target mavsdk
[ 20%] Built target mavsdk_calibration
[ 23%] Built target mavsdk_camera
[ 24%] Built target mavsdk_mission
[ 26%] Built target mavsdk_telemetry
[ 27%] Built target gmock
[ 28%] Built target gtest_main
[ 29%] Linking CXX

[2021-02-03 11:46] julianoes commented on #1305
This should be resolved in the latest develop, see https://github.com/mavlink/MAVSDK/pull/1300.

[2021-02-03 11:46] #1305 closed

[2021-02-03 12:26] L4ncelot commented on #1282
@julianoes #1304 works great, thank you for the support.

[2021-02-03 12:58] #1282 closed

[2021-02-03 17:01] #1299 closed

[2021-02-04 01:28] helloE9 commented on #1305
At this time, I got this error,
after I did,
$ cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON -Bbuild/default -H.
...
Install the project...
-- Install configuration: "Release"
-- Installing: /home/pi/MAVSDK/build/default/third_party/install/bin/curl-config
-- Up-to-date: /home/pi/MAVSDK/build/default/third_party/install/lib/pkgconfig/libcurl.pc
-- Up-to-date: /home/pi/MAVSDK/build/defaul

[2021-02-04 02:08] mcelhennyi opened #1307 "Offboard doesnt want to enable after a is_active() check."
MavSDK version v0.35.1

I am having an issue where the offboard does not want to enable. It seems like a few things...a race condition with a bad check (mavsdk side) and a bad way of checking the state of offboard (my side).

I was checking if the _offboard->is_active() but that was always true (because _mode != Mode::NotActive - it was PositionNed) before calling _offboard->start()...this was not

[2021-02-04 06:55] julianoes commented on #1307
@mcelhennyi thanks for bringing this up. So you basically check the flight mode instead of what MAVSDK is set to, right? I'm not entirely convinced yet but let's discuss it.

Could you share the user code that uses the offboard API? I'm trying to figure out why it doesn't work for you in the way it's designed.

[2021-02-04 07:19] helloE9 commented on #1305
Hi,
Why I still have this problem on Rasbian OS on Raspbery Pi 3?

pi@raspberrypi:/MAVSDK $ sudo cmake --build build/default
Scanning dependencies of target gtest
[  1%] Building CXX object src/third_party/gtest/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
[  1%] Linking CXX shared library ../../../../lib/libgtestd.so
[  1%] Built target gtest
Scanning dependencies of target mavsdk
[  2%] Bu

[2021-02-04 07:21] helloE9 opened #1309 "Build a Raspberry companion for PX4 to use MAVSDK"
Hi,
Why I still have this problem on Rasbian OS on Raspbery Pi 3?

pi@raspberrypi:/MAVSDK $ sudo cmake --build build/default
Scanning dependencies of target gtest
[ 1%] Building CXX object src/third_party/gtest/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
[ 1%] Linking CXX shared library ../../../../lib/libgtestd.so
[ 1%] Built target gtest
Scanning dependencies of target mavsdk
[ 2%] Buildi

[2021-02-04 10:16] JonasVautherin commented on #1309
First, `cmake` does not need `sudo`. So this is most likely wrong: `sudo cmake --build build/default`.

Can you show the command line you use for the configure step? Is that a clean build?

[2021-02-04 10:18] julianoes commented on #1309
It looks like your compiler and standard library are too old and don't support features (like `std::optional`) used in MAVSDK.
What RPi OS image are you using? You probably have to update to something newer.

[2021-02-04 12:09] helloE9 commented on #1309
yes. after got some error several times, I just thought to try with 'sudo' if there was any permission problem.

I did follow steps listed on build guide from MADSDK github

sudo apt-get update -y
sudo apt-get install cmake build-essential colordiff git doxygen -y

Clone the MAVSDK repository (or your fork):
git clone https://github.com/mavlink/MAVSDK.git
cd MAVSDK
git checkout develop
git submodu

[2021-02-04 12:10] helloE9 commented on #1309
Thanks!!! and, I forgot I installed old gcc to test very old module :(
so, now I did upgrade gcc to 8.3 and doing build again.

[2021-02-04 14:42] julianoes commented on #1309
Nice, so the issue can be closed?

[2021-02-04 15:38] mcelhennyi commented on #1307
Yes, I swapped from is_active to just using the telemetry mode instead, since it would be more accurate. I think there should be a secondary call in offboard mode that is is_active() which returns what it returns now...and is_enabled or somehing like that which returns offboard mode is on or not.

Sure, my user code is here: https://github.com/mcelhennyi/NXP-HoverGames-2/blob/ebc11e9577710f4cf036a

[2021-02-04 15:59] julianoes commented on #1307
By the way:

https://github.com/mcelhennyi/NXP-HoverGames-2/blob/ebc11e9577710f4cf036a230838d943761f902f8/code/src/system/agent/Agent.cpp#L118-L123

This can just be:
[code]

[2021-02-04 16:11] julianoes commented on #1307
https://github.com/mcelhennyi/NXP-HoverGames-2/blob/ebc11e9577710f4cf036a230838d943761f902f8/code/src/system/agent/Agent.cpp#L293-L298

Is this actually a problem that can happen? Or is the printf maybe incorrect?

[2021-02-04 16:34] mcelhennyi commented on #1307
Good to know...i never did look to see if << was overridden or not.

Technically my wording is incorrect (TARGETING_MODE vs RETURN_TO_LAUNCH) - bad copy-pasta....but the set position does return a status, although I have not seen it result in anything other than success in my testing.

[2021-02-05 08:59] julianoes commented on #1307
It should always return "Success" unless there is a connection problem in which case nothing will work anymore.
https://github.com/mavlink/MAVSDK/blob/14c5154c42f926addb303b8d6b26a4b6b03a81f4/src/plugins/offboard/offboard_impl.cpp#L353-L354

So, let me try to rephrase the problem:
We have two states:
1. The PX4 flight mode which can be set to offboard or not.
2. The mode of the MAVSDK offboard cla

[2021-02-05 09:16] helloE9 commented on #1309
e> Nice, so the issue can be closed?

Thanks,
Everything goes well :)
Wish happy weekend for you guys.

[2021-02-05 09:16] #1309 closed

[2021-02-05 16:25] mcelhennyi commented on #1307
I checked is_active() because it seemed like (before I looked into the code base) that this would be a good thing to check before commanding it to start() since I wouldnt want to start then start again (that felt like bad form). Then come to find out is_active() seems more useful internally as a way to see if a setpoint was set or not...but like I said above even internally there was a flaw with i

[2021-02-08 13:27] julianoes commented on #1307
Hm, so this would mean it resets here:
https://github.com/mavlink/MAVSDK/blob/2269a0cfa6e225ee89be600d38dcb83c78283acc/src/plugins/offboard/offboard_impl.cpp#L617-L622
Basically, the point is that you set a setpoint and then immediately start it. If it's not started within 1.5 seconds, it will timeout again. I see how that is a bit confusing.
We could think about removing this timeout, or making i

[2021-02-08 15:16] mcelhennyi commented on #1307
`offboard.autoStart = true` maybe?

But yea, it would reset there. One of the changes I made, but was unsure of its correctness was changing the != to == for the _mode part of that if(). However I made that change then (i think) immediately made the telemetry mode change as well. So not sure what effect (if any) that != to == had.

I think calling start makes sense, but I also think its valuable f

[2021-02-08 23:10] DoppleGangster opened #1313 "MAVSDK server build fails"
I'm trying to build on an NVIDIA Xavier NX. I have managed to build the server previously, however I wanted to use the updated build. It looks like it wants me to rebuild some of the libraries using -fPIC? Not sure if this is the right direction to start looking or if I have a bigger problem.

I followed the instructions [here](https://mavsdk.mavlink.io/develop/en/contributing/build.html#install-a

[2021-02-08 23:24] JonasVautherin commented on #1313
Can you try adding something like `CFLAGS="-fPIC"` to [this line](https://github.com/mavlink/MAVSDK/blob/develop/third_party/openssl/CMakeLists.txt#L69)? Something like:

[code]

[2021-02-09 01:23] DoppleGangster commented on #1313
Still getting the same error with the change.

[2021-02-09 02:52] DoppleGangster commented on #1313
Sorry should have added that I am building local on the machine. I did update the case that would correspond with this, at least I believe.

I'll try cross compiling in the morning to see if I get a more desired result.

Thanks again for your input.

[2021-02-09 07:59] julianoes commented on #1307
Yes, I think we should probably add that. So we try to start offboard mode and then we wait until it's actually active. Once it's active, we return.

And in the same way we could have `is_active` check both, if setpoints are sent *and* if the mode is offboard.

[2021-02-09 09:12] JonasVautherin commented on #1313
Ah... would it be [here](https://github.com/mavlink/MAVSDK/blob/develop/third_party/openssl/CMakeLists.txt#L86), then?

[2021-02-09 13:05] DoppleGangster commented on #1313
It was there. The cross compile worked so think I am good.

Thanks!

[2021-02-09 13:05] #1313 closed

[2021-02-09 18:18] mcelhennyi commented on #1307
I agree, that makes the most sense to me.

[2021-02-10 08:48] julianoes commented on #1307
Ok, I'll put that on my todo list but I can't promise you when I get to it. If you're faster, I'd appreciate a pull request :wink:.

[2021-02-10 09:40] bb17pugc opened #1316 "Getting "timeout" issue while uploading mission on PixHawk (PX4) via MAVSDK"
Hi,
I am using MAVSDK to upload mission from terminal to my PixHawk 4 (PX4) via telemetry.
Sometimes it works like a charm and sometime it give the "timout" error and stops.

Can someone please tell the fix for this issue? I tired to go into the file and updated the timeout value from "none" to "50" but it didn't worked. Same issue, sometimes it work and sometimes not work.

Complete code file is

[2021-02-10 09:50] julianoes commented on #1316
Your code looks all fine to me.

I'm suspecting a problem with the connection. Are you using a radio or a direct FTDI cable?
And which PX4 version are you using?

Maybe we could resolve this by just increasing the timeout or making it configurable.

[2021-02-10 15:29] bb17pugc commented on #1316
I am using the **FTDI Cable** to connect the Telemetry with my laptop.
Telemetry: **RFD900+**

PX4 Version: **1.11**
Where we can increase that time and what is the unit (sec/msec) of time to increase?

[2021-02-10 16:03] julianoes commented on #1307
Funny enough I just ran into this in the PX4 integration tests here:
https://github.com/PX4/PX4-Autopilot/blob/82d6cc3dba3bbc8d6fbd0a3449e7d67560d4a67d/test/mavsdk_tests/autopilot_tester.cpp#L425-L426

I received "NoSetpoint" like you said so.

[2021-02-10 17:42] julianoes commented on #1316
Ok, and is the upload working when the drone is close, and presumably the connection is good?

[2021-02-10 17:43] julianoes commented on #1316
The timeout is set in https://github.com/mavlink/MAVSDK/blob/855a4b5d1e7c13a601781792f25dc5fe08ff5ae3/src/core/mavlink_mission_transfer.h#L248 so you would have to rebuild mavsdk_server yourself.

[2021-02-10 22:26] mrpollo commented on #112
For context, there's some information on a duplicate issue #534

[2021-02-11 00:10] coderkalyan commented on #112
The most time consuming thing to develop here is probably a parser for GPS messages I think?

[2021-02-11 00:15] coderkalyan commented on #112
Or... not, https://github.com/PX4/PX4-GPSDrivers this exists apparently

[2021-02-11 06:22] julianoes commented on #1263
@dakejahl is this still an issue? Did you ever encounter it again? I still have not been able to replicate it.

[2021-02-11 07:22] bb17pugc commented on #1316
Drone is at about 3-4 feet from the GCS telemetry. Even then the problem is coming.
Sometime it works with the 200+ mission items, and sometimes it didn't work even with the 5 mission items.

I will try the change in timeout and then let you know the feedback. Thank you.
What is the unit of time we are giving? Is this seconds or something else?

[2021-02-11 08:38] julianoes commented on #1316
It's seconds there. Are you rebuilding mavsdk_server yourself already?

[2021-02-11 09:42] AlexisTM commented on #112
The [rtk_ros](https://github.com/AlexisTM/rtk_ros) actually uses -an outdated version of- [PX4/GPSDrivers](https://github.com/PX4/PX4-GPSDrivers). We were using Mavros for that RTCM forward feature.

[2021-02-11 11:21] bb17pugc commented on #1316
Yes, I am on it as you directed, but not doing anything before. But getting problems while building that.
I am using [this](https://mavsdk.mavlink.io/develop/en/contributing/build.html) guide to build that with our timeout changes.

[2021-02-11 11:37] Katawann commented on #112
And from this issue #1252, this is how QGC is handle it:

[2021-02-11 13:47] YogeshHC opened #1318 "Include MAVSDK in QtCreator CMAKE project"
I'm trying to build a custom application with MAVSDK. I've built MAVSDK following the procedure mentioned [here ](https://mavsdk.mavlink.io/develop/en/contributing/build.html) and I'm able to compile and build [examples ](https://github.com/mavlink/MAVSDK/tree/develop/examples/battery) using CMAKE. However, when I try to include MAVSDK in my application(QT creator with CMAKE) i get ``` undefined r

[2021-02-11 16:18] JonasVautherin commented on #1318
I think you don't link MAVSDK correctly. Did you have a look at [how the examples do it](https://github.com/mavlink/MAVSDK/blob/develop/examples/fly_mission/CMakeLists.txt)?

[2021-02-11 16:22] Yogi30 commented on #1318
Hi @JonasVautherin, thanks for the reply. Yes, I have checked the examples directory. I'm able to build the example using CMake in windows, but when I tried to do build the same project in Qt creator, I get these errors.

[2021-02-11 16:28] YogeshHC commented on #1318
Hi @JonasVautherin, yes I have checked the examples in the examples directory. I've built and tested them with CMake on windows. But, when I try to build the same example (eg. battery) in Qt Creator(CMake Project) on the same machine I get these errors.

[2021-02-11 19:24] dakejahl commented on #1263
I haven't dug into it anymore. My changes should not affect this code path in particular. I suspect it's probably an architecture specific issue (Zero W is ARMv6 and the compiler is arm-linux-gnueabihf-g++)

[2021-02-11 19:26] dakejahl commented on #1263
If you have a Zero W on hand you can try that example I posted above, here's my docker file too for reference (using dock

**Dockerfile**
[code]

You already know this but to use it...
[code]

[2021-02-11 20:58] yhabib29 opened #1319 "Using multiple UDP remotes"
Hello,
I am trying to use MAVSDK to build 2 programs:
- A "client" program which runs on the companion computer on each drone.
- A GroundStation (GS) which can connect to each client.

I am using 2 UDP connections to connect each client to the GS. However, I can create only one UDP remote at a time otherwise it overwrites the existing system (is_single_system in mavsdk_impl.cpp).

How should I con

[2021-02-11 21:29] JonasVautherin commented on #1318
But the code you show above is not from the examples, is it? :thinking:

[2021-02-11 21:31] JonasVautherin commented on #1319
I think you're right: right now MAVSDK can only add one remote. This would need to be updated in the implementation :+1:. Open for contributions, though :innocent:

[2021-02-12 07:46] YogeshHC commented on #1318
main.cpp
[code]

CMakeLists.txt
[code]

When I build(Qt Creator CMake project) I get,
[code]

[2021-02-12 09:13] JonasVautherin commented on #1318
Is that a clean build? Does the cmake configure step succeed?

[2021-02-12 09:24] YogeshHC commented on #1318
Yes, it is a clean build.

[code]

[2021-02-12 09:25] julianoes commented on #1318
It is compiling with Mingw GCC, not MSVC. That's not supported. You can see that there are quite a few places in cmake where we check for `MSVC` to check if it is Windows.

[2021-02-12 09:27] julianoes commented on #1263
Aha, that's a good point about RPi Zero. I can give that a try. Thx for the note.

[2021-02-12 09:28] julianoes commented on #1316
What architecture are you on? I can build a binary and upload that for you.

[2021-02-12 09:46] YogeshHC commented on #1318
I missed that. I changed it to `MVSC` and it worked. Than you @julianoes @JonasVautherin

[2021-02-12 09:46] #1318 closed

[2021-02-12 10:29] julianoes commented on #1318
Oh nice!

[2021-02-12 10:55] MuhammadBilal1 commented on #1316
That will be great if you can please do this favour.

I am using Ubuntu 20.04 for doing all this.

[2021-02-12 12:25] julianoes commented on #1316
That's x86-64? That should actually be fairly straightforward to build then, just do:

[code]

[2021-02-12 12:35] MuhammadBilal1 commented on #1316
I am using x64.

[2021-02-12 13:05] julianoes commented on #1316
[mavsdk_server.zip](https://github.com/mavlink/MAVSDK/files/5971918/mavsdk_server.zip)

try this

[2021-02-12 14:09] MuhammadBilal1 commented on #1316
Where I put this file?

Where I put this file?

[2021-02-12 14:19] julianoes commented on #1316
You have to run it with:
[code]

And then in your script you have to use:
[code]

The script and the binary have to run on the same machine.

[2021-02-13 21:11] Macf41 commented on #1197
My idea is this :  I get this now so basically there is a vector called     std::vector<std::shared_ptr<Connection>> _connections{};
My idea is to keep a track of the connection for example:
  using a map < std::string ,  std::shared_ptr<Connection> >  _connection
udp://0.0.0.0:14550 map to a their respective connection. So basically I know I can address any element from the map, and delete it if

[2021-02-15 08:44] julianoes commented on #1197
@Macf41 contributions would be very welcome!

So the first thing that we have to think through, in my eyes, is what the API would look like. So, what would the interface be to tell MAVSDK to "remove" a connection? That part is not clear to me just yet.

[2021-02-15 11:03] yhabib29 commented on #1319
All right, I will try to implement it in few days.
Thank you for the confirmation 👍🏼

[2021-02-15 17:14] AldoCF96 commented on #1197
Basically I was thinking something in the way of
remove_connection(string url){}
the url would be something like  udp://0.0.0.0:14540
if serial would be like  /dev/ttyS0:57600
or
remove_connection(string type, string url)
type is either udp or tcp or serial

Also there is still the issue with the system being created, so it would need to be deleted first or cleared. But developers have access to t

[2021-02-16 08:52] julianoes commented on #1197
Deleting/clearing systems is tricky because it involves the plugins being deleted first. Or plugins would only be given a weak_ptr to their system, and before doing anything, they would always have to check if the system is still there with `weak_ptr->lock()`. That's a bit of an overhead that I was trying to avoid so far.

[2021-02-16 14:28] MuhammadBilal1 commented on #1316
I tried to follow the instructions you gave, and attached are the results. So far no success in running the operation.

![Screenshot from 2021-02-16 19-12-49](https://user-images.githubusercontent.com/7131058/108076288-1500b680-708d-11eb-9df8-fb05e6b2403f.png)
![Screenshot from 2021-02-16 19-14-08](https://user-images.githubusercontent.com/7131058/108076293-1631e380-708d-11eb-97ba-8b1922d62d61.png

[2021-02-16 16:27] julianoes commented on #1316
Hm, I can see how it looks busy because it's trying to get several parameters, etc. all at startup. Does it work better if you wait a couple of seconds until these things have stabilized before trying to upload a mission?

[2021-02-16 16:38] Macf41 commented on #1197
I guess it is right, my biggest concern with that is that we have to keep a map of all the connections
So url - > connection pointer - > system
I was thinking more in the way user is in charge of deleting the system. There should be another function to delete plugins, I don't know if system has a destructor function.

But certainly, I don't know how to check what plugins were created so I can dele

[2021-02-17 10:28] julianoes commented on #1197
Yes, that should be more doable.

[2021-02-17 11:41] norisg opened #1320 "Fail to build OpenSSL on macOS: "fatal error: 'stdio.h' file not found""
Related to the following slack conversation: https://px4.slack.com/archives/C52DXKYLV/p1613318568043400

I have created an output file with the error description.

I guess its a macOS Xcode issue.

I created the output file : https://gist.github.com/norisg/a825d85ea27193ccf588b30f12f100cd

[2021-02-17 12:10] JonasVautherin commented on #1320
Better explain the error here than link to it, for the record. Those links may get unavailable after a while.

The problem is the following: when building MAVSDK in superbuild mode, CMake will build OpenSSL as part of the dependencies. On macOS, it succeeds in configuring but fails to build, with the following error message:

[code]

[2021-02-17 12:11] JonasVautherin commented on #1320
I think you are missing the `SDKROOT` environment variable to build OpenSSL. It is done [here](https://github.com/mavlink/MAVSDK/blob/develop/.github/workflows/main.yml#L381) in the CI.

Can you try something like below, and run a clean build again?

[code]

[2021-02-17 13:00] julianoes commented on #1320
This work fine for me:
[code]

@norisg do you have the command line tools installed?
I think `sudo xcode-select --install` should do it. I did that when `brew` told me to.

[2021-02-17 13:22] julianoes commented on #1320
@norisg next question: are you on M1 or Intel?

[2021-02-17 15:09] Macf41 commented on #1197
If we are exposing the vector I was thinking of adding a map  from url to connection, cause developers will not have a way of knowing which pointer belongs to what connection.  Just changing the variable _connections from a vector to a map <string, vector>

[2021-02-18 23:32] norisgOG commented on #1320
Thank you for your time, so I tried the command `export SDKROOT=$(xcrun --sdk macosx --show-sdk-path)` which worked for me, the command `sudo xcode-select --install` was already installed and made no difference.

[2021-02-18 23:36] norisg commented on #1320
So installation worked fine after the ` export SDKROOT=$(xcrun --sdk macosx --show-sdk-path)`

[2021-02-18 23:36] #1320 closed

[2021-02-19 17:16] yhabib29 opened #1326 "Messages forwarding feature"
Hi,

For my projects needs, I had to implement messages forwarding.
An example use case is:
- 245.190 = Ground Control Station (GCS)
- 1.195 = Companion Computer (CC)
- 1.1 = PX4 Autopilot (PX4)

CC is connected to the GCS (UDP) and to the PX4 (serial).
We need the GCS to be able to send command/messages directly to the PX4.

Thus, I have added messages forwarding functionality based on PX4 source

[2021-02-19 18:02] yhabib29 commented on #1319
To summarize the UDP connections system in Mavsdk.
- add_udp_connection("IP:PORT"):
    Create a new UdpConnection instance listening on IP:PORT.
    When the first message coming from a new endpoint (IP_ENDPOINT:PORT_ENDPOINT) is received, a new remote is created to send messages to IP_ENDPOINT:PORT_ENDPOINT.

- setup_udp_remote(IP, PORT):
    Create a new UdpConnection instance listening on 0.0.

[2021-02-22 15:35] yhabib29 commented on #1319
In addition, could it be interesting to add a vector of available system IDs for each connection ?

When sending a message to a specific system ID, this will allow to ignore connections which have never see the corresponding system ID.

The reason is that for radio connections, it might be better to preserve the bandwidth from useless messages.

[2021-02-23 03:07] Guillellorente opened #1327 "Connection Error"
Hi all, I'm new here trying to develop some missions in order to be able to do the inspection of a building with a drone. I started following the steps in [https://mavsdk.mavlink.io/develop/en/cpp/quickstart.html](url) but I'm blocked where I have to run the example of the takeoff and landing. I've followed every step precisely and still having the following issue when running the "./takeoff_and_l

[2021-02-23 06:51] julianoes commented on #1327
There have been some changes on the PX4 side that you might run into. Basically, MAVSDK is seeing heartbeats from QGroundControl.

When you're  connecting you should add a check for `system.has_autopilot()`. If not, you keep waiting and ignore it.

[2021-02-23 07:13] julianoes commented on #1327
This should fix it: https://github.com/mavlink/MAVSDK/pull/1328

Can you try it?

[2021-02-23 07:17] julianoes commented on #1319
That sounds like a bug, right?

Yes, I think that would be a good optimization.

[2021-02-23 07:20] julianoes commented on #1326
I think message forwarding would be a good feature. However, I wouldn't make it an option of the mavsdk configuration, so of the mavsdk instance but rather of connections. So you don't necessarily want forwarding between all connections but maybe only between some of them. So whenever you add a connection, you could specify if it should forward or not.

[2021-02-23 10:49] yhabib29 commented on #1319
Well, I think yes but I did not know if it was done in purpose ...
Here is the quick changes I did, but there might be a better solution.
[code]

All right, I thought of adding a std:vector<uint8_t> in Connection class protected attributes, and a method to check for system ID existence.
I will add it to the corresponding branch, and initialize a pull request.

[2021-02-23 10:53] Guillellorente commented on #1327
Yes! it worked out perfectly, I will take into account the autopilot check and all the changes made in order to continue with the other examples.  If I'd have future unresolved issues I'll post, I hope will not!

Thank you very much.

Best regards

[2021-02-23 10:54] Guillellorente commented on #1327
Yes! it worked out perfectly, I will take into account the autopilot check and all the changes made in order to continue with the other examples. If I'd have future unresolved issues I'll post, I hope will not!

Thank you very much.

Best regards

[2021-02-23 11:03] yhabib29 commented on #1326
Oh, good point, that is a better solution !
I will:
- Add a parameter `message_forwarding` in functions creating connection (default to `false`).
- `bool _message_forwarding;` protected attribute in `Connection `class, with a getter public method.
- A check for this boolean in `forward_message `function when iterating over all connections.

Thus, if one connection has the `message_forwarding` opti

[2021-02-24 13:57] julianoes commented on #1327
You're welcome!

[2021-02-24 13:57] #1327 closed

[2021-02-24 13:57] julianoes commented on #1319
@JonasVautherin can you check this?

[2021-02-28 20:06] norisg opened #1334 "[mavsdk-python SITL] mavsdk-server crashes when reading EulerAngle"
I am using mavsdk-python to control my drone in offboard mode. I had problems when trying to use the EulerAngle and reading them in a cycle around 20 Hz.  After some seconds the mavsdk-server will crash. First I thought it was a problem with the use of global variables in python, but after commenting out the lines which read the EulerAngle, it runs perfectly.

**To Reproduce**
Steps to reproduce t

[2021-02-28 20:08] norisg commented on #1334
`#!/usr/bin/env python3
import math
import socket
import time
from gpiozero import LED
from os import path
import sys
import serial

import asyncio
from mavsdk import System
from mavsdk.action import ActionError
from mavsdk.telemetry import LandedState,PositionNed,FlightMode
from mavsdk.offboard import (OffboardError, PositionNedYaw, VelocityNedYaw)

#========================================#
#===

[2021-02-28 20:13] norisg commented on #1334
The Following is the testmessage.py program which sends dummy data to the fcc.py:

[code]
[code]
[code]

[2021-02-28 20:27] norisg commented on #1334
This is the Error Log I am getting:

[2021-03-01 11:51] julianoes commented on #1334
@norisg thanks for the issue. What is your mavsdk version from PyPi and which what mavsdk_server version are you using? My suspicion is that something is not matching.

[2021-03-05 11:03] julianoes opened #1348 "Multiple storage IDs are not supported"
Currently we don't handle https://mavlink.io/en/messages/common.html#STORAGE_INFORMATION properly as we are not checking the storage ID. So whichever message arrives latest will be the one saved.

[2021-03-06 13:40] yhabib29 commented on #1326
Resolved in #1330.

[2021-03-06 13:40] #1326 closed

[2021-03-10 23:13] norisg commented on #1334
@julianoes I am using (mavsdk 0.15.0) in the mavsdk and mavsdk_server (v0.36.0-2-g6f71cc15) but it crashes in both ways. When I start mavsdk in the python program with ` drone = System() #mavsdk_server is integrated in this command` or when I run mavsdk_server separately with the command ` #drone = System(mavsdk_server_address='localhost', port=57000)` So one might think that when I start mavsdk s

[2021-03-15 12:16] julianoes commented on #1319
#1331 was merged, closing.

[2021-03-15 12:16] #1319 closed

[2021-03-16 02:25] imindude opened #1357 "[windows10] cannot connected to FCU"
I'm using MAVSDK in windows10. Actually already used in version 0.33.1, and worked good. But these days, update to 0.37.0 and have a trouble.

Here is my build command.

[code]

And in my Qt, here is initial code.

[code]

Here is my error message and debugging screenshot. Again, past version 0.33.1 works good in same code. This problem is only 0.37.0.

![error1](https://user-images.githubusercont

[2021-03-16 10:55] JonasVautherin commented on #1357
Hmm :thinking:. Is it because `systems()` is called twice? Should it be more something like this?

[code]

Would you mind trying that?

Note: if you copy-paste the code instead of sending a screenshot, we can actually copy-paste and edit it more easily :wink:.

[2021-03-17 08:26] julianoes commented on #1316
@MuhammadBilal1 @bb17pugc were you able to resolve this?

I'm planning to add a parameter for overall mavsdk to set the timeout.

[2021-03-17 08:28] julianoes commented on #1263
Just to follow up. I did try this on a RPi Zero against a board with ArduPilot flashed, and I could not reproduce it.

[2021-03-17 08:30] julianoes commented on #1157
There is no more information available, see https://github.com/mavlink/MAVSDK/pull/1333/commits/87895b22d3ee6b121ef67b117c08493182d72fda.

[2021-03-17 08:30] #1157 closed

[2021-03-17 14:01] beenjamminnallday opened #1360 "Error connecting RasPi & Pixhawk 4 Mini using mavsdk_server (running Px4)"
Hello,

I'm attempting to connect a companion computer (RasPI) with my Pixhawk using mavsdk_server, but there seems to be an issue initiating MAVlink. I am not entirely sure what is causing this issue, I flashed my pixhawk with PX4 so its not similar to issue #1134  Any info would be very helpful.  Below is my command and output.

[code]

[2021-03-17 14:30] JonasVautherin commented on #1360
After that, does it work, or not? Like can you get telemetry and send actions?

[2021-03-17 16:43] MuhammadBilal1 commented on #1316
No, I wasn't able to resolve this issue. Adding the parameter will be helpful. Thank you.
I will be waiting :-)

[2021-03-17 16:57] beenjamminnallday commented on #1360
My mistake after running some of the example scripts it works. I assumed it wouldnt due to the error messages when I started the server.

[2021-03-17 16:57] #1360 closed

[2021-03-17 18:08] JonasVautherin commented on #1360
No worries.

An interesting thing to know is that "command denied" means that the command was sent by MAVSDK, reached PX4, which answered "DENIED", and that response reached MAVSDK back. So that's not a communication problem, it's more that PX4 was not ready for that command at that point, for some reason.

[2021-03-18 09:22] julianoes commented on #1316
@MuhammadBilal1 see #1362

[2021-03-18 13:15] #1357 closed

[2021-03-18 17:25] julianoes opened #1364 "Prebuild libraries for Windows"
We should also build and upload libraries for Windows like we do for Linux. We could distribute them just as a zip file.

[2021-03-18 19:17] JonasVautherin commented on #1364
If a Windows person reads this: [this is how we build for Windows in the CI](https://github.com/mavlink/MAVSDK/blob/develop/.github/workflows/main.yml#L487-L520), and you can see [here](https://github.com/mavlink/MAVSDK/blob/develop/.github/workflows/main.yml#L512-L520) that we already publish `mavsdk_server_bin.exe`.

We statically link the mavsdk libraries into `mavsdk_server_bin.exe` (see `-DBU

[2021-03-18 19:23] JonasVautherin opened #1365 "Support multiple batteries"
As discussed [in this thread](https://github.com/mavlink/MAVSDK-Swift/issues/189#issuecomment-802221631), I think that `telemetry.battery()` should expose a list of batteries (instead of only one). In the usual case with one battery, that would be a list of length one. Also, MAVSDK should use BATTERY_STATUS if it is advertised, but fallback to SYS_STATUS if it is not.

[2021-03-22 10:11] julianoes commented on #998
Duplicated by #1364 .

[2021-03-22 10:11] #998 closed

[2021-03-22 10:13] julianoes opened #1369 "Windows release build not building"
I just tried to build in Release mode on Windows with MSVC 2019 and it failed with:

[code]

[2021-03-22 10:35] julianoes commented on #1369
I think the underlying problem is that the dependencies are all built in debug mode for Windows because MSVC based generators require `--config Release` unlike Makefile based generators which work with `CMAKE_BUILD_TYPE`.

[2021-03-22 10:50] JonasVautherin commented on #1369
So this line does not work properly? https://github.com/mavlink/MAVSDK/blob/main/third_party/cmake/build_target.cmake#L37

[2021-03-22 10:50] JonasVautherin commented on #1369
Oh, this line does not run the dependencies. Got it!

[2021-03-22 11:40] julianoes commented on #1369
While I look at this I'm asking myself: Does it work for Linux because I don't see that we pass on `CMAKE_BUILD_TYPE`?

This would only work if `CMAKE_BUILD_TYPE` is set but I assume it's not on Windows where we use `--config`.

[2021-03-22 11:47] JonasVautherin commented on #1369
For the "main" [build command](https://github.com/mavlink/MAVSDK/blob/main/third_party/cmake/build_target.cmake#L37), we only do it for MSVC, where we set `CMAKE_BUILD_TYPE` [in the CI](https://github.com/mavlink/MAVSDK/blob/main/.github/workflows/main.yml#L509).

For the dependencies, maybe we would need to `if (MSVC)`, but in my experience (just tried once on my laptop :laughing:), Linux seems t

[2021-03-22 11:53] julianoes commented on #1369
Note that `CMAKE_BUILD_TYPE` does not do anything when you use it with the MSVC generator, as we do it. It just builds debug. You would need `--config Release` as well.

Yes. When you use Makefile base generators, it is not used. I believe configuration is a build time flag whereas `CMAKE_BUILD_TYPE` is a configure time flag.

[2021-03-22 11:55] JonasVautherin commented on #1369
Yes, but that's exactly what the following would do, right? Be ignored by Linux, and set `CMAKE_BUILD_TYPE` for Windows. And if not specified, either default to Debug, or fail on Windows.

[code]

[2021-03-22 11:58] julianoes commented on #1369
Yes, true, so what we need to do for Windows is use `--config` as well as `-DCMAKE_BUILD_TYPE`, right?

[2021-03-22 12:48] julianoes commented on #1369
Ok, I can build release on Windows by combining both flags:
[code]

I think the error of this issue is unrelated to the build type though.

[2021-03-22 12:50] JonasVautherin commented on #1369
Wait, this is the configure step, right? `--config Release` should go in the build step, i.e. `cmake --build build --config Release`, right?

[2021-03-22 12:56] julianoes commented on #1369
You're right. So you need to have `-DCMAKE_BUILD_TYPE` for the configure step and `--config` for the build step.

[2021-03-22 17:41] #1369 closed

[2021-03-22 19:03] julianoes opened #1372 "Windows release build is broken"
It doesn't build for me in release mode due to various mismatches like that:

[code]

[2021-03-22 20:21] julianoes commented on #1372
This only doesn't happen if `--config` and `-DCMAKE_BUILD_TYPE` are strictly in sync.

[2021-03-23 12:27] #1364 closed

[2021-03-23 12:27] #1372 closed

[2021-03-25 01:06] #949 closed

[2021-03-25 09:27] Sudheer421 opened #1379 "Unable to connect to Serial COM port on Windows 10 (64 bit)"
![Screenshot (143)](https://user-images.githubusercontent.com/23721696/112449310-413ce080-8d79-11eb-8406-9fb284271ddc.png)

Hi guys,

I am making a sample application to communicate with a pixhawk 4 (Running Px4 ) firmware via Telemetry device.
I have built the MAVSDK lib and integrated it in my project.
I was trying to establish communication with the FCU (Pixhawk 4) , but it is throwing an excep

[2021-03-25 12:38] julianoes commented on #1379
Interesting. Can you copy the full output that you see on the bottom right and paste it here. You can add ``` around it to format it nicely.

[2021-03-25 20:12] carlocab opened #1383 "Build failure on macOS 10.14 (Mojave)"
Building MAVSDK fails on macOS 10.14 (using the Command Line Tools SDK) with the error message

[code]

Reproducing this error requires applying the patch in #1382, or else the build will fail with

[code]

Can the build failure be fixed, or do you no longer support macOS 10.14?

Related: https://github.com/Homebrew/homebrew-core/pull/73923

[2021-03-25 22:26] JonasVautherin commented on #1383
How bad is it if we no longer support Mojave? I guess you'll have to update your system at some point, right? 😇

[2021-03-25 22:30] carlocab commented on #1383
That's up to you, really. I don't mind either way.

I'm just trying to make sure that Homebrew isn't mistakenly [requiring a macOS version newer than Mojave](https://github.com/Homebrew/homebrew-core/pull/73923/commits/08bbe53e82ddc3248a969733498bdfb80e144f99) to install MAVSDK.

In fact, if you say you don't support Mojave, then that's less work for me :)

[2021-03-25 22:34] JonasVautherin commented on #1383
Ok! Let's "drop" support for Mojave, then! Thanks a lot for reporting!

[2021-03-25 22:34] #1383 closed

[2021-03-26 05:14] Sudheer421 commented on #1379
Hi @julianoes,

Please find the output trace below.

'HCWindowsGCS.exe' (Win32): Loaded 'H:\Programming\HCWindowsGCS\x64\Debug\HCWindowsGCS.exe'. Symbols loaded.
'HCWindowsGCS.exe' (Win32): Loaded 'C:\Windows\System32\ntdll.dll'.
'HCWindowsGCS.exe' (Win32): Loaded 'C:\Windows\System32\kernel32.dll'.
'HCWindowsGCS.exe' (Win32): Loaded 'C:\Program Files\AVAST Software\Avast\aswhook.dll'.
'HCWindowsG

[2021-03-26 06:54] julianoes commented on #1379
My first thought would be that the exception is somewhere else and not in MAVSDK but that's probably too easy :).

It says that:

Could you use a debug build for MAVSDK to see if that gives you more information?

Could it be a permission issue for the COM port, or something wrong with the way we try to access it?

[2021-03-26 08:20] Sudheer421 commented on #1379
Hi @julianoes ,

I got the MAVSDK working.

The problem was actually with the type of the library. Let me explain...
I used **Release version** library files and was building a **Debug version** of application which was causing the issue.
I built  **Release version** and It was working fine.

Thanks for the support.

[2021-03-26 09:33] julianoes commented on #1379
Aha! I find that very confusing on Windows how release vs debug needs to match!

[2021-03-26 09:33] #1379 closed

[2021-03-26 10:10] julianoes commented on #1334
@norisg We just released 0.17.0. Could you check if it is fixed now? Otherwise I should look into this.

[2021-03-26 10:11] julianoes commented on #1263
Closing, please re-open if it still happens and if you can give me instructions how to reproduce it, thanks.

[2021-03-26 10:11] #1263 closed

[2021-03-26 10:11] julianoes commented on #1198
This has been added, see https://github.com/mavlink/MAVSDK/pull/1333.

[2021-03-26 10:11] #1198 closed

[2021-03-26 19:14] doman93 opened #1386 "How does "Pause action" work during mission"
Hello,  I am now studying the interrupt mechanism behind mission pause in the example of mavsdk

https://github.com/mavlink/MAVSDK/blob/main/examples/fly_mission/fly_mission.cpp

In this example, the variable "want_to_pause" is an atomic bool variable and initialized to be false (L202).
Then author subscribes to mission process and sets it true if the mission_progress.current  >=2 to activate the

[2021-03-29 06:55] julianoes commented on #1386
It's only set to `true` once, correct.

You could also call it at every waypoint like this:

[code]

Then you would have to reset it somewhere else, e.g.
[code]

Yes you can. Pause just means it goes to Hold/Loiter mode.

This waits until the flag is set to `true`.

[2021-03-29 13:02] doman93 commented on #1386
Thanks @julianoes

[2021-03-29 13:02] #1386 closed

[2021-03-29 13:37] DoppleGangster commented on #33
Looks like it has been a few years since this topic have been discussed so I figured I might as well bring it back from the dead. I'm guessing this feature has no current plans for integration? I was looking at adding this feature to the project I am working on so that I can display the current flight positions of obstacles in the area.

[2021-03-29 13:59] TSC21 commented on #33
@TSC21 I might eventually find some time to work on this, but if you have an hard dependency on this, you can always have a look at the MAVSDK docs on how to add a new plugin: https://mavsdk.mavlink.io/develop/en/contributing/plugins.html.

[2021-03-29 14:05] DoppleGangster commented on #33
I'll take a look. Would you expect this to be a whole new plugin or just add to an existing one such at telemetry data?

[2021-03-29 14:07] TSC21 commented on #33
I would say a new plugin because this is specific to a transponder, not vehicle internal sensors / telemetry.

[2021-03-29 14:11] DoppleGangster commented on #33
👍

[2021-03-30 06:55] cjffly opened #1387 "Compiling error on Raspberry Pi 4"
Hi, while I am trying to compile the latest mavsdk (0.38.2) on my rPi 4, I had this error when I try to install:
[code]

I thought my gcc version was 8 so I took 4 hours to get the latest gcc version (10.2.0), and this error is still there. Any idea what cause this error?

[2021-03-30 08:23] JonasVautherin commented on #1387
Sounds like you use `mavsdk` as a git submodule, and you updated it without updating its submodules (i.e. mavlink). Could it be?

[2021-03-30 08:33] julianoes commented on #1387
@cjffly try `git submodule update --init --recursive` in MAVSDK.

[2021-03-30 09:57] julianoes commented on #1307
Closing, comment again if this is still an issue.

[2021-03-30 09:57] #1307 closed

[2021-03-30 12:37] Kutbip opened #1389 "Using multiple UDP remotes with system id - mavsdk android"
Hello @JonasVautherin & @julianoes,
I have gone through issue #1319  (multiple UDP remotes).
Came to know that changes have been merged in the branch.
I just want to know if it is available for Android using mavsdk?

[2021-03-30 14:45] JonasVautherin commented on #1389
It is not exposed in MAVSDK-Java, but if you use MAVSDK-C++ on Android, then yes, it can be used.

[2021-03-30 21:09] JonasVautherin commented on #1387
Can you show the cmake commands you use to configure and build?

I wonder why it fails at build time, I would have expected it to fail at configure time, [here](https://github.com/mavlink/MAVSDK/blob/main/src/CMakeLists.txt#L36) :thinking:

[2021-03-30 22:12] cjffly commented on #1387
I am using the standard configure and build commands:
[code]

Here is the part from configure output which contains tinyxml2:
[code]

[2021-03-30 22:42] cjffly commented on #1387
OK, seems I figure out that I add my `include($ENV{VCPKG_ROOT}/scripts/buildsystems/vcpkg.cmake)` at the wrong CMakeLists.txt. Previous I thought I should add this into the one under MAVSDK root folder. Now I add the "include vcpkg" to MAVSDK/src/CMakeLists.txt, and build is success.

However, if I don't have vcpkg this will be a problem, so I guess it still needs some kind of fix.

[2021-03-31 09:52] Kutbip commented on #1389
Would it be available in MAVSDK-Java in the coming days?

[2021-03-31 09:56] JonasVautherin commented on #1389
No, that's not so easy to expose unfortunately :(

[2021-03-31 10:12] Kutbip commented on #1389
Thank you for the quick response.
I will try to add MAVSDK-C++ on Android.

[2021-03-31 12:24] #1389 closed

[2021-03-31 17:19] bazfp opened #1391 "Structure Cmake for Cpp package managers"
It would be useful to be able to use MAVSDK with cpp package managers (Hunter, Conan etc) for automatic dependency resolution. Instead of depending on a `SUPERBUILD` or local dependencies.

I've been implementing this library with [hunter](https://github.com/cpp-pm/hunter) and have found success by doing the following:

0. `SUPERBUILD=OFF`
1. Remove git commands from Cmakelists.txt, such as gettin

[2021-03-31 17:23] JonasVautherin commented on #1391
How did you update `Findtinyxml2.cmake`? Does it still work for the other cases?

[2021-03-31 17:32] bazfp commented on #1391
I removed lines 18-23.

It is unlikely to work in other cases - that why I have not submitted a PR.

[2021-03-31 19:23] cjffly commented on #1387
@JonasVautherin
When you mean

Which command output are you referring to? Is it `cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_SHARED_LIBS=ON -Bbuild/default -H.` or `cmake --build build/default`? If the first, I did posted above, that is the output related to tinyxml2, I did see it download and builds for me, it just couldn't find it.

By the way, I am using raspberry pi 4, not Windows, not sure

is tru

[2021-03-31 21:25] JonasVautherin commented on #1391
But why doesn't `find_package(TINYXML2)` work in the first place? Isn't the package manager (e.g. hunter) supposed to work with it? Like by setting some `CMAKE_PREFIX_PATH` or something?

We use pkgconfig as a fallback already...

[2021-03-31 21:41] JonasVautherin commented on #1387
Right, sorry I got confused, it's now Windows :see_no_evil:.

So what has changed recently is that we used to build all the dependencies in Release mode, and now we propagate the `CMAKE_BUILD_TYPE` to them. And tinyxml2 does this thing of renaming the debug output file...

I'm looking for some output [like this](https://github.com/mavlink/MAVSDK/blob/main/src/cmake/Modules/Findtinyxml2.cmake#L5)?

[2021-04-01 11:32] bazfp commented on #1391
Yes you're correct. It was not working due to the aliased lib names in the provided Find cmake modules. I no longer use the provided `src/cmake/Modules/Find*` modules now and lean on the package manager for finding packages. I have had to rename the libs that were linked as they were incorrect.

`Jsoncpp::jsoncpp` -> `jsoncpp_lib`
`tinyxml2::tinyxml2` -> `tinyxml2`

[2021-04-06 07:47] JonasVautherin opened #1397 "Link libc statically for Android"
From @Katawann on [discuss](https://discuss.px4.io/t/failed-to-run-mavsdk-server-in-react-native-app-on-android/20607):

### Context:
I’m trying to build an app on Android with React Native and using MAVSDK in it. It works like a charm if I run MAVSDK-Java client on the react app (on my device) and mavsdk_server running on a linux host. However my goal is to have both client and server on the app.

[2021-04-06 07:57] JonasVautherin commented on #1397
@Katawann: I think that you may be right in that MAVSDK-Java should not bring `libc++_shared.so` with it, and that's the reason for your issue. I do believe that the solution would be to build `libmavsdk_server.so` as a static library. We already do that for `mavsdk_server` (that we build as a static executable), so that should be similar (where instead of building a static executable `mavsdk_serv

[2021-04-07 20:35] TSC21 commented on #33
Addressed in https://github.com/mavlink/MAVSDK/pull/1390.

[2021-04-07 20:35] #33 closed

[2021-04-08 06:30] fas2037 opened #1400 "subscribe_mission_progress() of class MissionRaw provides more output than expected if vehicle stops at waypoint"

[2021-04-08 06:37] fas2037 commented on #1400
Steps to reproduce: Adapt fly_mission.cpp of examples to use MissionRaw and push back 1 waypoint. Start mission and subscribe to MissionProgress.
Expected Results: As soon as the first and only waypoint is reached The MissionProgress Callback is called once when the waypoint is reached to confirm this.
Actual Result: MissionProgress is called multiple times with different ooutput messages, even th

[2021-04-09 06:38] fas2037 commented on #1400
[mission.txt](https://github.com/mavlink/MAVSDK/files/6283640/mission.txt)
Make sure to use the MissionRaw class.

[2021-04-09 14:54] #1400 closed

[2021-04-12 10:38] mommotti opened #1410 "What problems will we encounter by using Ardupilot + MAVSDK ?"
My team is willing to employ Ardupilot over PX4, since the drone we are using comes with Ardupilot by default...
We acknowledge this thread https://github.com/mavlink/MAVSDK/issues/728
but we are still wondering the future effects of using Ardupilot. ( takeoff_and_land works for us! )

[2021-04-12 11:32] julianoes commented on #1410
Two important things that are not (yet) compatible:
- mission upload/download (AP: 0 item is home, PX4: 0 item is first item)
- flight modes

[2021-04-12 11:54] mommotti commented on #1410
Thank you again Julian! We can call this issue closed.
Is there a Discord server for MAVSDK?

[2021-04-12 11:58] JonasVautherin commented on #1410
One thing that would be cool would be to have some easy way to run SITL with Ardupilot. I'm sure it exists, but I am not very familiar with Ardupilot. For instance with PX4, there is [px4-gazebo-headless](https://github.com/jonasvautherin/px4-gazebo-headless) that is just a headless docker container running PX4 and gazebo.

Having an equivalent for Ardupilot would be a first step towards adding in

[2021-04-12 12:00] #1410 closed

[2021-04-14 10:20] Kutbip opened #1411 "How to connect a drone using system id with mavsdk"
Hello Everyone,

I am using MAVSDK-Java to monitoring drones.
Currently, MAVSDK java only exposes to connect drones using UDP or TCP which is working perfectly.
Now, to connect with multiple drones, the app requires connecting using the system id which I am not able to do.

Later I came to know that the C++ library can do the task.
I have tried to build a C++ library  [here](https://github.com/mav

[2021-04-14 11:22] JonasVautherin commented on #1411
What about using MAVSDK-Java, but running multiple instances of `MavsdkServer`? Say one that listens on UDP:14540, and one that listens on UDP:14541. Then your two drones should broadcast on 14540 and 14541 respectively.

I am personally not a big fan of having all the drones connecting to the app on 14540, to be honest. IMO, on the app side, it should be "one drone, one socket", and my suggestion

[2021-04-14 12:19] Kutbip commented on #1411
Thanks for the quick reply @JonasVautherin.
I understood what you explained however I have to connect the drone using a system id. (project requirement)
Is there any way with mavsdk java?
I am ready to use C++ in android but somehow I couldn't able to build it.

[2021-04-14 12:53] JonasVautherin commented on #1411
No, there isn't. We would need to discuss how we would want to expose that. I know that not everybody has the same opinion as I do, but I would push for doing what I suggested above, and if there was the need for a discovery protocol, I would do that separately, and not by sending everything on the same UDP port on the client :see_no_evil:.

[2021-04-15 06:56] Kutbip commented on #1411
We have used the same process that u suggest with simulate environment.
We have used UDP port to communicate a drone with Gazebo simulator.
We have created a mission from QGC and monitoring on our android app and controlling the mission like pause, resume and terminate.
But
For real environment or in production, we have to connect a drone with system id to monitoring active mission.
In our applica

[2021-04-15 09:50] JonasVautherin commented on #1411
Do you have a fixed number of drones in the real environment, or do you have "n drones" and you don't know how many?

[2021-04-15 10:14] Kutbip commented on #1411
Not fixed number of drones but we have max 5-6 drones.

[2021-04-15 14:46] Kutbip commented on #1411
Hello @JonasVautherin,
Actually, we are new to this development so bit curious about how drone communication will work in a real environment.
Till now we have used the simulated environment as I mentioned using the Gazebo simulator.

[2021-04-15 21:42] JonasVautherin commented on #1411
The solutions I see (none of which is straightforward):

1. Using MAVSDK-Java: implement a discovery protocol, have your app discover the drones and their UDP port, and start one `MavsdkServer` instance for each drone
2. Using MAVSDK-Java: let the user enter the UDP ports for each drone manually and create a `MavsdkServer` instance for each
3. Use MAVSDK-C++ and its multi-systems feature

[2021-04-15 23:36] cjffly opened #1413 "set_rate missing for rawGps"
Hi,

rawGps info now can be accessed with v0.38+, but I found that its missing something like "telemetry.set_rate_rawGps()" as the position can do "telemetry.set_rate_position()". Is this a missing feature or there is some other way to set the rawGps access rate?

Best

[2021-04-16 06:54] julianoes commented on #1413
Hi, good question. You can actually just use `set_rate_gps_info` as the underlying mavlink message is the same.

@JonasVautherin should we add it nevertheless or add a comment to clarify this?

[2021-04-16 10:46] JonasVautherin commented on #1413
I first was thinking about adding it, and handling the case where somebody does `set_rate_gps_info()` AND `set_rate_raw_gps` like this:

* If both `subscribe_gps_info` and `subscribe_raw_gps` are active, use the max of both rate values
* If only one is active, take its rate

The problem is for the polling interface: what if I want to poll gps_info very fast, but subscribed to raw_gps at a slow rat

[2021-04-25 09:31] Kutbip commented on #1411
Hello @JonasVautherin,
Thanks for the solutions. We have considered #3.
I have successfully created a C++ build (.so file) for Android to use.
Could you please provide any reference that can help me to use C++ MAV SDK classes to use in Android.?
Which class or functions should I use to connect drones with system id and set the actions.
Appriciate your help..!!!!

[2021-04-27 03:10] petergerten opened #1421 "import_qgroundcontrol_mission not working after moved to mission_raw"
Hi,

I just upgraded MAVSDK to 0.39.0 and the QGC mission import was migrated from mission to mission_raw. All existing mission plans I could import before stopped working with the following error:

`Error Parameter to MergeFrom() must be instance of same class: expected MissionItem got MissionItem.`

I have a hard time interpreting the error. Any hints what is going on here?

[2021-04-27 09:10] JonasVautherin commented on #1421
Could you share one such mission plan such that we can reproduce the issue?

[2021-04-29 13:35] julianoes commented on #1421
@petergerten Where do you get this error?

[2021-05-01 22:35] AldoCF96 opened #1425 "One drone arming and flying does not allow the other to arm."
Currently I am creating a code that uses multiple classes. In the zip file I shared I use two classes one for mavsdk and connections. and other for addressing individual drones.

the drones are drone0 and drone1
![image](https://user-images.githubusercontent.com/50414883/116796612-c9668200-aaab-11eb-8b5e-04b52e9ba26e.png)

as You can see when trying to arm drone 1 it says it is already arm, but it

[2021-05-03 10:01] julianoes commented on #1425
I can reproduce the issue. Thanks for the steps @AldoCF96.

I found that this comes from the fact that systems are stores in an `unordered_map` and therefore the order is actually not guaranteed. So what happens is that in your case you initialize both `Drone`s with the same `System`.

I will create a fix to address that.

[2021-05-03 10:40] bazfp commented on #728
I identified a bug where Ardupilot throws an error when using MAVSDK NaN blanked `command_long`

https://github.com/ArduPilot/ardupilot/issues/17288

I have testied this with a naive patch to resolve it and and MAVSDK seems to identify Ardupilot autopilot. However actions (arm, takeoff + telemetry) are pretty broken as they wait for specific state Ardupilot never delivers (PX4 params?)

Following

[2021-05-03 14:16] #1425 closed

[2021-05-05 18:14] JonasVautherin commented on #1391
FYI, I believe it should be fixed for jsoncpp using https://github.com/mavlink/MAVSDK/pull/1395. It's not a release yet, so I don't really know how it goes with Hunter, but I think jsoncpp now has the behavior you expect.

[2021-05-06 08:17] vranki opened #1428 "Feature req: pkgconfig for building"
The "standard" way of including libraries in linux is pkgconfig mechanism. This tells what headers and libraries must be included in the compilation process. Almost any library in linux distros ship with pkgconfig metadata file. Pkgconfig can be used from any build system including cmake and qmake.

Mavsdk currently does not ship with pkgconfig and it's not obvious how to build correctly when usin

[2021-05-06 11:04] julianoes commented on #1428
Thanks for the note. Pull requests are welcome :wink:.

[2021-05-06 11:49] JonasVautherin commented on #1428
Yes, that would be a great addition! Would you be willing to look into it?

[2021-05-06 15:04] vranki commented on #1428
I can take a look.

First thing I noticed that the debian package doesn't provide library symlinks. For example I needed to ln -s /usr/lib/libmavsdk.so.0 /usr/lib/libmavsdk.so

I think that's a packaging error.

After that this .pc file placed at /usr/lib/x86_64-linux-gnu/pkgconfig/mavsdk.pc seems to work or at least compile:

[code]

[2021-05-06 20:04] JonasVautherin commented on #1428
Should the `.pc` file be generated by cmake? Or only installed? Like can we get the `Libs` and `Cflags` set automatically by cmake? Would be cool :sunglasses:

[2021-05-10 07:58] vranki commented on #1428
I haven't actually done any of them in real life situation, but the debian/rpm package should provide the .pc file. The file contents can be generated by packaging and include for example correct version number. I believe static file without version would also work, but you couldn't check for certain version in project build.

I bet there is some cmake based library in wild with proper .pc packagi

[2021-05-12 18:19] fpersson opened #1434 "Broken links"
Links are broken for API Reference, Example and FAQ.

[2021-05-12 21:23] JonasVautherin commented on #1434
Just tried some links and they work for me. Would you mind being specific and sharing the said links?

[2021-05-12 22:59] fpersson commented on #1434
In README.md links are pointing to https://mavsdk.mavlink.io/main/en/examples/ and I think correct path is https://mavsdk.mavlink.io/main/en/cpp/examples/ and its same error with the FAQ and API Reference under "Qiuck Links:"

Only "API Reference", "Example" and "FAQ" is broken.

[2021-05-13 09:08] julianoes commented on #1434
Aha! Thank you. Would you mind creating a PR to fix it?

[2021-05-14 15:18] bazfp commented on #1391
Aha, Good news :)

I will wait for fresh `jsoncpp` & `tinyxml2` releases with the namespaced library names, and push them to hunter.

Once this is all done I will update the PR #1393, it should be a relatively light-touch hunter integration at that point :)

[2021-05-17 17:43] fpersson commented on #1434
Done.

[2021-05-17 18:03] JonasVautherin commented on #1391
@bazfp: Updated tinyxml2 here: https://github.com/mavlink/MAVSDK/pull/1436

[2021-05-17 20:17] #1434 closed

[2021-05-18 04:58] julianoes commented on #1434
Thanks a lot @fpersson.

[2021-05-19 00:30] JonasVautherin commented on #1428
@vranki just realized it is done [here](https://github.com/leethomason/tinyxml2/blob/master/CMakeLists.txt#L123-L129), which could serve as inspiration:

[code]

Using the following `tinyxml2.pc.in`:

[code]

[2021-05-19 20:16] carlocab commented on #1383
As it turns out, all that was needed was to build MAVSDK with a newer toolchain than the one provided by the system. (Though I guess that shouldn't be surprising.)

Just thought to let you know in case it's useful elsewhere (or for whomever else stumbles upon this issue).

[2021-05-22 14:16] YANG-DEMIN opened #1440 ""set_actuator" example doesn't work well, Warning "command unsupported(187)""
Target: I want to use MAIN 5 outputing the pwm value I set in Quadrotor.
MAVSDK version: `0.40.0 `
Code: the newest code (2021.5.22), `MAVSDK/example/set_actuator`
Simulator: `PX4(V1.10.0) + Gazebo(Quadrotor)`

**### Erro:**
    At first, when i run the other programs, they work well. such as takeoff_land, and fly_mission.
    But when i run the set_actuator, `./set_actuator udp://:14540 1 0.5`, I

[2021-05-22 16:23] JonasVautherin commented on #1440
This means that PX4 received the command and responded that it is unsupported ([see here](https://github.com/mavlink/MAVSDK/blob/main/src/core/mavlink_commands.cpp#L172-L173)). Which version of PX4 do you have? @coderkalyan which version of PX4 is required?

[2021-05-22 16:28] YANG-DEMIN commented on #1440
yes, I know where the warning comes from, but how can I fix it?
Thanks very much!

[2021-05-22 18:11] JonasVautherin commented on #1440
Well if your PX4 says that it is not supported, it sounds like your version of PX4 is too old for this feature. That's why I asked which version you have :slightly_smiling_face:

[2021-05-23 03:55] coderkalyan commented on #1440
@JonasVautherin @YANG-DEMIN Ah, unfortunately this feature is really new - you need to be running PX4 beta to utilize it. It will be supported once the PX4 v1.12 stable is released (hopefully quite soon).

[2021-05-23 16:19] JonasVautherin opened #1441 "MAVSDK timeout tuning"
It seems to me that the timeout used in MAVSDK is a bit low for bad links (I'm thinking about a slow connection to a cloud simulator), resulting in a lot of timeouts (which makes it difficult to e.g. upload a reasonably-sized mission).

@julianoes: is there a global timeout that can be tuned, and what would it imply if we increased it? Like do we want to have an option to set the timeout (or choos

[2021-05-24 03:50] YANG-DEMIN commented on #1440
Thanks very much! I am looking forward the v1.12!
As you said, I tried the PX4 beta and it rebacks no erro. But I am still  not sure how to utilize it.
Here is my command and output.(FMUV5 + Radio)`./set_actuator serial:///dev/ttyUSB0 1 0.6`
[code]
I think it means MAIN1 (or MAIN 2) will output the PWM(value: 0.6), while there was nothing happened.
So, how can I make the actuator to rotate?
Thanks

[2021-05-24 15:13] julianoes commented on #1440
You probably need to `make clean`.

[2021-05-24 15:14] julianoes commented on #1441
I added this a while ago, give it a try:
https://github.com/mavlink/MAVSDK/blob/f7e96f3579c4d199e8a28197568409cfbd65bfb4/src/core/mavsdk.h#L271-L279

[2021-05-24 15:19] YANG-DEMIN commented on #1440
Yes, I did it. But it is uesless.
By the way, I clone the latest code from PX4, it is the same problem. When i switched to v1.10, it worked....

[2021-05-24 15:41] YANG-DEMIN commented on #1440
Now, what I want to know most is that which channle `set_actuator` mapped. Such as, `index=1` represent `AUX1 or MAIN1`, `value = 0 `represent `pwm=1750`.

And why i have more than 7 MIAN output and 4 AUX output, there is only 6 vaule for index?(case 1-6).

Thanks again!
Yang

[2021-05-25 06:13] julianoes commented on #1440
@coderkalyan do you know?

[2021-05-26 12:42] bazfp opened #1445 "Provide Autopilot/Server functionality for MAVLink services"
It would be exceptionally useful to have MAVSDK provide server functionality for MAVLink microservices.

There is currently a gap missing in MAVLink, the raw data types are provided by the MAVLink headers but the implementation of the microservices (Command, Mission, Heartbeat, Parameters etc) is still up to the user to implement. This can easily lead to fragmentation of the standard with the serv

[2021-05-26 13:32] bazfp commented on #1445
Here is a big list of messages used by MAVSDK in action, telemetry & mission plugins.

**Parameters required to set health OK in Telemetry:**

* *CAL_GYRO0_ID* // Set to true once gyro is stabilised. (true if doesn't exist)
* *CAL_ACC0_ID* // Set to true once accelerometer is stabilised (true if doesn't exist)
* *CAL_MAG0_ID* // Set to true once magnetometer is stabilised (true if doesn't exist)

[2021-05-26 17:36] divyanshu1234 commented on #1272
Just checking in. Is a feature like this in development?

[2021-05-26 19:12] julianoes commented on #1272
It is not, not that I know of.

[2021-05-27 08:16] JonasVautherin commented on #1445
@julianoes: About CAL_GYRO0_ID, CAL_ACC0_ID and CAL_MAG0_ID: wasn't that supposed to be replaced by the so-called "events interface" at some point? Do you know anything about that?

[2021-05-27 08:17] JonasVautherin commented on #1272
No, but that would be a nice addition :blush:. Mission upload/download can be very slow sometimes :see_no_evil:

[2021-05-27 11:28] julianoes commented on #1445
@JonasVautherin I think the calibration check and the telemetry health flags should be covered by [SYS_STATUS](https://mavlink.io/en/messages/common.html#SYS_STATUS).

[2021-06-02 14:52] reedev commented on #1441
Hi,

First post here so I hope this is the right location...

I would like to get this working too and I am willing to put effort in this to achieve this. I am currently trying to upload a mission via a serial connection (holybro telemetry radio v3) to a pixhawk 4 and keep getting the timeout. I am using mavsdk v0.40.0

Can you give my some guidance?

Thanks,
Raymond

[2021-06-02 16:14] JonasVautherin commented on #1441
@reedev doesn't the `set_timeout_s` function above do what you want? Haven't used it yet, but I think it's exactly what I want

[2021-06-03 09:17] reedev commented on #1441
no, I put the line
mavsdk.set_timeout_s(5.0);
right after the allocation of mavsdk and within the 5 seconds I get the message 'Mission upload failed (Timeout), exiting'

[2021-06-03 11:12] YANG-DEMIN commented on #1440
I GOT IT !
Thank you very much !!!
Best wishes for you

Yang

[2021-06-03 11:12] #1440 closed

[2021-06-03 16:16] JonasVautherin opened #1454 "Should we assume that a UDP packet contains messages from only one system?"
I was just reading the code, and wondered about [this](https://github.com/mavlink/MAVSDK/blob/main/src/core/udp_connection.cpp#L234-L235):

[code]

This is an optimization so that it does not "save" the remote for each message of the UDP packet, right?

I'm just thinking that this assumes that a UDP packet only ever contains messages from one sysid. Not sure if that's relevant or not, but I can im

[2021-06-06 20:55] gnarwhal97 opened #1457 "Сan not connect to the drone"
Hello, I'm simulating VTOL in Gazebo. I want to run example takeoff_and_land.py, but it cannot conect to drone.
My output:

Waiting for mavsdk_server to be ready...
Connected to mavsdk_server!
Waiting for drone to connect...

[2021-06-07 06:12] reedev opened #1458 "Best way to work with qtcreator?"
Hi,
I would like to build all with qtcreator on Ubuntu (desktop) and I was wondering if someone can recommend a preferred way. At the moment I only see cmd line build instructions. The cmd line instructions are fine for building end user applications but now I would like to dive into the MAVSDK itself.
thanks!

[2021-06-07 06:19] julianoes commented on #1454
Doesn't sound like that's correct, thanks for bringing it up.

[2021-06-07 06:20] julianoes commented on #1441
@reedev this would mean something with the other side or the communication goes wrong. Please create a new issue and describe how to reproduce the problem.

[2021-06-07 06:22] julianoes commented on #1458
The command line build instructions are just plain cmake and make commands. So if QtCreator supports cmake/make projects it should "just work".

Have you tried this? https://doc-snapshots.qt.io/qtcreator-4.0/creator-project-cmake.html

[2021-06-07 06:22] julianoes commented on #1457
Is this running on the same machine or are you running docker or a virtual machine somewhere?

[2021-06-07 06:28] reedev commented on #1458
Sure, I have tried it and I don't see an install target or so. This question was merely to ask for handy do's and don't's. Maybe others have suggestions and in the mean time I will make it work.

[2021-06-07 06:29] reedev commented on #1441
Sure, that's why I opened the other issue, so that I can chip in myself
and find details.

On 7-6-2021 08:20, Julian Oes wrote:

--

--
Deze e-mail is gecontroleerd op virussen door AVG.
http://www.avg.com

[2021-06-07 06:30] reedev commented on #1441
Sure, that's why I opened the other issue, so that I can chip in myself and find details. I will get back on this.

[2021-06-07 06:30] julianoes commented on #1458
What do you mean? Where do you want to install it?

[2021-06-07 06:32] reedev commented on #1458
I don't see the target in qtcreator. Working from the cmd line works out-of-the-box (including the install prefix) so it's just a matter of finding a best way with qtcreator.

[2021-06-07 06:51] julianoes commented on #1458
I tried this and did: Open Project -> Select CMakeLists.txt

Then it does the configure and build, and in the Projects tab you can add more configure options such as `BUILD_MAVSDK_SERVER` if required:
![Screenshot from 2021-06-07 08-51-09](https://user-images.githubusercontent.com/1419688/120972019-98920080-c76d-11eb-8b59-99af7d4a0f2a.png)

[2021-06-07 07:07] reedev commented on #1458
yes, such things indeed. I am just not yet familiar with MAVSDK since the cmd line build 'just works' right away.

[2021-06-07 09:15] julianoes opened #1459 "MAVLink passthrough in language wrappers"
It would - of course - be nice to have MAVLink passthrough available in language wrappers.
However, that's not straightforward because it would mean we have to:

1. Either generate .proto files for all MAVLink messages and then generate the API for all of them. This would be nicely type-safe in these languages but probably gets quite bloaty.
2. Or expose some sort of interface that packs the MAVLi

[2021-06-07 11:44] reedev commented on #1441
That's interesting: I went back in time and I could upload the mission via the fly_mission.cpp from v0.22.0 Although with some timeouts 28 mission items were uploaded. Double checked with QGC and I see the mission near the Milchbuck-Tunnel

I will proceed... (when time allows)

[2021-06-07 15:56] olafwessler opened #1463 "drone.telemetry.scaled_pressure() hangs"
Hi there,

I am trying to get the atmospheric pressure from the drone but the code hangs forever at the async call without any error.

    # get atmospheric pressure at takeoff location
    async for pre in drone.telemetry.scaled_pressure():
        pressure=pre.absolute_pressure_hpa
        print("Pressure at takeoff location: %.2fmbar" %(pressure))
        break

Using mavsdk Python on Windows
P

[2021-06-07 16:12] JonasVautherin commented on #1463
If you never receive any `scaled_pressure` in the `async for`, it suggests that PX4 does not send them. Could it be?

[2021-06-07 16:53] olafwessler commented on #1463
That makes sense! Do you know about any plans to make those available to telemetry? Havent found any parameter to turn them on...

[2021-06-07 17:02] TSC21 commented on #1463
There's no parameter to enable it. They are supported but not sent by default. You will have to request the autopilot to stream the messages using MAVLink [MAV_CMD_SET_MESSAGE_INTERVAL](https://mavlink.io/en/messages/common.html#MAV_CMD_SET_MESSAGE_INTERVAL) or eanbling them by default using the `mavlink` module commands: https://dev.px4.io/master/en/middleware/modules_communication.html#mavlink.

[2021-06-07 18:14] olafwessler commented on #1463
found it, thank you. But the drone's barometric pressure is about 4m different than my ground station, so this is not very useful...

[2021-06-07 18:14] #1463 closed

[2021-06-09 05:32] divyanshu1234 commented on #1272
Yes, the upload speeds were quite slow, and therefore I started logging and comparing the mission upload messages that QGC sends to the drone with what MAVSDK sends (for simple navigation missions). I noticed that MAVSDK was generating too many `MAV_CMD_DO_CHANGE_SPEED` messages, basically one for each `MAV_CMD_NAV_WAYPOINT`. In comparison, QGC sends the message only once (when you exactly specify

[2021-06-09 06:55] reedev commented on #1441
(intermediate update) this is rather interesting: v0.24.0 works as expected while v0.25.0 does not anymore. The interface has changed between these versions too so it seems a rather large change. Still going on...

[2021-06-09 14:08] JonasVautherin commented on #1272
I think that this is a really good point, it would certainly be a worthwhile optimization!

However, I don't really get why this should be documented. Can't it stay as an implementation detail?

[2021-06-09 14:53] divyanshu1234 commented on #1272
Okay. Not exactly documented. But if you want, I can alter the Java client and Python mission examples (with appropriate comments) to highlight this point.

[2021-06-10 06:30] julianoes commented on #1272
We could indeed optimize that. The problem with optimizing it away is the mapping back from mavlink items to MissionItem. At that point you don't know if you had specifically set it or if it should be NAN.

[2021-06-10 06:34] julianoes commented on #1441
We have an integration test for lossy mission transfers: https://github.com/mavlink/MAVSDK/blob/main/src/integration_tests/mission_transfer_lossy.cpp

So best would be if you could change that so you can reproduce your issue.

[2021-06-10 06:35] julianoes commented on #1441
From v0.24.0 to v0.25.0 I completely rewrote the mission upload, so it's possible I got something wrong.

[2021-06-10 06:38] julianoes commented on #1463
@olafwessler you might be able to correct/calibrate the baro altitude using a param. It might be this one: https://docs.px4.io/master/en/advanced_config/parameter_reference.html#SENS_BARO_QNH

[2021-06-10 07:34] JonasVautherin commented on #1441
I second that! It would be very interesting if you had an integration test that fails for you, so we could try to reproduce on our side!

[2021-06-10 08:26] reedev commented on #1441
Sure! I will do my best and need to dive into this first to get familiar with the integration tests.

[2021-06-10 08:33] julianoes commented on #1441
This should be enough:
[code]

[2021-06-10 08:33] #1454 closed

[2021-06-10 14:00] olafwessler commented on #1463
@julianoes I am using the absolute pressure value from both drone and ground station. So applying the QNH calibration to both devices will not eliminate the difference..
By the way: As it is possible to receive pressure data from mavsdk and to set a calibration value by parameter, would it make sense to also allow to activate the data stream itself from PX4 by parameter?

[2021-06-11 05:39] julianoes commented on #1463
I think you would only apply the calibration to one but maybe I don't understand the problem correctly. I just assume that these pressure sensors are not perfectly calibrated which is probably what you're finding.

You mean so that you don't have to use `set_rate_scaled_pressure()`?

[2021-06-11 09:32] olafwessler commented on #1463
@julianoes The QNH calibration is to adjust the pressure-to-altitude conversion according to local weather conditions. It does not affect the absolute pressure value. My goal was not to get the altitude based on pressure but to get a relative height difference between ground station and drone. So I am using absolute pressure values on both ends.
But indeed acording to specs pressure sensors can ha

[2021-06-11 12:57] julianoes commented on #1463
I was hoping the `set_rate` commands are convenient enough. That's why there here. The problem is that otherwise we need to add a parameter for each and every MAVLink message because everyone is going to want a specific one. :smile:

[2021-06-11 17:34] olafwessler commented on #1463
I thought something like the SENS_EN_MB12XX parameter to activate a distance sensor would be very convenient. In particular, as the barometric pressure sensor is a standard build-in sensor in every pixhawk and the altitude value is already supported by mavsdk.
But I totally understand its getting too much at some point...

[2021-06-16 19:01] ankitatcodingnebula commented on #1441
@julianoes I use MAVSDK-Java in my project and I had the timeout issues with upload and download over high latency radio link. I compiled a new version of MAVSDK by setting the default timeout as below in mavsdk.h

`static constexpr double DEFAULT_TIMEOUT_S = 5;`

I can confirm that the upload mission timeout is fixed but this doesn't work for download mission api. Is there a different timeout set

[2021-06-17 06:40] julianoes opened #1467 "Mavsdk instances should not share mavlink_status_t"
It turns out that `Mavsdk` instances will share `mavlink_status_t` if they are in the same compilation unit. This happens for instance when two `Mavsdk` instances are created in an integration test to talk to each other. In this case, they will access the same `mavlink_status_t` which is allocated `static`, so they will share the `seq` field.

The `static` status comes from here:
https://github.co

[2021-06-19 11:31] JonSnow-vn opened #1470 "how to access when flying mission"
hi, i have a web control drone in jmavsim by click button, and button will run mavsdk module like takeoff, fly_mission, ...
when drone flying mission on jmavsim, how can i access to stop this by click button on web, t try to call land() in new module but get " bind error: Address already in use (udp_connection.cpp:86) ", i use cpp.
How can i do this, thanks!

[2021-06-19 11:56] JonasVautherin commented on #1470
So your button ends up starting  a new instance of MAVSDK? If you start two instances of MAVSDK, and both try to listen to udp:14540, then the second one will give you this `bind error: Address already in use (udp_connection.cpp:86)` error.

You need to have only one instance of MAVSDK, and all your buttons should talk to it :+1:

[2021-06-19 12:26] JonSnow-vn commented on #1470
ok i'm understend it, so how can i have only one instance of MAVSDK, or in other words when i click stop button stop how access instance of MAVSDK when flying, sorry i'm new ber

[2021-06-19 15:06] JonasVautherin commented on #1470
I don't know what technology you use for your web interface or anything about your setup, I cannot guess :slightly_smiling_face:. With the information you shared, all I can say is that you cannot bind two instances of mavsdk to the same port.

[2021-06-19 15:57] JonSnow-vn commented on #1470
Ok thanks. I have some solutions to slove this. It's work. But when the drone flying in missions, i'm called action.land() and drone was landed at current location. It's good. But some connect still on port 14540. So i cant do anything next like takeoff, flymission,.... It's say bind error: Address already in use (udp_connection.cpp:86) . How can i slove this?

[2021-06-29 13:10] julianoes commented on #1458
I'm going to close this. Please comment again if there are more questions.

[2021-06-29 13:10] #1458 closed

[2021-06-29 13:14] julianoes commented on #1470
This means the UDP port is already used. So it seems like you are trying to connect with multiple processes to the drone. Is that true?

[2021-07-01 02:32] imindude opened #1472 "Looks like RC loss, but RC is connected"
I made a tethered drone that was followed the another vehicle.
A few days ago, I found something strange thing.

Here is my Ulog.
https://logs.px4.io/plot_app?log=0e613e57-53b3-4ebe-bc3d-833980ce48be

And attached screenshot is telemetry log.
![telemetry](https://user-images.githubusercontent.com/5907865/124055690-4f2c8c80-da5f-11eb-9e54-1ba12f7e6c60.jpg)

In Ulog, there is not shown the RC input

[2021-07-01 04:19] julianoes commented on #1472
It might not show up as RC available because you might not have done the RC calibration?

In any case, I don't think this is a MAVSDK issue, right?

[2021-07-01 04:37] imindude commented on #1472
In next time, RC is completely worked. I did nothing between failure and success.
Actually I don't know it becomes from MAVSDK or PX4.

[2021-07-01 05:33] julianoes commented on #1472
MAVSDK has nothing to do with RC_CHANNELS, pretty sure.

[2021-07-01 12:10] imindude commented on #1472
Yes. I think it's my mistake.

[2021-07-01 12:10] #1472 closed

[2021-07-07 21:22] dbaldwin opened #1474 "Building MAVSDK for Jetson Nano aarch64"
Hi,

I'm hoping someone can help with a problem I've run into. The end goal is to get mavsdk_server running on my Jetson Nano. Then I'll use MAVSDK JavaScript to interface with a simulator (and then ultimately real hardware) from a web page. I've been following the instructions here:

https://mavsdk.mavlink.io/v0.24.0/en/contributing/build.html

to build for my Jetson Nano. I've gotten close with

[2021-07-08 06:13] JonasVautherin commented on #1474
Doesn't [mavsdk_server_linux-arm64-musl](https://github.com/mavlink/MAVSDK/releases/download/v0.40.0/mavsdk_server_linux-arm64-musl) work on the Jetson Nano?

[2021-07-08 09:45] cepoya opened #1475 "Connect DJI Mavic 2 to PyCharm"
Hi Gentlements,

newbie want ask you, please help
my drone: Mavic 2

i have issue,
i already connect my phone to QGroundControl , it's work even the video show and didn't show
i want collect data distance and all parameter from drone to PC using Pyton language  also direct video from drone to PC but always error

my step:
1. mavsdk server running but still any problem
![image](https://user-images.

[2021-07-08 10:22] JonasVautherin commented on #1475
Are you sure that the DJI Mavic 2 exposes a MAVLink interface? :thinking:

[2021-07-08 14:36] dbaldwin commented on #1474
@JonasVautherin 🤦🤦🤦🤦🤦🤦🤦🤦🤦🤦

Sorry to waste your time with this. I don't know why I ended up in this rabbit hole. Actually I do remember now. I ran "uname -a" and it returned "aarch64". Anyway, the arm64-musl release did the track.

Thank you so much :)

[2021-07-08 14:36] #1474 closed

[2021-07-09 09:02] fookinhell opened #1478 "Cannot build examples on Windows (lib error)"
Hello,
I don't get how to build examples on Windows.

From a clean clone, after the submodule update, I did the following :

`cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF -DCMAKE_INSTALL_PREFIX=install -Bbuild/default -H.`

`cmake --build build/default --config Release --target install`

Then, when I try to compile the takeoff and land example, using this command
`cmake -Bbuild -DCMAKE

[2021-07-09 10:55] JonasVautherin commented on #1478
Almost there, but I think you need to point CMake to the dependencies (curl is one of them), so something like this:

[code]

[2021-07-09 11:08] fookinhell commented on #1478
Well, that wasn't so hard, thanks :)

After removing the generated build folder and retrying to build the example, I know have this error :
[code]

Shouldn't Threads be already linked ?

[2021-07-09 12:06] JonasVautherin commented on #1478
Oh it's right that the example does [#include <thread>](https://github.com/mavlink/MAVSDK/blob/main/examples/takeoff_land/takeoff_and_land.cpp#L14), but does not link it (see [here](https://github.com/mavlink/MAVSDK/blob/main/examples/takeoff_land/CMakeLists.txt)).

The [fly_mission](https://github.com/mavlink/MAVSDK/blob/main/examples/fly_mission/CMakeLists.txt) example does it correctly. Would y

[2021-07-09 13:06] fookinhell commented on #1478
That did the trick !
Sorry for not taking the time to look at other examples.. I'll do it next time I have a problem :)

I'm closing this, thanks for your quick answers :)

[2021-07-09 13:06] #1478 closed

[2021-07-13 13:01] JonasVautherin commented on #1478
You actually found a bug in this one :slightly_smiling_face:. Would you mind opening a PR to fix it?

[2021-07-18 15:22] smotrjashka commented on #1164
just for motice, I have the same issue

[2021-07-18 21:02] #1365 closed

[2021-07-20 08:06] julianoes commented on #1164
@smotrjashka does https://github.com/mavlink/MAVSDK/issues/1164#issuecomment-674197395 help?

[2021-07-21 15:46] #1475 closed

[2021-07-29 00:47] random82 opened #1492 "mavsdk_server errors when running in container"
Hi,

I have problems with running mavsdk_server from within a Docker container. My stack includes PX4 Autopilot 1.20 running on `px4io/px4-dev-simulation-focal:latest` image and MAVSDK 0.40.0 running on `ubuntu:20.04`

I broadcast MAVLINK commands to other containers with this command.

`pxh>mavlink start -p -o 14560 -u 14560`

The mavsdk_server connects but runs with errors. I can connect to gRPC

[2021-07-29 08:54] julianoes commented on #1492
When you run all this, is the computer's CPU maxed out? I'm wondering if PX4 is running slower than realtime and hence MAVSDK sometimes "loses the connection", so sees heartbeats timing out.

[2021-07-29 09:44] bazfp opened #1493 "Add tests for *_server plugins"
Due to time constraints `*_server` plugins are lacking rigorous testing frameworks.

Recommend we put some time in testing these.

[2021-07-29 12:05] random82 commented on #1492
That was my suspicion, so I added more cores to WSL 2, but it didn't go over 30% CPU in the PX4 container, and MAVSDK CPU utilisation was negligible.

I eventually got it working by disabling broadcast, assigning static IPs via Docker Compose and modifying the PX4 mavlink bootstrap script to

[code]

[2021-07-30 04:18] TomoCoder123 opened #1496 "Error Running Example Mission.py"
When I run Mission.py from Examples using Gazebo and the PX4 flight controller software, I receive these errors.
![Screenshot from 2021-07-30 00-12-38](https://user-images.githubusercontent.com/76802324/127599176-93c6e567-5ce6-4ae1-837b-cbc0262b8e78.png)

I am wondering if the warnings shown below are the reason for the problem and if anyone has any ideas. Thanks in advance, a little new to this s

[2021-07-30 07:03] julianoes commented on #1496
The API for MissionItem has changed, fix coming: https://github.com/mavlink/MAVSDK-Python/pull/372

[2021-07-30 07:18] #1496 closed

[2021-08-03 15:23] bazfp commented on #1445
Server functionality has been added: (after much hardwork :tada:)

`mission_raw_server` #1488
`action_server` https://github.com/mavlink/MAVSDK/pull/1491
`telemetry_server` https://github.com/mavlink/MAVSDK/pull/1482
`plugin_server` https://github.com/mavlink/MAVSDK/pull/1473

Documentation and examples required:

[2021-08-03 21:10] julianoes opened #1499 "Sequence number wrong, per message instead of per channel"
It looks like the sequence is defined per message (or maybe per plugin?) instead of per mavlink component/instance.

[code]

Maybe related to #1467.

[2021-08-05 18:54] beenjamminnallday commented on #1441
I am using the recently released MAVSDK Python 0.19.0, and similar to what is described above I increased the `set_mavlink_timeout(timeout_s)` function to 5 and 10 secs, It doesn't work with more than 1 waypoint. Uploading a mission via a serial connection (holybro telemetry radio v3) to a pixhawk 4 unfortunately results in a timeout.

[2021-08-06 07:17] #1499 closed

[2021-08-06 09:20] julianoes commented on #1441
5 or 10 seconds seems way too high, it likely won't work because PX4 on the other side still assumes a timeout much lower, around 0.5 seconds. What is the ping/latency between MAVSDK and PX4 for your setup?

[2021-08-06 14:44] BeenJamminAllDay commented on #1441
I might be wrong but I assumed the timeout  function told PX4 what timeout to expect? From your answer, I gather I would have better results if put the timeout at 1 or 2 secs?

I haven’t checked the latency between MAVSDK and PX4 but since I’m using radios to communicate, it shouldn’t be too high.

[2021-08-08 07:35] maximusron commented on #992
Can you please share the fix, the github link doesnt exist anymore

[2021-08-09 05:55] saadnec opened #1504 "Multiple telementry not accesible"
I am trying to use multiple drones so i am assigning telementry1,2,3 for different drones to get positions of different drones.

****
     auto telemetry1 = Telemetry{system[0]};telemetry1::Position position1;
    auto action1 = Action{system[0]};
    auto offboard1 = Offboard{system[0]};
    auto telemetry2 = Telemetry{system[1]};telemetry2::Position position2;
    auto action2 = Action{system[1]

[2021-08-09 07:40] reedev commented on #1441
Quick update from my side. I noticed the recent timeout related changes and tried out fly_mission and the result is still the same, could not upload a mission. I will check out the integration test asap...

[2021-08-09 09:05] reedev commented on #1441
v0.42.0
I tested with a Herelink / Pixhawk4 / PX4 setup with a different result: the autopilot is not found.
I also tested with sitl with Gazebo and that's working as expected.

[2021-08-09 09:55] JonasVautherin commented on #992
You'll find plenty of CMakeLists in the examples folder: https://github.com/mavlink/MAVSDK/tree/main/examples

[2021-08-09 10:08] JonasVautherin commented on #1504
The compiler complains because your code is not valid C++, it's independent from MAVSDK. I would suggest you have a look at the examples to see how we do it, e.g. [here](https://github.com/mavlink/MAVSDK/blob/main/examples/takeoff_and_land/takeoff_and_land.cpp#L92-L94).

[2021-08-09 10:12] JonasVautherin commented on #1441
No, it's really on the MAVSDK side: it tells MAVSDK which timeout to use. You are right that it would make sense to synchronize that value with PX4, but MAVLink does not provide that, and I don't know what it would imply on the PX4 side (and how one would handle the case where PX4 does not support it).

[2021-08-09 10:13] saadnec commented on #1504
I have checked it out but exactly what should i do to get position of my different drones because in the examples we have either used a single drone or even if we have used multiple ones we have  done it using 1 function with 1 drone at a time, but i want to use multiple ones in a single function so i need telemetry of 3 different vehicles.

[2021-08-09 10:26] JonasVautherin commented on #1504
Again that's a C++ question, not a MAVSDK one :blush:. You have multiple callbacks and you want to use them together. It's up to you to decide how you design that :+1:

[2021-08-09 11:20] saadnec commented on #1504
So if u could please guide me about how we are receiving callbacks.

****
telemetry.subscribe_position([](Telemetry::Position position) {
        std::cout << "Altitude: " << position.relative_altitude_m << " m\n";
    });
****
Here why are we passing Telemetry::Position not telemetry::Position  because we have initiated the system plugin by ""auto telemetry = Telemetry{system};""

[2021-08-09 11:30] bazfp commented on #1504
This is a C++ question - these bug reports are for MAVSDK library issues.

`Telemetry::Position` is a data type. The instances you have created (`telemetry1` `telemetry2`) affect only how you setup the subscription.

[code]

The only difference is the variable you call `subscribe_position` onto :)

https://stackoverflow.com/questions/7627098/what-is-a-lambda-expression-in-c11

[2021-08-09 11:30] #1504 closed

[2021-08-11 07:12] saadnec commented on #1504
Thanks. This was helpful :).

Can you please guide me about at what point is the subscribe_position is called as it continues to print till the program isn't terminated.

[2021-08-11 08:16] marcinm97 opened #1505 "Question about Pixhawk Cube Orange & Pixhawk Cube Black"
Does the MAVSDK C++ support both versions of pixhawk? ( Orange Cube & Black Cube )

[2021-08-11 10:24] saadnec opened #1506 "Action not working properly"
I just added action.gotolocation in the takeoff example but as soon as it takes this command instead of going to that location my vehicle starts  going down and lands.

Pictures of codes and mavsdk messages are attached
![0](https://user-images.githubusercontent.com/88645996/129013215-64ea7ff2-c14c-42c6-aa79-a28d88defad7.PNG)
![1](https://user-images.githubusercontent.com/88645996/129013219-a6b3cf

[2021-08-12 09:41] reedev commented on #1506
Never tried this particular case myself but I know from missions that you need to be within a certain distance (900 meters) from the home point. I guess you need to set the home position, see for sitl https://docs.px4.io/master/en/simulation/gazebo.html

[2021-08-12 09:56] reedev commented on #1505
I guess it might be good to describe what you are trying to achieve. What is your setup wrt PX4 or ArduPilot, etc. What have you tried so far? Giving more details will allow people to help you better.

[2021-08-12 12:06] reedev opened #1507 "Testing an 'Unsupported component' with sitl?"
First of all: I am learning about the discovery of components and I see that SystemImpl::add_new_component() is constantly called. Obviously, components are dynamically checked at runtime. Is that a right assumption?

Since I have an 'Unsupported component' from my setup Herelink/Pixhawk4/PX4 I would like to check if that is the reason why component discovery does not work as with sitl. Is there a

[2021-08-12 12:41] JonasVautherin commented on #1507
Yes, that's correct.

What does not work? Like what kind of code do you run that works with SITL and not with your setup?

[2021-08-12 12:41] philippecloutiermathura commented on #1316
Hi, I'm getting the same issue while connecting with a USB antenna (serial connection).  When uploading a mission with more than two mission items, it times out almost immediately.  I tried setting the timeout value to "2" or "5" but I get the same result.  I also tried using the MAVSDK-Python project example [mission.py](https://github.com/mavlink/MAVSDK-Python/blob/main/examples/mission.py) and

[2021-08-12 12:43] JonasVautherin commented on #1505
MAVSDK supports mainly PX4, and I have seen people use at least parts of it with Ardupilot.

It's not related to pixhawk though: pixhawk is the hardware, and MAVSDK does not care about the hardware. So you can run PX4 on a pixhawk, a raspberry pi, your laptop or a coffee machine, as long as MAVLink messages reach MAVSDK, it will be fine.

Does that answer your question? :blush:

[2021-08-12 12:47] JonasVautherin commented on #1506
The altitude of the goto_location command is given above sea level (see the documentation here: https://github.com/mavlink/MAVSDK-Proto/blob/main/protos/action/action.proto#L79-L80).

So if your drone takes off 400m above the sea level, and you ask it to go to 2.5 meters above sea level, then it will go down. Could that be the reason for your issue?

[2021-08-12 17:18] reedev commented on #1507
Hi,

I don't understand how new components are added, and seemingly removed. Running any examples with SITL (Gazebo) works fine and none of them work with my basic setup. For example, when running the takeoff_and_land the autopilot is not found.

I added a few lines for debugging at line 357 in system_impl.cpp:
    LogDebug() << "  Num components before inserting: " << _components.size();
    auto

[2021-08-13 10:23] JonasVautherin commented on #1507
MAVSDK says "Component Autopilot (1) added."

What says "No autopilot found."?

[2021-08-13 11:05] reedev commented on #1507
All the info is from the MAVSDK internal and the takeoff_and_land.cpp Please check line 52.

[2021-08-13 11:10] saadnec commented on #1506
Yes, that was the issue. Thanks for helping me resolve this issue :).

[2021-08-13 11:10] #1506 closed

[2021-08-13 15:27] reedev opened #1508 "(slightly off-topic) How to 'reset' Gazebo after running integrations tests?"
Hi,

v0.42.0
I ran the integrations tests and now running the  MAVSDK example fly_mission (with custom waypoints next to the home point) and now I get "MAVLink: critical: Geofence violation for waypoint". Which is understandable since I ran the integration tests...

Is there a way to reset/clear Gazebo? I couldn't find an answer in the MAVSDK issues...

Thanks

[2021-08-13 16:42] JonasVautherin commented on #1508
I just restart it :sweat_smile:. I don't think there is a way, to be honest

[2021-08-13 21:17] reedev commented on #1508
No way, that doesn’t work for me...?! Of course, I tried that 😛

[2021-08-14 01:59] mrpollo commented on #1508
I think what @JonasVautherin means is you need to stop PX4 and relaunch it. That should start the gazebo simulation environment in a fresh state.

[2021-08-14 07:49] reedev commented on #1508
Hi Ramon,
Yes, that’s how I interpreted Jonas’ suggestion, thanks. I also restarted the machine and the geofence violation was still there.

I now realized that it is indeed px4 that does the sitl, thanks.

I remember that I also ran px4 unit tests and integrations tests so maybe the state is stored in the px4 source tree. Not sure, I am learning about px4, mavsdk, etc

I have now ‘fixed’ the issu

[2021-08-14 14:27] JonasVautherin commented on #1316
There have been some improvements in the latest version of mavsdk (coming with MAVSDK-C++ 0.42.0), and also in PX4. I think it will be worth testing again with those versions when they are out.

[2021-08-14 15:57] mrpollo commented on #1508
It's possible that PX4 stores some values to make the build faster, in those cases I recommend you run 'make clean' it's faster than a fresh clone

[2021-08-14 22:28] danduril opened #1509 "Get vehicle time since boot"
I'm writing mavsdk-based tests using `autopilot_tester` from the PX4 repo. The controls guy tests his stuff using MATLAB scripts that trigger certain inputs at certain times. My job is to replicate his tests in the integrated sitl environment. My first attempt was less than perfect because the sitl logs had a variable time scale. Next, I tried adjusting the time according to the speed-up factor. T

[2021-08-16 05:51] saadnec opened #1511 "How to get lidar data with mavsdk"
I am trying to get lidar data with mavsdk but there is no header file present to interact with a lidar. Is there any way i can get lidar data using mavsdk?

[2021-08-16 06:39] reedev commented on #1508
Fyi, I tried that but no change. Actually, I did not expect this to be honest since 'make clean' is a build command. Anyway, it's not important for now.

[2021-08-18 17:32] reedev commented on #1507
@JonasVautherin any idea how this might happen?

[2021-08-18 20:13] reedev opened #1512 "mission vs mission_raw?"
Hi,
Is there any documentation about both classes and particularly about the reason of the 2 types?

thank you

[2021-08-20 09:58] saadnec opened #1513 "Not able to access camera"
I am using px4 and made the changes in iris.sdf.jinja file to add the camera plugin and it is successfully implemented too its showing in the gazebo environment.

But when i am trying to connect to it using mavsdk by using camera example in examples, it says No camera found, exiting.
@JonasVautherin
@julianoes

[2021-08-20 17:38] philippecloutiermathura commented on #1316
Thank you for the suggestion, I will try again when a more recent version of MAVSDK-Python is available.  Correct me if I am wrong, but I think the current MAVSDK-Python 0.19.0 (released july 23) does not contain the changes from MAVSDK-C++ 0.42.0 (released august 6) .  I will also try updating my PX4 version.

[2021-08-23 07:15] JonasVautherin commented on #1512
`mission_raw` is a lower-level interface, where you have to use the `msgid` etc. `mission` is higher-level, and ideally the one you should use if it does the job for you.

[2021-08-23 07:21] JonasVautherin commented on #1511
So I assume that the distance sensor interface does not work in your case? https://github.com/mavlink/MAVSDK-Proto/blob/main/protos/telemetry/telemetry.proto#L73-L74

[2021-08-23 07:27] JonasVautherin commented on #1513
Did you try with the typhoon h480 model? I believe it has a camera

[2021-08-23 07:45] reedev commented on #1512
Aha, ok, that's good advice. Thanks.

[2021-08-23 07:45] #1512 closed

[2021-08-30 08:48] julianoes commented on #1505
Closing as there was no follow up.

[2021-08-30 08:48] #1505 closed

[2021-08-30 08:49] #1509 closed

[2021-08-30 08:49] julianoes commented on #1508
O

[2021-08-30 09:20] julianoes commented on #1507
I don't quite understand this yet. So what exactly is the problem that you are trying to solve?

[2021-08-30 09:21] julianoes commented on #1511
@saadnec could you respond to what @JonasVautherin wrote please?
And what lidar are you using? And is it connected to PX4, and how? And does PX4 see it?

[2021-08-30 09:22] julianoes commented on #1513
Closing, please comment again if this is not resolved.

[2021-08-30 09:22] #1513 closed

[2021-08-30 09:23] julianoes commented on #1316
If you have troubles uploading missions, you might also want to try this: https://github.com/PX4/PX4-Autopilot/issues/18082

[2021-08-30 09:41] reedev commented on #1508
Yes, that sounds right to me too.
For my understanding, which file stores the geofence, do you know that? Is there documentation about these sitl runtime files?

[2021-08-30 09:52] reedev commented on #1507
No problem, I will give you more details. I am trying to connect to a Pixhawk 4 running PX4 via a Herelink controller. Since I want to understand the underlying code as much as possible, I thought I'd ask a sitl question instead of directly asking about my particular setup. As always, it would be better to replicate a hardware related issue in sitl and fix it there first.

In the long log of the c

[2021-08-30 10:02] julianoes commented on #1508
This should be the file: `build/px4_sitl_default/tmp/rootfs/dataman`.

[2021-08-30 12:26] julianoes commented on #1507
Got it. Can you show the code that runs the output above?

[2021-08-30 13:35] #1511 closed

[2021-08-30 13:36] saadnec commented on #1511
Couldnt get the data using mavsdk so ended up using mavlink

[2021-08-30 14:34] reedev commented on #1507
Ok cool. It is the standard example takeoff_and_land and I added a few lines for debugging at line 357 in system_impl.cpp:
LogDebug() << " Num components before inserting: " << _components.size();
auto res_pair = _components.insert(component_id);
LogDebug() << " Num components after inserting: " << _components.size();

This is actually the same info as I wrote above. Do you need more info?

I was

[2021-08-30 14:39] reedev commented on #1508
All clear, thanks

[2021-08-30 16:15] dgeorge83616 commented on #1509
For future reference, this feature is already available via https://github.com/mavlink/MAVSDK/blob/4429b9f4c404e0e5298dcafe12ad8cf57dab272a/src/plugins/info/include/plugins/info/info.h#L191.

[2021-08-31 06:12] julianoes commented on #1507
That's what I needed to know, thanks.

They should not get "lost", that's indeed odd.

[2021-08-31 07:56] reedev commented on #1507
Perfect. Plz let me know how I can help.

[2021-08-31 09:45] #1508 closed

[2021-08-31 11:03] julianoes commented on #1507
Aha!

So this another `System` (and `SystemImpl`):
[code]

So this explains why the component number "goes down".

Now, there is still the question of why there is no autopilot found. Given it says:
[code]

it really should be there, so for some reason this doesn't get triggered.

In theory `mavsdk.systems().back()` should always give you the one that was just added, and so one of the two should f

[2021-09-01 22:40] FurkanYelbey opened #1522 "Waypoint frame not supported"
Waypoint frame not supported (mission_impl.cpp:529)
I got that error everytime I try to execute cpp in my ubuntu it's happening when I try download_mission command how can I fix that and what does that mean guys? I can't find any solutions for 2 months

[2021-09-02 00:19] JonasVautherin commented on #1522
Could you share code that we could use to reproduce your issue?

What have you tried already? If you spent 2 months on it you may have valuable information to share with us and help debug the issue, so feel free to share! :blush:

[2021-09-02 07:56] julianoes commented on #1522
What Jonas said. @FurkanYelbey are you using PX4 or ArduPilot? What mission are you uploading and how?

[2021-09-02 14:16] FurkanYelbey commented on #1522
I am using PX4 and trying to download some waypoints on my PX4 but it gives me Waypoint frame not supported

#include <mavsdk/mavsdk.h>
#include <mavsdk/plugins/action/action.h>
#include <mavsdk/plugins/mission/mission.h>
#include <mavsdk/plugins/telemetry/telemetry.h>

#include <chrono>
#include <functional>
#include <future>
#include <iostream>
#include <memory>
#include <thread>

using namespac

[2021-09-02 15:07] julianoes commented on #1522
Which PX4 version? This would be something like v1.12. And which MAVSDK version?
And how are you creating and uploading the mission in the first place.

[2021-09-02 15:58] FurkanYelbey commented on #1522
How can I learn my PX4 version and I use mavsdk 0.42.0 version

[2021-09-02 16:00] FurkanYelbey commented on #1522
I am creating missions by Mission Planner and write them to PX4.
![resim_2021-09-02_190009](https://user-images.githubusercontent.com/86896678/131877568-0e299465-ba21-4a60-83b8-2021f5686b0e.png)

[2021-09-02 18:06] TechNaturalist opened #1523 "no entries received"
Hello!

I am trying to pull logs onto a companion computer via MAVSDK.  However,  when using the get_entries() function I get a warning saying: "No entries received" for the log_files_impl.cpp

Checking Q Ground Control there are at least 14 entries.

Why is nothing being found?

Any hints would help! Thanks you!

[2021-09-02 18:26] FurkanYelbey commented on #1522
All I can see is firmware is 4.0.7 PX4

[2021-09-02 19:29] JonasVautherin commented on #1522
MAVSDK is failing because it does not support a MAV_CMD_NAV_WAYPOINT that has a frame other than MAV_FRAME_GLOBAL_RELATIVE_ALT_INT. Could you tell us which frame MissionPlanner sent?

I don't know if PX4 supports other frames, btw, but I'm assuming that it does since you could upload it.

I don't get that, the latest PX4 version I know is 1.12.x :sweat_smile:

[2021-09-02 22:45] JonasVautherin commented on #1523
For the record: that message comes from [here](https://github.com/mavlink/MAVSDK/blob/main/src/plugins/log_files/log_files_impl.cpp#L167), which comes from `list_timeout`, which [is called](https://github.com/mavlink/MAVSDK/blob/main/src/plugins/log_files/log_files_impl.cpp#L97) by [`get_entries_async`](https://github.com/mavlink/MAVSDK/blob/main/src/plugins/log_files/log_files_impl.cpp#L86).

It

[2021-09-03 04:17] julianoes commented on #1522
Aha, you must be using ArduPilot, so that explains the issue. MAVSDK is not compatible with ArduPilot (yet) but there is work going on to fix that. Looks like we just found another thing that needs work. It has to do with the frame that you select in mission planner.

Actually, as an alternative you could just use `MissionRaw` instead of `Mission` which gives you more flexibility and direct access

[2021-09-03 08:30] happyzihao opened #1525 "How to get PositionNed from MAVSDK?"
Hello, I have a question and need help.

from Mavsdk, I can get postion( latitude_deg, longitude_deg .. ) by function postion() in telemetry plugin.
Now, I want to get PostionNed( north_m, east_m .. ) , But telemetry plugin does not provide function positionned().

How can I get PostionNed ?

thanks.

[2021-09-03 09:00] julianoes commented on #1525
This should have it:

https://github.com/mavlink/MAVSDK/blob/6ded0e9d7a2967ae9a59dfc05d1f499c7143f5b3/src/plugins/telemetry/include/plugins/telemetry/telemetry.h#L1386-L1389

[2021-09-03 13:11] marvin-wtt opened #1527 "Promise already satisfied"
I am running MAVSDK v.0.42.0 on Ubuntu 20.04 inside a ROS2 node. Sometimes the node dies right after I initialize MAVSDK. The error however occurs non deterministic with a 1/20 chance. (I just started it over and over again and sometimes it crashes)
After a lot of try and error debugging, I noticed that it happens every time `set_rate_battery` fails. I couldn't figure out why it fails but every ti

[2021-09-03 14:12] JonasVautherin commented on #1522
This. And also you could try to change the frame in mission planner (let us know if you manage to do that).

This said, adding support for the Ardupilot frame in MAVSDK may be an relatively easy contribution, I believe. Your first step would be to understand which frame Ardupilot supports, and how it differs from MAV_FRAME_GLOBAL_RELATIVE_ALT_INT (as in: how could you convert from the Ardupilot on

[2021-09-03 14:16] JonasVautherin commented on #1527
Do you use futures/promises in your code? Or is this happening in the MAVSDK side?

[2021-09-03 14:30] FurkanYelbey commented on #1522
I'm gonna look for it how i can change the frame in mission planner and gonna try with MissionRaw

[2021-09-03 14:35] marvin-wtt commented on #1527
I do not use any futures in my code. I used a future in the system discovery before (like in the example) but I replaced it with busy waiting to narrow down the problem.
So it must be on MAVSDK side as I could not imagine any side-effects with ROS2.
It happens always the the result of `telemetry_->set_rate_battery()` is not success.

[2021-09-03 15:02] bazfp commented on #1527
I have had this happen too when using the sync functions. It seems to be related to retrying commands

[2021-09-03 16:22] marvin-wtt commented on #1527
I did some further testing and figured out, that the result is `CommandDenied`before the error occurs. I can't say if the behavior is unique to this result though.
I am currently testing it in SITL but it also happens when connected to a flight controller.
To reproduce the described behavior I have a disarmed copter in SITL and restart the software until I get the error. It takes approximately 20

[2021-09-04 06:55] happyzihao commented on #1525
thanks, it's ok.

[2021-09-04 14:32] #1525 closed

[2021-09-06 02:14] happyzihao opened #1531 "Can MAVSdk support set ekf origin?"
Hello, I have a homework which needs to fly multiple UAVs, So I plan to build a global NED Coordinate.
But when a vehicle starts to takeoff, It's current ned postion is ( 0, 0, 0 ).

I want to modify the current NED position by setting ekf_origin.

[2021-09-06 02:22] JonasVautherin commented on #1531
Is there a mavlink message that is implemented in PX4 and that does that?

[2021-09-06 03:21] happyzihao opened #1532 "offbboard::set_position_velocity_ned"
Hello,

In the funtion
Offboard::Result Offboard::set_position_velocity_ned( PositionNedYaw position_ned_yaw, VelocityNedYaw velocity_ned_yaw);

What does VelocityNedYaw mean? Average velocity in each direction ?
Actual flying, I set different VelocityNedYaw,  the fly speed is always too fast.

Thanks.

[2021-09-06 06:11] happyzihao commented on #1531
Arrording to
https://github.com/ArduPilot/MissionPlanner/issues/1901,

I guess Mavlink should have this message.

[2021-09-06 16:49] JonasVautherin commented on #1531
MAVLink messages are defined here: https://mavlink.io/en/messages/common.html

Next step is to find which one you want (if it exists) :wink:

[2021-09-07 02:32] julianoes commented on #1531
Looks like it would be this one: https://mavlink.io/en/messages/common.html#SET_GPS_GLOBAL_ORIGIN

Which even seems to be implemented by PX4:
https://github.com/PX4/PX4-Autopilot/blob/5eddf32cd38f25e385a1a171319e4e08a3a4a4dc/src/modules/mavlink/mavlink_receiver.cpp#L1188-L1211

[2021-09-07 02:34] julianoes commented on #1532
It's actually a bit confusing. I believe what the speed sets is the "feed-forward" term for the control.
@Jaeyoung-Lim or @MaEtUgR maybe you can explain it better.

[2021-09-07 02:35] julianoes commented on #1527
I have seen this happen in CI tests recently as well. Could not track it down yet.

[2021-09-07 06:39] JonasVautherin commented on #1531
Oh we already have a getter for that! https://github.com/mavlink/MAVSDK/blob/main/src/plugins/telemetry/telemetry_impl.cpp#L2139

[2021-09-07 07:27] happyzihao commented on #1531
@julianoes @JonasVautherin , thanks for your help. Now I think mavlink message SET_GPS_GLOBAL_ORIGIN or mavsdk api TelemetryImpl::get_gps_global_origin_async may be used to set ekf_origin.

Next, I will test this api( get_gps_global_origin_async ), and write my result.

Thanks your help.

[2021-09-07 07:44] julianoes commented on #1531
The setter needs to be implemented.

See here, how a feature can be added: https://mavsdk.mavlink.io/main/en/cpp/contributing/plugins.html#add-api-to-proto

[2021-09-07 11:16] shammaAli opened #1534 "Subscribe_position to Display Drone Position"
Hi,

am trying to receive drone position and display it on a QT GUI qlineedit.
I have the code for position, but the problem when I test it using px4 I received the position once, and I need a continuous movement. The code is same as the takeoff and landing example.

`    Mavsdk mavsdk;
    ConnectionResult connection_result = mavsdk.add_any_connection("udp://:14540");

    if (connection_result !

[2021-09-07 16:01] JonasVautherin commented on #1531
@julianoes  Would that go into the action plugin?

[2021-09-07 16:02] JonasVautherin commented on #1534
Your callback in `telemetry.subscribe_position([&](Telemetry::Position position) {` should be called for each position update. Is that not the case?

[2021-09-08 03:33] shammaAli commented on #1534
Does this function "telemetry.subscribe_position" call the position one time? or more than one?
I thought setting the rate as this "const auto set_rate_result = telemetry.set_rate_position(1)" will call the position several time

[2021-09-08 07:40] julianoes commented on #1531
Yes. I'd say so.

[2021-09-08 13:46] julianoes opened #1536 "Linking of openssl fails on Ubuntu 18.04"
[code]

[2021-09-08 15:29] JonasVautherin commented on #1536
Where is that? It works in the CI, doesn't it? https://github.com/mavlink/MAVSDK/blob/main/.github/workflows/main.yml#L64

[2021-09-08 18:18] TechNaturalist commented on #1523
Hello!

I will try that and get back to you soon.

To answer your follow up question: I am using Mavlink Passthrough successfully.  So I believe it is working.

[2021-09-08 22:11] fas2037 commented on #1527
After some investigating I tracked the error down to: https://github.com/mavlink/MAVSDK/blob/f4987b17a0f766969efb2593e28d57c2c46c000e/src/core/mavlink_commands.cpp#L48-L56 It seems as the first result is a ```CommandDenied``` as mentioned above. However, just a moment later another result of the type ```Success``` is provided. This leads to ```std::future_error: Promise already satisfied```.  Duri

[2021-09-09 06:40] JonasVautherin commented on #1527
It is expected that the second command receives a `CommandDenied` result. We don't want to retry it later, we delegate that to the user.

Now the thing is that there are two separate commands, and they should use two separate promises. Your bug suggests that maybe there is a confusion somewhere and that both results are sent to the same command :thinking:. Could it be?

[2021-09-09 07:07] julianoes commented on #1536
That's in my VirtualBox and happened to @rligocki.

[2021-09-09 07:49] julianoes commented on #1527
That's an interesting thought.

[2021-09-09 07:50] julianoes commented on #1527
@fas2037 do you have easy steps or a setup where it's easier to trigger this?

[2021-09-09 21:03] fas2037 commented on #1527
@julianoes with this setup I got the error for approximately 5% of my tries:
[code]

[2021-09-13 06:41] julianoes commented on #1527
Nice, with this example I can reproduce it! Thanks. Let's see...

[2021-09-13 10:03] julianoes commented on #1527
Fix coming: https://github.com/mavlink/MAVSDK/pull/1545

[2021-09-14 03:23] happyzihao opened #1547 "How to control velocity or fly time when using offboard::set_position_ned?"
Hello, when using offbaord::set_postion_ned to actual fly, the speed of vehicle is always too fast.
For safety, I want to slow down the actual fly speed.

I try to change the value of this variable:
 const float SEND_INTERVAL_S = 0.05f;

But It's not work, How can I do ?
thanks

[2021-09-14 05:31] #1527 closed

[2021-09-14 05:33] julianoes commented on #1547
You should be able to set the speed using the param [MPC_XY_CRUISE](https://docs.px4.io/master/en/advanced_config/parameter_reference.html#MPC_XY_CRUISE).

[2021-09-14 07:25] reedev commented on #1507
@julianoes  Just to let you know I am still on it (every now and then) and I see what you mean, about the different systems. Since I am still fresh I did not realize this... Thanks for explaining.

The lambda is not called and I am looking into this, learning about the MAVSDK internals on the fly... (I changed the mav sys id to 42 too, to keep it simpler, hopefully)

[2021-09-14 19:54] reedev commented on #1507
How can I use a sitl running on a remote system so that I need to connect via a connection string like udp://192.168.1.2:14550 or similar? I am asking because the above issue occurs when I make a connection like that and it does not occur when I use the server config like udp://:14550 (that's right, server, isn't it?).

MavsdkImpl::setup_udp_remote() is called of course and that path doesn't seem

[2021-09-14 20:11] reedev commented on #1507
Update: although good to know, it is not essential for this issue since I experience it too when a remote QGC (on the Herelink controller) connects to our MAVSDK server...

[2021-09-15 10:26] Bardo91 opened #1549 "Documentation offboard is_active method is confusing"
According to the documentation in https://mavsdk.mavlink.io/v0.37.0/en/api_reference/classmavsdk_1_1_offboard.html#classmavsdk_1_1_offboard_1aa5e0f3c02a03f2667f82d5e162221ff5 , it is said that is_active() method returns true if offboard control is active.

Additionally,  in section **Monitoring Offboard Mode** in https://mavsdk.mavlink.io/v0.37.0/en/guide/offboard.html . It is said

From these tex

[2021-09-15 18:35] julianoes commented on #1507
On that SITL system you need to send UDP to the right IP, see:
https://docs.px4.io/master/en/simulation/#enable-streaming-to-specific-address

[2021-09-15 18:37] julianoes commented on #1549
That sounds like a bug. Thanks for reporting.

[2021-09-17 06:16] happyzihao commented on #1547
Thanks, It's work.

[2021-09-17 06:16] #1547 closed

[2021-09-17 06:26] happyzihao opened #1554 "How to set vehicle's flight mode?"
Sorry, I ask for a simple question?

We can get the flight mode by telemetry plugin?
But how to set ?
Sorry , I spent much time finding this function. But I didnot find.

Thanks for your help

[2021-09-17 06:35] JonasVautherin commented on #1554
Depends on which mode you want. To go to hold mode, you can do it from the `action` plugin. To go to mission mode, you `start_mission` from the `mission` plugin. To go to offboard, that's in the `offboard` plugin.

Does that help?

[2021-09-17 06:49] happyzihao commented on #1554
Thanks, I  get.

[2021-09-17 06:54] #1554 closed

[2021-09-20 05:25] julianoes commented on #1507
@reedev this might help your debugging: https://github.com/mavlink/MAVSDK/pull/1557

[2021-09-21 13:56] dzywater opened #1561 "Why is mavlink included twice in mavsdk-windows-x64-release.zip"
mavlink is found at
(1)mavsdk-windows-x64-release-0.43.0.zip\include\mavsdk\plugins\ftp
(2)mavsdk-windows-x64-release-0.43.0.zip\include\mavsdk\plugins\mavlink_passthrough

Both are necessary or only one or none?

[2021-09-22 08:35] julianoes commented on #1561
It makes sense that the MavlinkPassthrough plugin includes mavlink because it also exports all the mavlink headers as it basically allows to send any mavlink message.

For the Ftp plugin, the public header does not include the mavlink headers from what I can see:
https://github.com/mavlink/MAVSDK/blob/main/src/plugins/ftp/include/plugins/ftp/ftp.h
I only see it included in the implementation: http

[2021-09-22 12:44] reedev commented on #1507
As it turned out, the System did not reply quickly enough, or did not send a heartbeat in time (did not perform any specific tests) and therefore the System was not checked in the callback. Changing the get_system() into:
std::shared_ptr<System> get_system(Mavsdk& mavsdk)
{
    std::cout << "Waiting to discover system...\n";
    auto prom = std::promise<std::shared_ptr<System>>{};
    auto fut = p

[2021-09-22 12:44] #1507 closed

[2021-09-22 12:50] JonasVautherin commented on #1507
@reedev I am not sure I understand your fix. Are you saying that something is wrong in the example code? Would you mind opening a PR to fix it, if that's the case? Would be helpful :innocent:

[2021-09-22 13:08] reedev commented on #1507
@JonasVautherin no something is wrong, or at least different in my setup. I tested again with the latest revision (with changed connection code compared to the version that I used for my first tests) and then I saw that only the 2nd system is being processed in the callback, and not the first one. So my code is only a fix for my setup, I guess, and I wanted to drop this knowledge here for future r

[2021-09-23 07:04] julianoes commented on #1507
@JonasVautherin I think the issue is connected to the fact that `is_connected` and `has_autopilot` are not necessarily in sync.

So, when any message from sysid 1, compid 1 arrives, you will be told that `has_autopilot` is true, however, it is not connected yet, until a heartbeat arrives.

To fix this we could consider not accepting any message until a heartbeat from a sysid/compid is received.

[2021-09-23 07:09] reedev commented on #1507
I have seen recent code to log mavlink messages. Is that right? Could that help somehow to backup this assumption?

[2021-09-23 07:11] julianoes commented on #1507
You can use `export MAVSDK_MESSAGE_DEBUGGING=1` to get more information about messages arriving and being sent.

[2021-09-23 07:35] reedev opened #1564 "PR #1291 with current code not working?"
@JonasVautherin I am learning about custom dialect and found your PR #1291. Thanks for that, it is a good starting point (and all the other messages about this subject too) and I gave it a try.

Using the PR as-is works as described. Now I would like to try it out with the current code and that does not work as expected. The instructions are working up until, and including, v0.37.0 and not for lat

[2021-09-23 16:12] dzywater commented on #1561
I'm afraid that I cannot undertand what you mean.
I just think that mavlink need not to be included twice.
mavsdk-windows-x64-release-0.43.0.zip\include\mavsdk\plugins\ftp\mavlink folder can be deleted.
But I am not sure.

[2021-09-24 07:22] julianoes commented on #1561
It should not be.

Aha, now I see what you mean! Let me check why that is there. I hope we can remove it.

[2021-09-24 07:37] julianoes commented on #1561
@dzywater will be fixed with https://github.com/mavlink/MAVSDK/pull/1565. Thanks for raising this.

[2021-09-24 07:50] Jaeyoung-Lim commented on #1532
@happyzihao Could you elaborate on what do you man by too fast? Is it moving faster than the desired setpoint velocity?

[2021-09-24 08:49] julianoes commented on #1532
@happyzihao you can limit the speed using the param [MPC_XY_CRUISE](https://docs.px4.io/master/en/advanced_config/parameter_reference.html#MPC_XY_CRUISE).

The velocity that you add to the MAVSDK interface is a control feed-forward.

[2021-09-24 08:50] julianoes commented on #1532
Note to self: we should describe that better in the API docs.

[2021-09-25 14:15] reedev commented on #1564
see comment in PR, closing

[2021-09-25 14:15] #1564 closed

[2021-09-27 14:33] AlbertoUA opened #1566 "How to connect multiple instances of mavsdk into the same mavlink port?"
Hi, I am trying to connect multiple instances of mavsdk into the same mavlink port. In order to do that, I use mavlink router to redirect the data into multiple ports.

[code]
Then, I connect an instance of mavsdk into each new port using a **connection_url_** of udp://:19990 and udp://:29990.

[code]

When I do this, only the first process to connect to a port works while the others are not able

[2021-09-27 15:02] JonasVautherin commented on #1566
The ports don't match here. 29900 and 29990 are not the same :innocent:

[2021-09-27 15:19] AlbertoUA commented on #1566
Sorry, I mistyped the command while writing the issue. The mavlink router command I use is:
[code]

[2021-09-27 15:37] JonasVautherin commented on #1566
Then, for what I can see here, it looks good to me :thinking:. Did you try them separately? Is it always the first one that works, or is it always the 29990 that works?

[2021-09-28 07:06] AlbertoUA commented on #1566
When I try them separately, they both work. However, it is when I try them together that the first process launched always works  and the other fails. I have found that this does not happen all the time, but randomly depending on the execution.

For example, I am trying to launch 3 instances of PX4 with ports 14540, 14541 and 14542. And then I using the mavlink router to redirect the data to vario

[2021-09-28 09:24] JonasVautherin commented on #1566
One thing I can think of is that your different mavsdk instances should not have the same sysid:compid when connecting to the same drone. Not sure if that is your issue, but if not that will create issues later on, so let's try to change that first.

I would use [this](https://github.com/mavlink/MAVSDK/blob/main/src/core/mavsdk.h#L205-L206) to set manual sysid:compid (keep the boolean to false in

[2021-09-28 12:48] #1561 closed

[2021-09-28 14:06] #1566 closed

[2021-09-29 13:07] bazfp opened #1568 "ArduPilot support limitations"
This is used as a tracking issue for ArduPilot incompatibilities.

Some, but not all MAVSDK plugins have ArduPilot support. This ticket will list **known** compatibilities and incompatibilities. If not listed, the state is unknown - It may work, it may not.

Please comment if you have tested functions and can confirm/deny working.

If you would like an ArduPilot feature included in MAVLink, please

[2021-10-06 11:41] fas2037 opened #1569 "Telemetry.set_rate_attitude() seems to have no effect"
'm trying to set the rate of the attitude messages. I tried setting it to a lower hertz rate, for example 10 Hz. But the messages still seem to get published in a very high rate (100 Hz)

I subscribe to Telemetry.subscribe_attitude_quaternion()

The function should set the rate of this MAVLINK Message.
https://github.com/mavlink/MAVSDK/blob/ee84bd93b7e0ef802963503a34783772e31eb10e/src/plugins/tele

[2021-10-06 11:53] fas2037 commented on #1569
I'm trying to set the rate of the attitude messages. I tried setting it to a lower hertz rate, for example 10 Hz. But the messages still seem to get published in a very high rate (100 Hz)

I subscribe to Telemetry.subscribe_attitude_quaternion()

The function should set the rate of this MAVLINK Message.
https://github.com/mavlink/MAVSDK/blob/ee84bd93b7e0ef802963503a34783772e31eb10e/src/plugins/tel

[2021-10-12 10:51] Katawann opened #1571 "Failed to build tinyxml2 on Raspberry Pi 3B+ ( armv7)"
I failed to build _MAVSDK_ because of _tinyxml2_. It compiles fine with _v0.40.0_ but it fails with _v0.41.0_. I guess the commits #1451 and #1436 have something to do with this. Not sure where I need to do the correction to validate the compilation on armv6 and armv7. Some advice would be really appreciated !

the output error I have with CMake:

[code]

[2021-10-12 20:36] evanatherton1 opened #1572 "MAVlink Forwarding - System not detected"
I am currently trying to forward MAVlink messages from QGroundControl to a Raspberry Pi. I'm using MAVSDK to listen to a specific UDP port:

`ConnectionResult conn_result = mavsdk.add_any_connection("udp://:14445");`

The program doesn't seem to recognize the vehicle. Specifically, mavsdk.systems().size() always equals 0. In QGC, I enabled mavlink forwarding and specified the IP address of the pi

[2021-10-13 06:04] julianoes commented on #1572
By the way, you can also forward using MAVSDKS by adding the argument with the `ForwardingOption`.
https://mavsdk.mavlink.io/main/en/cpp/api_reference/classmavsdk_1_1_mavsdk.html#classmavsdk_1_1_mavsdk_1aa43dfb00d5118d26ae5aabd0f9ba56b2

So, you set it to e.g. 192.168.1.42:14445? That all seems like it's correct. I can recommend using Wireshark to check if the packages are forwarded correctly.

[2021-10-14 05:45] julianoes commented on #1572
That sounds older. Why not the latest?

Application Settings -> Comm Links -> Add UDP connection

[2021-10-19 07:50] twissmueller opened #1573 "How to build a Mock-Drone?"
I have QGroundControl and want to create a waypoint mission that a "virtual drone" or a software-mock of a drone will fly. The code for the drone shall run on iOS, therefore I am using Swift.

While I understand what code to write to command a drone (arm, takeoff, land, ...) I am having trouble figuring out how to use MAVSDK to receive those commands and reply with a "faked" response.

For my unde

[2021-10-20 14:05] YalamareddyChaitanya opened #1576 "mavsdk_server_linux-arm64-musl binary did not work on the actual drone"
I have two mavsdk servers (one is built from the source  and the other one is the binary file "mavsdk_server_linux-arm64-musl" downloaded from the release ) on the drone( aarch64 architecture ).

When I started mavsdk server which is built from the source,  server successfully connected to the drone.

![mavsdk1](https://user-images.githubusercontent.com/70040710/138106259-cb44a03d-c78d-4180-b21d-d

[2021-10-20 17:13] julianoes commented on #806
I would have to investigate that deeper on the PX4 and EKF2 side. Have you tried this in SITL where you can add printfs to see what is going on?

[2021-10-21 08:58] ArtBor86 commented on #806
Oh, it's my bad, i'm an idiot. I fogot about the VPE.pose_covariance.covariance_matrix.

Big thanks for your answer!

[2021-10-21 09:55] #1576 closed, assigned to nobody

[2021-10-27 17:41] KrisRadowski opened #1582 "Can't connect to SITL - "Ignoring unknown ping sequence" (possibly not bug)"
Disclaimer: I'm not sure it's a bug, but I'm submitting issue anyway since it looks like the app and SITL are somehow using different MAVLINK version (at least that's what I'm thinking)

Description of problem:

Trying to connect to SITL fails; display of mavsdk_server(dev bulid) and application are attached
![mavsdk_server](https://user-images.githubusercontent.com/10513413/139116885-e01d2cc6-af2

[2021-10-29 16:58] acwatkins opened #1587 "Build error compiling for arm64 on Windows"
When compiling for arm64 on windows, the architecture is not transferred to third party builds.

Example command line:
[code]

This builds third party libraries with x64 rather than passing ARM64 to them, causing a linker error.

[2021-10-31 09:16] elpiel opened #1589 "Does MAVSDK support HTTP/2?"
Hello,
I couldn't find any mention of the supported HTTP version.

I suspect that HTTP/2 is not supported at the moment?

[2021-10-31 09:32] elpiel commented on #1569
Is this the default for sending telemetry messages in PX4?

In my observation, I receive telemetry responses for Position & Quarternions in 200 milliseconds from the MAVSDK server which is well below 50 Hz, I think that's 5 Hz?

I still have some evaluation to do and tweaking of the setup in order to validate how the communication is performed. I'm currently using a simulation & MAVSDK server for

[2021-10-31 16:29] julianoes commented on #1589
MAVSDK uses libcurl to access http. Depending on what is required, we can use different flags/features or libcurl, I believe.

Can you explain the use case, or why you would require HTTP/2?

[2021-10-31 22:22] #1587 closed

[2021-11-03 15:04] elpiel commented on #1589
When building the mavsdk client from proto files using tonic (https://github.com/hyperium/tonic/) it generates HTTP/2 enabled client.

Then I saw this article https://grpc.io/blog/grpc-on-http2/ that states:

I was just curious to hear if it's supported and if I can take advantage of the generated HTTP/2 client.

[2021-11-03 17:53] julianoes commented on #1589
Oh, you're talking about the gRPC side! I don't actually know. I assume we would have to support a secure connection instead of the insecure one?

[2021-11-04 00:21] JonasVautherin commented on #1589
I think it does use HTTP/2. What makes you think it doesn't? Does gRPC actually support HTTP/1?

[2021-11-04 08:42] elpiel commented on #1589
We can definitely figure out something.
Here's a suggestion:
There's is a Rust crate for end-to-end encryption called Ockam:

https://github.com/ockam-network/ockam/tree/develop/implementations/rust/ockam/ockam
There is also a C one: https://github.com/ockam-network/ockam/tree/develop/implementations/c

I've been looking into building a server-side MAVSDK in Rust.
The client is automatically built

[2021-11-04 08:42] #1589 closed

[2021-11-05 09:38] SSSnow opened #1600 "When used the cancel of calibration plugin class, there is crash!!!"
debug the error:
A command cannot be sent if another command with the same command_id is still processing! Ignoring command 241
Mavsdk: Callback called from mavlink_commands.cpp:337 took more than 1 second to run.

when i comment [the line:226](https://github.com/mavlink/MAVSDK/blob/main/src/plugins/calibration/calibration_impl.cpp#L226):

[code]

then work ok!
I want to know why send a nullptr ca

[2021-11-05 09:39] SSSnow commented on #1600
@bkueng

[2021-11-05 09:52] JonasVautherin commented on #1600
Reading through the code, this seems like a bug indeed. I think this line should not be there.

@SSSnow: Would you mind opening a PR with that change?

[2021-11-06 01:42] dlech opened #1603 "Support cameras without camera definition file"
Currently, MAVSDK requires that cameras have a camera definition file, otherwise the camera plugin fails:

[code]

However, the [spec](https://mavlink.io/en/messages/common.html#CAMERA_INFORMATION) says:

So it seems like this should be a supported case.

[2021-11-06 02:02] dlech opened #1605 "Camera plugin uses deprecated messages"
The camera plugin currently uses deprecated messages like [MAV_CMD_REQUEST_CAMERA_INFORMATION](https://mavlink.io/en/messages/common.html#MAV_CMD_REQUEST_CAMERA_INFORMATION) instead of [MAV_CMD_REQUEST_MESSAGE](https://mavlink.io/en/messages/common.html#MAV_CMD_REQUEST_MESSAGE).

This would make it unusable with a camera that only supports the "new" request message.

[2021-11-06 06:44] KrisRadowski commented on #1582
ok, I decided to sidestep the issue by rewriting my program to Python,

before I close that I have a question:
how to handle promises in python; I know that in C++ a _future_ library is used for example:
[code]

[2021-11-06 15:56] JonasVautherin commented on #1603
MAVSDK will try to download the camera definition file 3 times and then it will give up. Does that give you issues (like does it crash), or is it just that you don't want to see those error messages?

You're right that if `camera_information.cam_definition_uri` is an empty string, then [`bool CameraImpl::fetch_camera_definition`](https://github.com/mavlink/MAVSDK/blob/main/src/plugins/camera/camer

[2021-11-06 15:58] dlech commented on #1603
I guess I just didn't wait long enough. It would be nice to avoid the errors and the delay anyway. I'll have a look.

[2021-11-06 16:13] dlech commented on #1603
I just checked again, and for the record, the camera prepare method does fail after the 3 retries.

[2021-11-06 16:15] JonasVautherin commented on #1605
I see your point, but here is my personal opinion: MAVLink "servers" should implement both in the foreseeable future, because MAVLink does not provide a way to detect which command is supported and which is not (well, there is a `MAV_CMD_ACK_ERR_NOT_SUPPORTED`, but I don't think it is mandatory nor generally implemented, and it's not enough for `MAV_CMD_REQUEST_MESSAGE` which represents subcommand

[2021-11-08 06:25] imindude opened #1610 "battery information is not correct!!"
I'm using this in two case, one is MAVSDK/C++ and the other is MAVSDK-Server & C#.
Both of two cases, battery info. shows incorrect value. If I connect the 16V battery, it shows like this

In MAVSDK-Server & C#

[code]

Beginning of some callbacks, it shows right value, but a few seconds later battery voltage is something wrong. Looks like one cell's voltage. In use of MAVSDK/C++, shows same resul

[2021-11-08 06:55] julianoes commented on #1610
Have you configured the battery parameters correctly?
https://docs.px4.io/master/en/advanced_config/parameter_reference.html#battery-calibration

[2021-11-08 07:05] #1603 closed

[2021-11-08 07:28] imindude commented on #1610
Yes. In QGroundControl shows correctly. Actually my code of above - onPassthruIncomingMessageAsync() is comes from QGroundControl's.

[2021-11-08 07:42] julianoes commented on #1605
I agree with @JonasVautherin and this was my stance about one year ago. I think by now we can start to try using the new MAV_CMD_REQUEST_MESSAGE and fallback to the previous one if it doesn't work. This might lead to suboptimal behavior for systems that don't support it yet but that might be ok in my opinion. The cameras that I'm aware off, except the ones with Yuneec H520, should support the new

[2021-11-08 07:45] julianoes commented on #1610
So the implemenation in MAVSDK is not correct? If so, can you suggest what is wrong, or make a pull request? Sorry, I don't have time to look into this in detail right now.

[2021-11-08 08:14] imindude commented on #1610
Here is QGC's battery code.

[code]

So, in the "MAVSDK/src/plugins/telemetry/telemetry_impl.cpp" line 1070 should be changed like this,

[code]

[2021-11-08 13:52] itzmejawad opened #1611 "MAVSDK with Dronekit-SITL"
Hi...

MAVSDK_SERVER is running with master as dronekit-sitl and having one udp output

with MAVSDK-PYTHON examples... especially im able to print telemetry data (by running telemetry.py) cnnecting to that UDP out

but

if i run any C++ examples from MAVSDK/examples, it says **No Autopilot found**

Anyone tried C++ examples with dronekit SITL or Ardupilot running Pixhawk?

![image](https://user-im

[2021-11-08 15:35] bazfp commented on #1611
I have just built MAVSDK and tested this using the Ardupilot SITL docker image found here:

https://hub.docker.com/r/radarku/ardupilot-sitl

[code]

Perhaps you can try this SITL image instead?

[2021-11-09 16:23] marvin-wtt opened #1614 "Heartbeats times out in SITL with multiple vehicles"
## Description

When running PX4 SITL simulation with gazebo and multiple plane models, MAVSDK keeps prompting an info output about timed out heartbeats and the discovery of the system shortly after.

| Application | Version |
|---|:-:|
| MAVSDK | 0.44.0 |
| PX4-Autopilot | 1.12.1 |
| gazebo | 11.8.1 |

As this behavior only happens with the plane model and only with multiple vehicles I'm not sure

[2021-11-09 22:05] evanatherton1 opened #1616 "Missing Param - SITL. Not reading position"
Trying to read global position using SITL. This is the output I get. Lat Lon and Alt values are read as nan.
![IMG_7968](https://user-images.githubusercontent.com/92040868/141012357-67a6616e-6557-4291-a2ed-5d311cc1fff6.jpg)

[2021-11-11 15:57] julianoes commented on #1616
What's your PX4 version and what's the MAVSDK version?

[2021-11-11 15:58] julianoes commented on #1614
Thanks for the issue. I won't have time to reproduce this in the next few days but I'll put it on my list.

[2021-11-12 14:37] evanatherton1 commented on #1616
PX4: 1.12.3
I'm not sure how to check which version of MAVSDK is being run.