[2018-07-12 21:13] #334 closed

[2018-07-13 03:25] terrautm opened #450 "Trace-Coordinated mode"
Hi all, can tell me whether dronecore support trace-coordinated mode, like DJI ?
https://gyazo.com/a724d2ba73a51775cc6c37ed23dc29b1

[2018-07-13 03:26] #450 closed, assigned to nobody

[2018-07-13 03:28] dangviethieu-hntv opened #451 "Trace-coordinated mode"
Hi all, can tell me whether dronecore support trace-coordinated mode, like DJI ?
https://gyazo.com/a724d2ba73a51775cc6c37ed23dc29b1

[2018-07-14 16:47] #364 closed

[2018-07-17 08:30] julianoes commented on #451
@dangviethieu-hntv I don't think that's supported because it first would need to be supported by the PX4 Firmware.

[2018-07-17 11:55] canopusTest opened #452 "NDK_ROOT is undefined"
I am using the DroneCodeSDK . But when I try to build for the android , I hit this command  `sudo make android instal` but I get this error
```Makefile:152: *** NDK_ROOT is undefined, please point the environment variable to android-ndk root..  Stop```.
 Although I have set the NDK_ROOT in .bashrc. Also i have set NDK_ROOT from command prompt . I am using Ubuntu. I am not able to build the code fo

[2018-07-18 06:55] dangviethieu-hntv commented on #451
@julianoes Thanks you so much !!!

[2018-07-18 07:29] julianoes commented on #452
@canopusTest is the env variable `NDK_ROOT` defined correctly?

Before doing make, try: `echo $NDK_ROOT` and check if the path is correct by doing `ls $NDK_ROOT`.
To manually set it to try out, do:
`export $NDK_ROOT=/path/to/ndk/root`

[2018-07-18 10:37] dangviethieu-hntv opened #454 "Determine exact time fly"
Hi all, I have mission with take photo action each waypoints. How I can determine exact time when drone fly from waypoint to waypoint and time drone do action at waypoint?

[2018-07-18 10:54] julianoes commented on #454
@dangviethieu-hntv this would depend on the mission speed that you set. Given the distance you could then calculate the approximate time required to fly it.

[2018-07-19 01:41] dangviethieu-hntv commented on #454
@julianoes How about determine time drone do action at waypoint, sir? (take photo, control gimbal)

[2018-07-19 01:58] hamishwillee commented on #454
That would depend on the gimbal and camera you are using.

Does it matter? You're never going to be able to get a perfect estimate - and omitting these is likely to be a relatively small fraction of your error.

[2018-07-19 08:46] canopusTest commented on #452
Yes , It is set to correct path and previous error are now fixed. But still I am getting some error while hitting the command "sudo make android install". This is the error " nstall configuration: "Debug"
-- Installing: /usr/local/lib/android/x86/libdronecode_sdk.so
CMake Error at core/cmake_install.cmake:36 (file):
  file INSTALL cannot copy file
  "/home/akash/Desktop/DroneCodeRetry/DronecodeSDK

[2018-07-19 09:13] canopusTest commented on #452
There are two things happening:-
Case 1). When I run command as "sudo make android install". Then I get the NDK_ROOT error.
 I have set the paths as below
 export NDK_ROOT=/home/akash/Android/Sdk/ndk-bundle
 export ANDROID_TOOLCHAIN_CMAKE=/home/akash/Android/Sdk/ndk-bundle/build/cmake/android.toolchain.cmake
 export ANDROID_CMAKE_BIN=/home/akash/Android/Sdk/cmake/3.6.4111459/bin/cmake

I have ensu

[2018-07-19 14:22] julianoes commented on #452
@canopusTest aha!

So it looks like you need to specify env variables to pass them on to sudo:
https://stackoverflow.com/questions/8633461/how-to-keep-environment-variables-when-using-sudo

However, you don't need to install the Android artifacts into `/usr/local` of your system assuming you are not compiling this on an Android system. Best is to install them somewhere where you don't need sudo.

[2018-07-20 11:55] canopusTest commented on #452
Thanks @julianoes  for the help so far. I would like to clearify that I am compiling the code on Ubuntu 16.04. I am following the instructions to build from here "https://sdk.dronecode.org/en/contributing/build.html" . I am compiling the code for an android app. When I use the command " make android install". I get the error Case 2). in above comment. I have checked the script and it looks like be

[2018-07-20 14:22] julianoes commented on #452
Hm, two things:
1. Please put code and console output inside ``` here on github, that makes it easier to read.
2. You need to do `make clean` before you change the install directory, so:
[code]

[2018-07-20 14:36] canopusTest commented on #452
I run the commands you mentioned, Below is the console output:-

[code]

[2018-07-20 14:37] julianoes commented on #452
Nice, I just ran into this as well. Pushing a fix in a second.

[2018-07-20 14:40] julianoes commented on #452
Please try #456.

[2018-07-20 14:57] canopusTest commented on #452
Yes , I tried after a pull and now this is the newly introduced error from console output:-

[code]

[2018-07-20 16:10] julianoes commented on #452
The fix is not merged yet. Please try the branch.

[2018-07-20 16:44] loganriggs opened #457 "attitude_euler_angle() returns "NaN" for Pixhawk 2.1 Cube"
### Using Raspberry Pi 3 B+

- If running with the Pixhawk 2.1 cube (with motors, gps, lidar, flow, etc powered) , attitude_euler_angle().yaw_deg returns "NaN". (Also returns "NaN" for roll, pitch, and quaternion values)
- If running the sitl simulation, attitude_euler_angle().yaw_deg returns the correct attitude

### Using Linux Ubuntu 16.04.3
- If running with the Pixhawk 2.1 cube (Just connecte

[2018-07-23 07:50] #452 closed

[2018-07-23 12:06] julianoes commented on #24
We already generate .deb and .rpm for Ubuntu and Fedora. However, we also need to have an easy story for macOS and Windows. And it all needs to be downloadable from the docs.

[2018-07-23 12:07] julianoes commented on #27
That has been added in the camera plugin.

[2018-07-23 12:07] #27 closed

[2018-07-23 12:07] julianoes commented on #29
In the works, check https://github.com/DroneCore/DroneCore-Java.

[2018-07-23 12:07] #29 closed

[2018-07-23 12:08] julianoes commented on #61
@JonasVautherin do you think that `add_XXX_port()` would be better?

[2018-07-23 12:40] julianoes commented on #65
I would say this is sort of fixed by #462.

[2018-07-23 12:42] julianoes commented on #365
@hamishwillee I think only the redirect is missing and then we can close this.

[2018-07-24 06:52] julianoes commented on #345
@LorenzMeier has done the redirects, closing.

[2018-07-24 06:52] #345 closed

[2018-07-24 06:53] julianoes commented on #365
Redirect is done, closing.

[2018-07-24 06:53] #365 closed

[2018-07-24 08:10] NiiAAip opened #464 "Unregister all mavlink message handlers"
https://github.com/Dronecode/DronecodeSDK/blob/6e1d5e7e23eb6af38485843b48a67bda7b106756/core/system_impl.cpp#L81
I think that function may unresgister all mavlink message handlers of one plugin. Other plugins don't work when I unregister one of these plugins. Should we delete this code '_mavlink_handler_table.clear();'?

[2018-07-24 08:16] julianoes commented on #464
Oops, I think you're right!

[2018-07-24 08:54] julianoes opened #467 "Add macOS build to Jenkins"
@dagar it would be great if you could help enable the macOS build on Jenkins.

[2018-07-24 08:58] julianoes opened #468 "Move package generation from travis-ci to Jenkins"
If we want to transition everything to Jenkins we need to move the package generation from travis-ci to Jenkins.

[2018-07-24 09:00] julianoes commented on #32
@TSC21 can you please give some more details what exactly is needed here. What data and functionality needs to be exposed? What are the underlying mavlink messages?

[2018-07-24 09:00] julianoes commented on #33
@TSC21 can you please give some more details what exactly is needed here. What data and functionality needs to be exposed? What are the underlying mavlink messages?

[2018-07-24 09:40] julianoes commented on #250
Work in progress: #442

[2018-07-24 10:23] TSC21 commented on #32
Sure thing. So the idea would be to interface this with using fast-RTPS as the Pub/Sub framework. A direct OpenCV visual odometry plugin could be written and be taken as an example, but wouldn't actually serve as an interface, but rather as an idea of how OpenCV could be integrated in a visual odometry pipeline.
The underlying Mavlink msgs would be `VISION_POSITION_ESTIMATE` (for pose), `VISUAL_SP

[2018-07-24 10:30] TSC21 commented on #33
For this case:
1. If we are outputting the data from Mavlink `ADSB_VEHICLE`, then this would have to be plugged to a Pub/Sub framework, like fast-RTPS, to have the data available to any other app, unless we plug this directly to a specific example where we could should the transponder data (for example, an Android app that would track the position of vehicles in the surroundings) - but any example

[2018-07-24 13:29] julianoes commented on #33
Ok, so the `ADSB_VEHICLE` mavlink message goes both ways? From a transpoder to the autopilot and from the autopilot to a transponder?

[2018-07-24 13:56] TSC21 commented on #33
Yes that's the idea. Currently there's a uORB topic called `transponder_report` which propagates the data of a transponder connected to the autopilot directly. Though, as we already do with `distance_sensor`, we can plug the transponder on an onboard or external system and send the transponder data to the autopilot, adding the handler on the `mavlink_receiver`.

[2018-07-24 13:59] TSC21 commented on #32
The interface will be between the SDK and fast-RTPS. It doesn't really have to be between fast-RTPS and the PX4 internals. The use case is to use it to send VIO data to the autopilot, parsed from a fast-RTPS publisher.

[2018-07-24 14:08] TSC21 commented on #32
@julianoes it doesn't have to be mandatory to interface with fast-RTPS, since we could rather use other types of Pub-Sub/message broker frameworks to the same purpose. For example, for the Android case, one can use [`EventBus`](http://greenrobot.github.io/EventBus/). [RabbitMQ](https://www.rabbitmq.com/) has even a [client for Swift](https://github.com/rabbitmq/rabbitmq-objc-client/). It does depe

[2018-07-24 14:42] julianoes commented on #32
Ok got it. In this case the SDK does not need to implement any of `fast-RTPS/RabbitMQ/etc` but only provide the API for mavlink which makes sense.

[2018-07-24 14:51] TSC21 commented on #32
Partially. I mean, if you want to subscribe to published VIO data in the `RabbitMQ` framework, you need to add an handler for that data, right?

[2018-07-24 22:22] hamishwillee commented on #24
1. Where are they uploaded
2. How are they named
3. Is there a version for each release?
4. Is there a version for latest.
5. Do these just install the headers and binaries in the same places as the normal system-wide install after build?
   * Do users need to update the linker cache after installing? : `sudo ldconfig`
6. Are these just the libraries or do the packages include example code?
7. Is

[2018-07-24 23:02] hamishwillee commented on #65
Only if `arming_allowed()` / `takeoff_allowed` are exposed in public API?

[2018-07-25 03:45] TSC21 commented on #32
Let me know if you are interested to tackle this together.

[2018-07-25 06:43] canopusTest commented on #452
I do make the changes in the  ``` plugins/mission/CMakeLists.txt ``` file and then I run the below commands:-

 ```make clean # or maybe sudo make clean ```
 ```make INSTALL_PREFIX=$(pwd)/install android install```

 and it run all fine without any error on the terminal.

 Please let me know to run the android sample app within the DroneCodeSDK , how can I import the code into Android Studio?

 --

[2018-07-25 09:51] #464 closed

[2018-07-25 12:14] canopusTest commented on #452
@julianoes Can you please check in, I will get back to you.

[2018-07-26 00:33] hamishwillee commented on #24
Thank you.  Re:

Great ... but what if you have installed package and built system package. How does system know which to use? Or to put it another way, this app cmake file is for the SDK [built and installed system wide](https://sdk.dronecode.org/en/guide/toolchain.html#sdk_installed_system_wide) - what would this look like if using SDK installed from app package?

[2018-07-26 11:58] julianoes commented on #24
It depends on where cmake looks for includes and what the paths for the linker are. This is a general problem with libraries, not something that we can fix with this one, I believe.

[2018-07-26 11:59] julianoes commented on #65
That's a good idea actually!

[2018-07-26 13:34] julianoes opened #473 "Support attitude offboard control"
There have been many requests for support for attitude offboard control, so we should at least think about it.

My idea is to add some kind of special flag which allows usage of the SDK without position estimate.

http://discuss.px4.io/t/attitude-control/6955/2
https://px4.slack.com/messages/C68J8H32A/convo/C68J8H32A-1532446513.000049/

[2018-07-26 15:15] #368 closed

[2018-07-26 23:15] hamishwillee commented on #65
@julianoes I'm full of them. Can you drive it? :-)

[2018-07-27 06:44] julianoes commented on #24
@hamishwillee right, so I generally don't use the binary downloads because I already have it built and installed manually.

So, presumably the "user" documentation should say to install the lib, and the "dev" documentation would also mention how to build and install yourself which is what we have for now.

[2018-07-27 06:45] julianoes commented on #65
Ha! Ok I'll put it on my list.

[2018-07-27 06:46] #247 closed

[2018-07-27 07:03] hamishwillee commented on #24
Exactly, so to wrote that user documentation, I need to understand how you then link to it. So we circle back - how can we get our current examples to work with a binary download?

[2018-07-27 07:50] julianoes commented on #24
Right, ok so it should just work because the linker by default checks `/usr/lib/`. On some systems `/usr/local/lib` is not even checked by default unless it's added to the `LD_LIBRARY_PATH` env variable.

So, if I install it manually in Fedora for instance, I need to do:

[code]

[2018-07-27 11:44] Stifael opened #474 "health ok returns false"
It seems that in `health_ok` check the gyro, mag and accel sensor are not valid.

[2018-07-27 14:16] canopusTest commented on #452
@julianoes Do you have any update for the same.

[2018-07-27 17:54] rt-2pm2 commented on #157
I got the same error on my Fedora28. Setting the environment variable LD_LIBRARY_PATH didn't solve the problem.
Also running the ldconfig didn't solve. I found that ldconfig looks into "/etc/ld.so.conf". Checking there I saw that there was no reference to those share libraries.
In the "etc/ld.so.conf" there is simply an include of the files *.conf contained in "etc/ld.so.conf.d/".

I added a new f

[2018-07-30 14:02] julianoes commented on #157
@rt-2pm2 can you please post the whole output? I'm doing this all the time in Fedora, so I have the feeling you're missing something somewhere.

[2018-07-30 14:02] julianoes commented on #452
Not yet, sorry. I have a bunch of other things on my list.

[2018-07-30 15:19] rt-2pm2 commented on #157
@julianoes Sure, I am happy to participate.
To restore the system in the condition before my changes:
1) Remove the "dronecode.conf" file from the "etc/ld.so.conf.d" folder. In this way it won't be included by ldconfig.
2) Run the `ldconfig`

I check that the libraries are in "/usr/local/lib"

libdronecode_sdk_action.so       libdronecode_sdk_offboard.so
libdronecode_sdk_calibration.so  libdroneco

[2018-07-31 07:35] canopusTest commented on #452
Okay , Can you please let me know if this issue is only for Android build or this issue exists fir iOS build too. ?

[2018-07-31 07:36] julianoes commented on #157
@rt-2pm2 ok please try with `export`:
[code]

[2018-07-31 07:36] julianoes commented on #452
We are currently working on iOS, so that's closer to be usable.

[2018-07-31 08:38] julianoes commented on #474
Fixed by #475.

[2018-07-31 08:38] #474 closed

[2018-07-31 08:38] #291 closed

[2018-07-31 09:03] canopusTest commented on #452
Okay , How long will it take to get the iOS build ready ?

[2018-07-31 09:40] rt-2pm2 commented on #157
@julianoes Yes, I tried and it works if I put the "export" keyword.

My fault, maybe I misspelled the variable name when I tried the first time and, moreover, I didn't remember well the "export" effect: the application I run is not anymore the shell process, thus without "export" the variable will go out of scope. Thus, it is a viable solution to the problem, and including the variable in the .bas

[2018-07-31 13:08] julianoes commented on #157
Exactly! Glad I could help!

[2018-07-31 13:08] julianoes commented on #452
I'm hoping only about 2 weeks.

[2018-08-01 02:02] hamishwillee commented on #24
@julianoes I can't document this yet, because the [current release](https://github.com/Dronecode/DronecodeSDK/releases) (0.5) installs dronecore libraries rather than dronecode_sdk.

When do you plan doing a new release as "dronecode SDK"?

So far the only dependency I've found for Ubuntu 16.04 "out of the box" is that you still need to install cmake to actually use the file `sudo apt install cmak

[2018-08-01 07:17] damadamn opened #478 "Photo/Video saved location"
HI, I would like to know where are stored photo/video after using command like `take_photo()`.
I'm working on an Intel Aero RTF, and I don't find any specific folders to store the photo, even after using this command

[2018-08-02 08:54] julianoes commented on #452
I this case I suggest you use the C++ API and wrap it yourself manually for now.

[2018-08-02 09:01] julianoes commented on #478
I suggest you check the Aero docs. Or you can ask @lbegani.

[2018-08-02 09:16] julianoes commented on #24
Ok, I'll do a new release ASAP.

The dependency of cmake only comes from the fact how you build your example. The library is just a C++ library, and you can use whatever build system to build against it.

[2018-08-02 10:10] hamishwillee commented on #478
The information is supposed to be returned by [CAMERA_IMAGE_CAPTURED](https://mavlink.io/en/messages/common.html#CAMERA_IMAGE_CAPTURED).file_url

We should probably store that sort of information @julianoes . Problem though - I don't think there is any way to iterate through the server to get all historic images, so we should ask for that feature (or something to allow it.

[2018-08-02 10:29] lbegani commented on #478
@damadamn Depends on the handler (of the mavlink message) where it stores them locally.
If you are using `camera-manager` , by default the media is stored in `/tmp` directory. The path can be configured in conf file. Hosting the media files in server(http etc) and returning the URL is not yet supported by `camera-manager`

[2018-08-03 00:01] hamishwillee commented on #24
Thanks. If you haven't seen an accompanying docs release a couple of days later, let me know. I missed it!

[2018-08-03 06:47] dangviethieu-hntv commented on #454
Thanks you. But I thinks why don't we use 1 boolean parameter, and set true when drone start action at waypoints, and set false when it finish, so we can calculate time drone fly and time drone doing action. That is my ideal, thank you very much !!!

[2018-08-04 11:30] canopusTest commented on #452
Is that the only left option ? This will take even more time.

[2018-08-05 23:56] hamishwillee commented on #454
I think the best you can do is monitor MISSION_ITEM_REACHED, which the autopilot must send whenever it gets to a new item. This is not timestamped, but it would give you a good approximation.

[2018-08-06 09:05] julianoes commented on #452
You can try the Dronecode SDK in Swift using Cocoapods, see https://github.com/Dronecode/DronecodeSDK-Swift

[2018-08-06 13:48] mzahana opened #481 "Failed to Compile on Mac"
Hi,

I tried to compile the library on Mac OS, El Capitan, using the `master` branch but failed.

Here is the output of `make default`:

[code]

[2018-08-06 14:15] julianoes commented on #481
It looks to me that you need to update your XCode toolchain, you are on `AppleClang 7.3.0.7030031`, and up to date is `AppleClang 9.1.0.9020039`.

If you can't update the toolchain, I suggest that you remove the `-Werror` flag and live with the warnings.

[2018-08-06 21:34] JonasVautherin commented on #61
But it actually adds the connection, right? `add_udp_connection()` means "listen for the next mavlink broadcast you find using UDP and actually setup the connection to it". `add_udp_port()` may sound like "start listening on a new port", wouldn't it?

[2018-08-07 07:12] damadamn commented on #478
When I use the command line `gst-launch-1.0 v4l2src device=/dev/video13 num-buffers=1 ! jpegenc ! filesink location="rs.jpg"`, the picture is taken from the front camera ( a RealSense R200) and I find it inside the main repertory (`/home/root`), but that's a little ... dirty to use it inside a C/C++ program with `system()` function; that's why I would like to use `take_photo()`

[2018-08-07 10:51] julianoes commented on #61
I mean actually it does start to listen and does not actually establish a connection to the drone as such.

[2018-08-07 12:50] JonasVautherin commented on #61
Couldn't we split it into `start_XXX_discovery()`, that would return information about the discovered drones, and `connect_XXX(...)` which would take that information and actually start the connection?

[2018-08-07 13:37] julianoes commented on #61
I guess but it's more complicated for an SDK user. `connect` is sort of the `auto System = dronecore.get_system()` call.

[2018-08-07 14:16] JonasVautherin commented on #61
Right, I see.

[2018-08-07 16:04] mzahana commented on #481
After updating Mac OS to Sierra and updating Xcode, I could compile the SDK.

[2018-08-07 16:04] #481 closed

[2018-08-07 16:18] julianoes commented on #481
Great, thanks for reporting back.

[2018-08-07 21:13] mzahana opened #483 "Failed to compile custom app on Mac"
Hi,

I compiled the SDK on Mac OS (Sierra) and did system-wide install. However there is no `sudo ldconfig` (which is used on Linux to update the linker cache) in Mac. **What is the equivalent way to do it in Mac?**

I also followed the sdk guide (https://sdk.dronecode.org/en/guide/toolchain.html) in order to compile a custom C++ app, and created a custom app and the corresponding CMakeLists.txt.

[2018-08-07 21:48] mzahana commented on #483
Issue is solved by specifying the include and lib system directories in the CMakeLists.txt.

Would the tutorials need to be updated in order to account for this?

[code]

[2018-08-07 22:01] mzahana commented on #483
Also, I would like to mention that I used the `develop` branch.

[2018-08-07 22:46] hamishwillee commented on #483
That is the correct branch to use. Develop is for ongoing development, master is for the last official release.

Regarding the install directories, did you install dronecode system wide or locally?  If you installed locally, then you do need to tell the system where the includes are: https://sdk.dronecode.org/en/guide/toolchain.html#sdk_local_install
My understanding is that if you installed syste

[2018-08-08 18:15] mzahana opened #484 "[Update Docs] Action::Result is moved to ActionResult"
Just a little note here.

In the documents on [Actions](https://sdk.dronecode.org/en/guide/taking_off_landing.html), it mentions the use of `Action::Result`. The compile will fail as it seems that it is moved to `ActionResult`

[2018-08-08 22:09] hamishwillee commented on #484
Thanks! Fixed in https://github.com/dronecore/sdk_docs/commit/ce61207bfcd564481c0d9601ed944fb54886bc57

I can't track changes as well as I'd like, so much appreciate you pointing them out.

[2018-08-08 22:09] #484 closed

[2018-08-11 15:13] mzahana opened #486 "Get a vector of systems"
Hi.

I am working with multiple vehicles. [In the docs](https://sdk.dronecode.org/en/guide/connections.html), it's mentioned how to access a system by
[code]

What is a correct way to create a variable number of multiple systems?

Thanks.

[2018-08-11 16:17] mzahana commented on #411
@Seunghwan17 Did you manage to use Dronecode SDK with multiple drones?

I am trying to do the same, and I actually would like to use system ID (MAVLink ID which can be set by QGC), but I don't even see it available in the [System class](https://sdk.dronecode.org/en/api_reference/classdronecode__sdk_1_1_system.html)

@julianoes Is the MAVLink ID provided some how by the SDK?

Thanks.

[2018-08-13 07:53] zsyfight opened #487 "How to connect to a real vehicle?"
I want to run a example mission on a real vehicle , but I don't know how to set the serial connect protocol formation.

[2018-08-13 08:01] zsyfight commented on #487
Can I run the mission by this?
./fly_mission serial:///dev/ttyUSB0:57600

[2018-08-13 08:04] julianoes commented on #486
You should be able to get all system like described here:
https://sdk.dronecode.org/en/guide/connections.html#iterating-all-systems

However, for now you need to make sure yourself that all vehicles have different system IDs.

[2018-08-13 08:05] julianoes commented on #411
No, only the UUID for now. Let's close this because the PX4 Firmware issue has been fixed and follow up in #486.

[2018-08-13 08:05] #411 closed

[2018-08-13 08:25] julianoes commented on #487
@zsyfight hi, how are you connecting to the vehicle? Wifi, 3DR radio, USB cable?

[2018-08-13 08:40] zsyfight commented on #487
@julianoes  Thanks for you response. I want to connecting the vehicle (3DR IRIS+) by the 3DR radio.What I want to do is to communicate with the vehicle by the radio, and upload the waypoints (just like the waypoints in the fly_mission.cpp) to the vehicle. so what should i do?

[2018-08-13 08:48] Seunghwan17 commented on #411
@mzahana oops.. I missed your message. In my case, I edit dronecode SDK to use sys ID not a UUID. As you see this post, UUID has some problem to me. If you want, I will show this code.

[2018-08-13 09:13] julianoes commented on #487
@zsyfight ok, if you're 3DR radio is connected to `/dev/ttyUSB0`, your line should work:
[code]

[2018-08-13 09:14] julianoes commented on #411
Could you describe the problem that you are facing?

[2018-08-13 16:15] mzahana commented on #411
I am working with a set of ordered drones. They have unique NAVLink IDs. So, it is easier for me to deal with system IDs than UUIDs.

[2018-08-13 16:48] mzahana commented on #486
@julianoes so, I am looking into how to get `system_id` instead of uuid. I found this: https://github.com/Dronecode/DronecodeSDK/blob/develop/core/system_impl.cpp#L518

Would do that do the job?

but it is not exposed in [system.cpp](https://github.com/Dronecode/DronecodeSDK/blob/develop/core/system.cpp)

[2018-08-13 19:16] mzahana commented on #411
@Seunghwan17 I saw that system_id is available [here](https://github.com/Dronecode/DronecodeSDK/blob/develop/core/system_impl.cpp#L518)

The discussion is moved to https://github.com/Dronecode/DronecodeSDK/issues/486

[2018-08-14 05:42] julianoes commented on #486
@mzahana is it not possible to use the UUIDs?

[2018-08-14 06:45] mzahana commented on #486
@julianoes Of course it is possible. It is not about possibility, it's about convenience.

Assume there is a set of 50 drones (maybe more!), which are labeled from 1 to 50. How you would you tell the user that drone 19 and 47 have some issues and require some checking?

I guess it's harder for the user to look for drones that have UUID 5345213345 and 6968987123 than just 19 and 47, no?

[2018-08-14 06:47] julianoes commented on #483
https://stackoverflow.com/questions/1451047/ldconfig-equivalent-in-mac-os-x

[2018-08-14 08:33] julianoes commented on #486
If something is automated in software UUID is more "convenient" because you it's unique.

I suggest you implement the method to get all system IDs yourself since you're already changed the API to work with system IDs instead of UUIDs.

[2018-08-14 14:35] zsyfight commented on #487
@julianoes I just changed the lines as i have pasted, i get the result shown in the terminal :
Waiting to discover system...
and without anymore information. So is there something should be configure in the fly_mission.cpp for the real vehicle connecting?

[2018-08-14 15:32] julianoes commented on #424
@Stifael is this still an issue or can this get closed?

[2018-08-14 15:33] julianoes commented on #487
Does the connection over that radio work with QGC?

[2018-08-14 15:33] julianoes commented on #440
That's been improved.

[2018-08-14 15:33] #440 closed

[2018-08-15 02:25] zsyfight commented on #487
I connected the vehicle with the radio, and then i open the QGC i get the error result:
~/DronecodeSDK/example/fly_mission/build$ ./fly_mission serial:///dev/ttyUSB0:57600
Waiting to discover system...
[10:20:48|Debug] New: System ID: 1 Comp ID: 1 (dronecode_sdk_impl.cpp:292)
[10:20:48|Debug] Component Autopilot added. (system_impl.cpp:339)
[10:20:53|Debug] Found 1 component(s). (system_impl.cpp:4

[2018-08-15 14:19] Stifael commented on #424
no issue. can be closed.

[2018-08-15 14:19] #424 closed

[2018-08-16 14:56] Seunghwan17 opened #494 "Verify multiple drone support"
Who have to test multiple drones using dronecode sdk? In my case, if I tried to connect multiple drones, dronecodesdk doesn’t get some parameters. like accelometer.

I had experience and test with dronekit and QGC already. But, only dronecode sdk make some trouble that I say above.

If you have some experience plz share me some experience.

[2018-08-16 15:01] Seunghwan17 commented on #494
I means the code show “get param beasy time out”.

[2018-08-16 15:01] julianoes commented on #494
Ok, I currently don't have a lot of bandwidth to debug this. So the more output you provide here, the better.

Also, please provide instructions how I can reproduce this. What are the commands the start the simulation, etc. Then I might be able to give this a try over the weekend.

[2018-08-16 15:08] Seunghwan17 commented on #494
I make three dronecode system. And their telemetry is 3DR radio 433mhz.

It works good if one drone make connection.
But, if I make three drones connections  the code show me 3connections. Then it shows me some error “get param busy time out”......

Now I use some customized mavlink mode to reduce telemetry packet.

[2018-08-16 15:12] Seunghwan17 commented on #494
By the way, why do dronecode try to get parameters 3 times? In my test, To get parameters make big traffic. Although I reduce mavlink message packet, but to get parameters doesn’t reduced, doesn’t it?

[2018-08-16 15:31] julianoes commented on #494
The action plugin caches some parameters for the speed setting, RTL altitude setting, etc. This is actually very little traffic because it's only the few parameters which are actually required instead of receiving all ~800 parameters.

[2018-08-16 15:31] julianoes commented on #494
Do you also test it in simulation? I believe there is support for multiple drones in SITL?

[2018-08-16 15:33] Jaeyoung-Lim commented on #494
@Seunghwan17 What is the configuration with your radio? You might want to directy connect the serial to the computer to eliminate the possibility of the radios being misconfigured

[2018-08-16 15:40] Seunghwan17 commented on #494
@julianoes Really? I didn’t know that. you mean dronecode action plugin just few parameters. It is very strange to get patameters is fail.

I don’t test in SITL not yet.

@Jaeyoung-Lim What do configuration mean? I set 3paired 3DR radio has different net ID and 57600 baudrate.

[2018-08-16 15:41] Seunghwan17 commented on #494
And I would try direct connect next day. Thanks.

[2018-08-16 15:54] julianoes commented on #494
Do you follow this? https://dev.px4.io/en/simulation/multi-vehicle-simulation.html

[2018-08-17 01:47] Seunghwan17 commented on #494
@julianoes @Jaeyoung-Lim Um... I would like to test SITL. I tested the directly connect to serial. The error message doesn't showed now. I think @Jaeyoung-Lim is right.  My radio has some misconfiguration. I couldn't understand now why my 433mhz radio is too late to get parameter. Maybe I change some configuration and more test with dronecode and radio.

[2018-08-17 11:26] #494 closed

[2018-08-17 12:00] julianoes commented on #483
Please re-open if this is still a problem.

[2018-08-17 12:00] #483 closed

[2018-08-17 12:01] julianoes commented on #340
Well, this has been done a while ago.

[2018-08-17 12:01] #340 closed

[2018-08-17 12:32] julianoes commented on #322
Closing this for now. We'll have example applications such as the Swift example which show how to use the SDK.

[2018-08-17 12:32] #322 closed

[2018-08-17 12:33] julianoes commented on #389
This has been fixed in #396.

[2018-08-17 12:33] #389 closed

[2018-08-17 13:51] julianoes commented on #61
I vote we leave it as is.

[2018-08-17 13:51] #61 closed

[2018-08-20 08:09] hamishwillee commented on #61
Sure. This does not seem to be causing any confusion.

[2018-08-20 08:17] mzahana commented on #486
@julianoes Would exposing [get_syste_id](https://github.com/Dronecode/DronecodeSDK/blob/develop/core/system_impl.cpp#L518) in [system.cpp](https://github.com/Dronecode/DronecodeSDK/blob/develop/core/system.cpp) do any harm?

[2018-08-20 08:50] mzahana opened #502 "System Reboot"
Hi.

In QGC, I can reboot the fight controller from the Parameters tab->Tools menu.

Is there a method in the SDK to reboot a system?

If not, I may give it a try in send a PR.

I guess [MAV_CMD_PREFLIGHT_REBOOT_SHUTDOWN](https://mavlink.io/en/messages/common.html#MAV_CMD_PREFLIGHT_REBOOT_SHUTDOWN) would be used, but have not checked yet.

Thanks.

[2018-08-20 08:59] hamishwillee commented on #502
I think that is the correct mavlink command, and no, I do not think that we have implemented it. I think it would be useful as an Action.

[2018-08-20 11:36] julianoes commented on #486
I guess it doesn't :smile:, so we might as well add it.

[2018-08-23 08:26] #451 closed

[2018-08-24 10:38] zsyfight commented on #487
It's not a communication problem, the vehicle can connect with the QGC normally. Maybe it is a SDK problem.

[2018-08-24 12:03] julianoes commented on #487
What firmware version is running on the drone?

[2018-08-26 11:59] zsyfight commented on #487
The Firmware version is 1.8.0dev on the drone.

[2018-08-27 07:03] julianoes commented on #487
@zsyfight thanks, ok I will try to reproduce this.

[2018-09-03 15:54] mrpollo opened #529 "Readme links broken"
Some of the links in the readme are broken given recent file restructure

[2018-09-03 15:57] mrpollo commented on #502
For anyone reading and is interested in contributing, as @hamishwillee mentions this functionality would be great in the `Action` class, here's a link to the Action Implementation class, sending a message is a breeze with the SDK [`plugins/action/action_impl.cpp@ActionImpl:arm`](https://github.com/Dronecode/DronecodeSDK/blob/develop/plugins/action/action_impl.cpp#L52)

[2018-09-05 17:13] maitham opened #533 "How to change PWM output signal?"
I'm trying to change the PWM output using dronecode sdk. I don't need to run a mission or anything, I want to do a static test where I can simply change values. I seem to be running out of options in terms of simply changing pwm outputs within a script in a reliable manner (NSH pwm test works but only for main out). Is there anyway of currently doing this?

[2018-09-05 22:12] hamishwillee commented on #533
I don't think this is possible with the SDK because there is AFAIK no API to support it AND this won't necessarily be supported by default in PX4.

Without having tried this  (i.e. maybe not correct) .... to make it work in PX4 you'd have to look at adding a mixer file to map control inputs to outputs - http://dev.px4.io/en/concept/mixing.html
To drive it you would need to send the appropriate MAV

[2018-09-05 22:15] hamishwillee commented on #533
PS The people who might help with this are possibly at Interdrone.

@bkueng Can you comment about PX4 support? As I understand it the mixer is what defines what comes out of the MAIN/AUX outputs - for certain inputs (control group UORB topics?). Does the mapping between MAVLink and those UORB topics exist - ie if you create a mixer and send the appropriate MAVLink message will this work?

[2018-09-07 08:14] Seunghwan17 opened #534 "Could Dronecode send a RTK message?"
I test RTK GPS now. The product is drotek's.
As I know, QGC send a RTK message. But I don't know droncode can do that.
I want to discuss about it.
Thank you.

[2018-09-10 05:42] julianoes commented on #534
@Seunghwan17 ok sure let's discuss it. First I need some more detailed information about the GPS and then we need to figure out what exactly is needed from the SDK.

[2018-09-10 05:44] julianoes commented on #533
@maitham1 this will need some work for the SDK.

In the meantime, if `pwm test` works, you should try to make `pwm test` work for the aux output as well. Note that there is a `-d` argument which should enable you to choose the device, e.g. `/dev/pwm_output0` or `/dev/pwm_output1`.

[2018-09-12 16:33] saucompeng opened #538 "How Can I fly without GPS at indoor ?"
I want to fly at indoor without GPS, code waiting at telemetry->health_all_ok() function. When I comment home_position_ok && global_position_ok && local_position_ok in function, it is not successfull ?

[2018-09-12 22:39] hamishwillee commented on #538
Not supported: https://sdk.dronecode.org/en/getting_started/faq.html#does-the-sdk-support-indoor-use

[2018-09-12 22:39] #538 closed

[2018-09-17 06:54] julianoes opened #540 "Integration tests need to run in CI"
This is obviously needed, otherwise they'll always break.

[2018-09-17 07:16] julianoes opened #541 "Automatically create git tag when version changes"
As noted in #530 we should create a git tag in CI if the version is bumped.

[2018-09-17 07:17] julianoes opened #542 "Print version when library is loaded"
We should print the version when the library is loaded, so that we can trace versions all the way back.
As noted #530.

[2018-09-17 09:59] Seunghwan17 commented on #534
Maybe, I think the SDK could detect base RTK module and send this message(https://mavlink.io/kr/messages/common.html#GPS_RTK) from base to the rover.
RTK module make RTCM3 data. The SDK need to pass a data use mavlink protocol...
But now I don't know well about RTK and mavlink. I am sorry.
Now I just tested with QGC.

[2018-09-17 11:44] julianoes commented on #534
We're open for contributions, e.g. a plugin that takes care of this.

[2018-09-18 07:50] julianoes opened #547 "Add callbacks for components discovered"
It would be handy to have callbacks when a component is added, so you could e.g. just wait until a camera is found before trying to interact with it.

Requested in http://discuss.px4.io/t/subscribe-to-a-callback-for-components-being-added/7843

[2018-09-20 14:01] julianoes opened #553 "Add setter/getter for absolute yaw angle setting"
This is currently hard-coded but should come with getter/setter.

The hard-coded change was introduced in #552.

[2018-09-21 07:36] #254 closed

[2018-09-28 13:17] zsyfight commented on #487
@julianoes how about the results of the problem? Did you get the connection  to the real vehicle?

[2018-09-30 05:43] julianoes opened #563 "Serial communication at 921600 not working"
It seems that using the SDK onboard with 921600 baudrate on an onboard computer does not work.

See: http://discuss.px4.io/t/serial-instead-of-udp-for-dronecore-examples/5459/19

[2018-09-30 08:49] #563 closed

[2018-09-30 10:43] julianoes commented on #487
@zsyfight please check again, this could be fixed with #565.

[2018-10-01 14:30] #408 closed

[2018-10-01 16:10] #547 closed

[2018-10-03 08:45] julianoes commented on #542
Done in #543.

[2018-10-03 08:45] #542 closed

[2018-10-04 10:12] AlexisTM opened #570 "Gimbal plugin implementation idea"
In the gimbal implementation, why isn't the roll implemented while it is available in the MAVLink message?

[develop@/plugins/gimbal/gimbal_impl.cpp](https://github.com/Dronecode/DronecodeSDK/blob/develop/plugins/gimbal/gimbal_impl.cpp)

Couldn't it be a better to use individual getter and setters for the gimbal, keeping in memory the command to apply?

[code]

And an apply function:

[code]

[2018-10-04 10:17] AlexisTM commented on #534
For anybody willing to contribute on this matter, you will need a node reading the base_station and a plugin to forward the data to the Pixhawk.

An example of the base_station node using the GPSDriver (without using QT5) and publishing the RTCM messages (on ROS):
https://github.com/AlexisTM/rtk_ros

An example for the plugin that needs to be implemented in Dronecore:
https://github.com/mavlink/ma

[2018-10-04 11:08] julianoes commented on #570
Do you have a use case where you need to set roll? I'm interested to hear about it, normally a gimbal just stabilizes roll.

[2018-10-04 11:54] AlexisTM commented on #570
@julianoes I don't have one personally, that's a very good point.

The feature I miss is to control the zoom (such as Peeper T10x) or shutter for other cameras.

[2018-10-04 14:52] AlexisTM commented on #570
On top of that, I am using the Offboard mode (PX4 1.8.0+)

[2018-10-08 08:53] lalal321 commented on #487
well, I get a problem when I connect a vehicle via a 3DR radio, and it shown as below:

hello@hello:~/DronecodeSDK/example/fly_mission/build$ ./fly_mission serial:///dev/ttyUSB0:57600
Waiting to discover system...
[03:34:07|Debug] New: System ID: 1 Comp ID: 1 (dronecore_impl.cpp:292)
[03:34:07|Debug] Component Autopilot added. (system_impl.cpp:339)
[03:34:08|Debug] Found 1 component(s). (system_im

[2018-10-08 09:05] hamishwillee commented on #487
How do you *know* the vehicle is healthy?

I would modify the example to check the health / possible causes of the problem as shown in  https://sdk.dronecode.org/en/guide/taking_off_landing.html#health-check

[2018-10-08 09:27] julianoes commented on #487
Thanks @hamishwillee.

@lalal321 if the problem persists, please open a new issue. This issue is about an actual communication problem.

[2018-10-08 09:28] julianoes commented on #487
I'm closing this issue. @zsyfight if the problem persists, please re-open.

[2018-10-08 09:28] #487 closed

[2018-10-08 09:50] zsyfight commented on #487
oh,it's all right, and thank you very much for your help! @julianoes

[2018-10-26 09:49] julianoes opened #577 "Version needs clean build to update"
Currently we need to do `make clean` if the version file has updated. It would be better if this is updated correctly in an incremental build.

[2018-11-08 08:57] julianoes opened #587 "Enable serial and TCP connections for backend"
The backend currently only supports UDP and the port is hardcoded for the backend_bin.

We should use `add_any_connection`, so that we can pass any connection URI.

[2018-11-12 12:38] JonasVautherin commented on #587
@shrit: Would you have examples illustrating what you mean (instead of the connection URI)?

[2018-11-12 12:44] julianoes commented on #587
We already support shortening where applicable, e.g. `udp://` will use the default port on localhost.

[2018-11-12 12:48] shrit commented on #587
well, actually after creating an instance of
DronecodeSDK dc_;
we call the function
dc_.add_any_connection(string);
the string variable contain the entire URI. For example, in the example of documentation we have:
udp://:14540
in the case twe are on udp on localhost  with the port 14540.

A rare use case, If we need to control several vehicles, several instance of controller should be created and

[2018-11-12 13:38] julianoes commented on #587
I would argue that's too rare of a use case. I would then just have the cli be a list, e.g.: `foo udp://:14540 udp://:14541` and then loop through it.

And note that you can have several vehicles connecting on the same UDP port at the same time, so you don't need a port per vehicle.

[2018-11-16 18:09] JonasVautherin opened #594 "Can't test the calibration successfully"
I have trouble getting the calibration to work. Running HITL on an H520, I either get a failure (`BUSY`) or one `IN_PROGRESS` event and nothing more.

@julianoes: is it right that the calibration ends when `SUCCESS` or an error result has been sent, and that it can send infinitely many `IN_PROGRESS` or `INSTRUCTION` events before that?

[2018-11-19 10:18] julianoes commented on #594
Can you try not in HITL mode?

[2018-11-19 10:29] JonasVautherin commented on #594
Yep, I'm setting up a mavlink router to test on a pixhawk

[2018-11-21 10:57] JonasVautherin commented on #594
I managed to use the mavlink-router eventually. Seems like the calibration works fine now.

[2018-11-21 10:57] #594 closed

[2018-11-21 19:45] joe-marrone opened #602 "Trouble installing backend"

[2018-11-21 19:50] joe-marrone opened #603 "Trouble installing backend"
I ran into an issue trying to install the backend using instructions:

git clone https://github.com/Dronecode/DronecodeSDK --recursive
cd DronecodeSDK
make BUILD_BACKEND=1

Then when trying to run:

./build/default/backend/src/backend_bin

 I get the error message

joe@joe-VirtualBox:~/DronecodeSDK$ /build/default/backend/src/backend_bin
bash: /build/default/backend/src/backend_bin: No such file o

[2018-11-21 19:55] JonasVautherin commented on #602
Seems like a duplicate of #603.

[2018-11-21 19:55] #602 closed

[2018-11-21 19:56] JonasVautherin commented on #603
Did the build actually work? Sounds like the build failed.

On which system are you running?

[2018-11-21 20:04] joe-marrone commented on #603
@JonasVautherin , I am running the PX4 SITL on ubuntu 16.04.  I have the GUI running and can input individual commands OK.  What I want to do is install the DronecodeSDK-Python wrapper, so installing the backend is a prerequisite.  Evidently is did not install, but I don't know what went wrong.

Joe

[2018-11-21 20:19] JonasVautherin commented on #603
My guess would be that the gRPC build failed because you don't have go (go-lang) installed on your system. Can you check if go-lang is installed on your system? If not, install it and run the build again.

If it still fails, I will need to see the compiler output, because it probably says why it failed :-).

[2018-11-21 20:29] joe-marrone commented on #603
Is that the Go language?  If so how do I download it?
Sorry for the dumb questions.

Joe

[2018-11-21 20:52] JonasVautherin commented on #603
I am not on Ubuntu, but what about `apt install golang`?

[2018-11-21 20:54] hamishwillee commented on #603
That is worth trying, but there may be no official packet. I haven't done this, but see https://github.com/golang/go/wiki/Ubuntu for an alternative.

@JonasVautherin When this is resolve, we need a "Building the backend" section added here: https://sdk.dronecode.org/en/contributing/build.html for all platforms. Are there any other dependencies? What about how to do this on macOS and Windows?

[2018-11-21 21:09] JonasVautherin commented on #603
I believe `golang` exists on Ubuntu (tried in a docker just now :-)).

@hamishwillee: you're perfectly right, I'll do that when I find time! I have Linux and macOS, no idea about Windows, though ;-).

[2018-11-21 21:11] joe-marrone commented on #603
OK, this command worked and Go installed:
    sudo apt-get install golang

However when I ran
    make BUILD_BACKEND=1

it gave this message, which was the same as before loading golang.
     Build dir: build/default
    ninja: no work to do.

So I don't think it installed the backend yet.

Another clue is that the directory **DronecodeSDK/build/default/backend**  does not exist, ie, the default f

[2018-11-21 21:20] JonasVautherin commented on #603
Do you have something at all in `DronecodeSDK/build/default`?

Would you mind running a clean build, again, with:

[code]

[2018-11-21 21:51] joe-marrone commented on #603
@JonasVautherin , the cleanup and re-make worked like a charm.  I now have all the dependencies for loading the Python wrapper.  BTW, that was a huge build, took almost a half hour.
Thanks for the very quick response.
Joe

[2018-11-21 22:03] JonasVautherin commented on #603
Yes, what's taking time is mainly cloning the dependencies actually :confused:. I'd like to work on improving that in the future.

[2018-11-21 22:03] #603 closed

[2018-11-22 06:36] julianoes commented on #603
@JonasVautherin: is it added to the Python readme?

[2018-11-22 10:45] JonasVautherin commented on #603
Better: I improved the build so that the build fails fast ([see PR here](https://github.com/Dronecode/DronecodeSDK/pull/604)).

I wouldn't put instructions about building the backend in the Python readme.

[2018-11-22 11:35] julianoes commented on #603
But then they need to be linked. It's just that all info needs to be there, otherwise it's not useable.

[2018-11-22 22:30] hamishwillee commented on #603
I added build instructions you can link to here: https://github.com/dronecore/sdk_docs/pull/146 ... once you have reviewed/merged. Feel free to merge and iterate yourself if you need to create the link target.

[2018-11-23 09:54] julianoes opened #607 "Async hover test disarms mid-air"
The async hover integration test is off. It seems to disarm midair and lead to a vehicle crash. While this is pretty funny in simulation, it's probably a good idea to fix it.

Steps to reproduce:
1. Start PX4 SITL (e.g. `make posix jmavsim`.
2. Run test:
[code]

File to look at:
https://github.com/Dronecode/DronecodeSDK/blob/develop/integration_tests/action_hover_async.cpp

[2018-11-23 14:41] julianoes opened #609 "Spurious send tries in backend"
When the backend is started, something tries to send messages even though we have not discovered a vehicle.

The output is this:
[code]

Steps to reproduce:
1. Don't run PX4 SITL, make sure nothing would connect.
2. `make BUILD_BACKEND=1 && build/default/backend/src/backend_bin`

[2018-11-26 16:12] julianoes opened #610 "Remove hard-coded `-j8` argument for `make`"
The current Makefile is sort of a wrapper script around cmake and that's a bit confusing.

Especially annoying is actually the hard-coded `-j8` argument for make. It would be better if this was taken from the CPU count or your settings for make (`MAKEFLAGS`).

https://github.com/Dronecode/DronecodeSDK/blob/ef45e4ddb7a8c5dcd0ac20df9a330afdaa9a7be6/Makefile#L22

More thoughts: https://stackoverflow.

[2018-11-26 16:14] julianoes opened #611 "Remove `-Werror` except for CI"
We should probably disable to error on warnings (`-Werror`) except for CI runs.

Currently, `-Werror` is included here:
https://github.com/Dronecode/DronecodeSDK/blob/ef45e4ddb7a8c5dcd0ac20df9a330afdaa9a7be6/cmake/compiler_flags.cmake#L13

but it would be better if this was not set by default and added in CI.

[2018-11-26 16:16] julianoes opened #612 "Cross-compile and deploy for Raspberry Pi"
It would actually be very nice if we could also generate a .deb for Raspbian, so it can be installed easily on Raspberry Pi.

Building on Raspberry Pi is really quite slow, especially when you would add the gRPC backend.

[2018-11-26 18:51] JonasVautherin commented on #611
Why is that? If warnings are errors at the CI level, they are effectively errors at all levels. I don't get why we would disable it. For development? :thinking:

[2018-11-26 18:55] JonasVautherin commented on #612
I'm not sure this is a beginner issue :sweat_smile:.

This means that you need to cross-compile all the libs for rpi, and last time I tried it was already not working for curl (I contributed to fix the bug, and I believe it was working in the end).

Still with curl, one issue we have is that we don't really compile it from sources but have this  "curl-android-ios" for Android and iOS, which is alr

[2018-11-26 21:37] hamishwillee commented on #612
Love the idea.

More generally we still need an idiot proof deployment of all our runtimes for our supported platforms - ie no more pointing people to the build page at all.

[2018-11-26 23:11] julianoes commented on #612
It's good for an SDK beginner knowing cross-compilation :smile:

I agree.

[2018-11-26 23:13] julianoes commented on #611
Because you don't want to error just because someone is using an odd or newer version of a compiler.
E.g. when someone is installing via brew or from AUR you generally don't have `-Werror` because it would break too many times.

[2018-11-27 19:01] julianoes opened #614 "Arming fails without GPS but external vision position estimates"
Apparently, we can't arm without GPS even if PX4 receives position estimates using vision.

This is something worth investigating.

This fails:
https://github.com/Dronecode/DronecodeSDK/blob/ef45e4ddb7a8c5dcd0ac20df9a330afdaa9a7be6/plugins/action/action_impl.cpp#L59-L64

with: `[11:50:13|Warn ] command temporarily rejected (176). (mavlink_commands.cpp:175)`

[2018-11-30 14:01] sanderux opened #616 "Expose full mission list"
We need access to the full mission list.
for this we would like to get a signal when the mission changed (finished uploading) and a way to read all items (not just then ones known to DC)

@julianoes

[2018-12-02 18:42] julianoes commented on #610
Hi @simrankedia,

1. The Makefile is used on Linux and macOS. For Windows we directly use cmake and don't use this Makefile helper.
2. I usually build with n if the CPU has n cores/hyperthreads.

[2018-12-03 09:47] JonasVautherin commented on #616
Is that in MAVLink? Say if I connect two instances from QGC and upload a mission from one, the other currently doesn't know about that, right?

I guess that would be a new "mission" plugin, as it probably doesn't fit in the current one (or does it?)

[2018-12-03 18:48] simrankedia commented on #610
Hi @julianoes,
Thanks for the prompt reply. Just a clarification regarding point 2 above:
The machine is supposed to be doing nothing else while in the build is going on? (trying to understand if we should use less than n cores for the build.)

[2018-12-03 22:40] hamishwillee commented on #616
You can get completion from the SDK `upload_mission_async()` but there is no MAVLink message to notify of a full mission upload: https://mavlink.io/en/services/mission.html

It doesn't fit into the current plugin model of a "simple" API. Options are to add support for all types of mission item, to add an API to set or query the underlying mission params (ie allow a generic option for unknown param

[2018-12-04 07:42] julianoes commented on #610
You can still do other things but they will be slowed down. I think it's common practice to use `-jX` for `X` hypercores.

Check the build instructions here:
https://sdk.dronecode.org/en/contributing/build.html

[2018-12-04 07:43] julianoes commented on #616
Yes I'd rather have some duplication than one complicated one with all the options that is just as hard as mavlink itself.

[2018-12-04 09:55] JonasVautherin commented on #616
My concern is that if we go down this road, we will quickly end up allowing "plaintext mavlink" a bit everywhere, and that's going against the SDK. We can try say "well, you can use that feature, but we may break it and we won't support you in using it", but people will probably still complain when it breaks, and they will still expect support for that.

I don't know, just a concern :-).

[2018-12-04 09:56] JonasVautherin commented on #610
Agreed. And there is always `nice` that does process scheduling if you don't want it to take too many resources.

[2018-12-05 01:01] hamishwillee commented on #616
I don't think this breaks the SDK, because the plaintext mission format is defacto standard for mission file storage/retrieval. Entirely up to you guys though. The alternatives are to my mind not as clean.

[2018-12-05 12:02] JonasVautherin commented on #616
I see. Well that could be a possibility. @julianoes do you have an opinion on that?

[2018-12-05 12:30] julianoes commented on #616
Yes, we could have a small plugin just to convert these mission format files.

[2018-12-05 12:54] JonasVautherin commented on #616
Wouldn't that fit in the current mission plugin?

[2018-12-05 12:57] julianoes commented on #616
Not really because the mission items don't support all the settings and commands so then part of the file that you want to import is not supported which is actually the case right now as we already support the mission plan file.

[2018-12-05 21:10] joe-marrone commented on #603
Hello again, I have another issue.
when installing the Python wrapper everything appeared to install OK.  But when I tried to run the takeoff_and_landing script it threw this error:

joe@joe-VirtualBox:~/src/Firmware/DronecodeSDK-Python$ examples/takeoff_and_land.py
Traceback (most recent call last):
  File "examples/takeoff_and_land.py", line 5, in <module>
    from dronecode_sdk import connect a

[2018-12-05 21:24] joe-marrone opened #618 "Trouble installing Python wrapper"
Hello again, I have another issue.
The backend installed OK after some effort.  When installing the Python wrapper everything appeared to install OK. But when I tried to run the takeoff_and_landing script it threw this error:

[code]

What next?
Joe

PS.  I asked this same question in another thread that was closed, so it's probably best to create a new thread.

[2018-12-05 23:38] hamishwillee commented on #603
@joe-marrone Raise a new issue in DronecodeSDK-Python - this issue is closed. Normally I'd say use the [support channels](https://sdk.dronecode.org/en/#getting-help) but this could well be a bug.

[2018-12-06 05:41] julianoes commented on #618
Did you follow these steps: https://github.com/Dronecode/DronecodeSDK-Python#get-the-python-wrapper

And if any of them was not successful, could you please paste the output. You can paste code in between ```.

[2018-12-06 10:36] sanderux commented on #616
We now listen for MISSION_ACK to know if the mission was updated

[2018-12-06 14:18] joe-marrone commented on #618
Update:  I think the pip3 install didn't work the first time so I reinstalled it and then tried running the script again, but now I get a different error.

Here is the entire build process taken from [](https://github.com/Dronecode/DronecodeSDK-Python#get-the-python-wrapper)

joe@joe-VirtualBox:~/src/Firmware/DronecodeSDK-Python$ ./other/tools/run_protoc.sh
[+] Installing the DronecodeSDK autogene

[2018-12-06 14:22] joe-marrone commented on #618
Sorry about my last post. I don't know why the text has strikeouts, but I must have hit a key by mistake.

Joe

[2018-12-06 14:57] julianoes commented on #618
So, you really have to use pip3. As long as you do things with pip (which is usually pip2) it won't work.

And we can see that it goes wrong early:
[code]

[2018-12-06 16:33] joe-marrone commented on #618
I'll reorg the file system, but where exactly does  DronecodeSDK-Python belong?

[2018-12-06 19:09] julianoes commented on #618
Just in `src` I'd say where you have the different repositories.

[2018-12-06 20:21] joe-marrone commented on #618
@julianoes:   Some progress today. It was not my intention to install the Python wrapper in the Firmware directory, so not sure why I thought it had to be there.  I deleted it and rebuilt the backend in a new directory.  Then I installed the Python wrapper in the src directory, and it installed OK.  But then when I ran the takeoff_and_land.py script, this is the result:

joe@joe-VirtualBox:~/src/D

[2018-12-06 21:42] JonasVautherin commented on #618
You need to run the C++ backend (which you successfully compiled, I believe). From the "DronecodeSDK" folder, that's something like:

    $ ./build/default/backend/backend_bin

The backend will connect to your drone/SITL instance, and the python SDK will connect to the backend.

[2018-12-07 14:51] joe-marrone commented on #618
@julianoes :   I did run the backend program and it linked to SITL.  But the takeoff_and_land.py script did not execute. I have DronecodeSDK and DronecodeSDK-Python in different folders.  Is this the problem?

[code]

[2018-12-07 14:55] joe-marrone commented on #618
Re: last post:

The files should read:

[code]

[2018-12-07 15:06] julianoes commented on #618
No that's correct.

Is `backend_bin` running when you start the Python file?

[2018-12-07 15:50] joe-marrone commented on #618
With PX4 SITL running, I start the backend and can see the link established .  I can see the backend giving mirror commands to what is on the SITL screen.  In another terminal I launch examples/takeoff_and_land.py. This results in the following error.

[code]
Joe

[2018-12-07 15:54] julianoes commented on #618
Ok cool, so now we're one step closer. Thanks for doing the debugging with us.
@JonasVautherin coult it be that we forgot to update some Python stuff after proto changes? :fearful:

[2018-12-07 16:54] joe-marrone commented on #618
Just to keep the conversation going,  I have some other files that you might want to see.  First is the backend chatter when communicating with jMAVSim.

[code]

The next one is the SITL output and as you will see I am getting a lot of sensor error messages.

[code]
Joe

[2018-12-07 19:44] thomasgubler opened #620 "Feature: be able to cancel mission upload and mission download while in progress"
Currently there is no way to exit these processes that sometimes can take a long time. When the SDK is used with a UI the user might want to cancel it.

[2018-12-09 11:08] simrankedia commented on #610
Hi @julianoes
I am done with the changes. However, looks like I don't have the permission to create a branch. Please guide me on how to submit the changes for review.

Thanks.

[2018-12-09 11:35] julianoes commented on #610
Nice @simrankedia! So the way it works is that you fork this repository and then create a pull request from there.
You can find some instructions here: https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2018-12-09 17:32] JonasVautherin commented on #618
I updated DronecodeSDK-Python, so it now has the latest proto files. @joe-marrone: Would you mind trying to pull DronecodeSDK-Python from `master` again and try to run it?

[2018-12-09 17:55] simrankedia commented on #610
Hi @julianoes I have raised a pull request. Kindly have a look.

[2018-12-09 20:39] JonasVautherin commented on #610
@simrankedia: I see your branch [here](https://github.com/simrankedia/DronecodeSDK/tree/Issue610) on your fork, but not a PR. Are you sure you opened a pull request to this repo? From [your branch](https://github.com/simrankedia/DronecodeSDK/tree/Issue610), click "Pull Request", add a description (add "Resolves #610" in the description), and hit "Create pull request".

Then it will appear [here on

[2018-12-10 05:46] simrankedia commented on #610
Hi @JonasVautherin, Sorry my bad. I have raised the PR now.

[2018-12-11 08:19] #610 closed

[2018-12-11 14:53] joe-marrone commented on #618
[code]
  I deleted the existing DronecodeSDK-Python files and reinstalled as per instructions on [this page](https://github.com/Dronecode/DronecodeSDK-Python#get-the-python-wrapper).  Then I started the SITL and ran takeoff_and_land.py in the wrapper window, but it failed again as shown.

[code]
When you say run the install from ```master```, is that different than what I did?

Thanks
Joe

[2018-12-11 14:58] joe-marrone commented on #618
Also, you mention that it is not recommended to run SITL in a virtual machine.  I am working on getting a dedicated system to use for this, and then I will build the entire ecosystem from scratch and avoid the issues associated with a virtual machine.  But that may take a few days.

Joe

[2018-12-11 15:01] julianoes commented on #618
It all comes down to how beefy your computer is and if you need the visualization, and how well the GPU support works on your host and client inside VirtualBox.

[2018-12-11 15:14] JonasVautherin commented on #618
@joe-marrone: just to be sure: you run everything (python frontend, c++ backend, SITL) on the very same VM instance? And they have network access (i.e. a client on the VM can actually access a server on the VM)?

[2018-12-11 17:33] joe-marrone commented on #618
@JonasVautherin : I have been using ubuntu 16.04.5 LTS up to this point.  Is it recommended to upgrade to ubuntu 18.04.x LTS at this time?

[2018-12-11 18:46] julianoes commented on #618
@joe-marrone I think both should work. If something of PX4 doesn't work in 18.04 yet, we'll just have to fix it asap.

[2018-12-11 23:06] JonasVautherin commented on #618
And it really looks like everything works fine, but the function that the python client tries to call is just not implemented on the backend (but it seems like it can connect to it, otherwise the error would be different).

Can you double-check that you built `backend_bin` from the `develop` branch of DronecodeSDK, and not from `master`?

[2018-12-11 23:06] hamishwillee commented on #618
@dagar Have we a plan/timeframe for moving to 18.04. Any known issues?

[2018-12-13 16:12] joe-marrone commented on #618
@JonasVautherin : I just installed ubuntu 16.04.5 on my machine as the primary OS ... no more virtual machine.  I then reinstalled the entire ecosystem starting with the development toolchain, then built the SDK from source, then the backend.  The Python wrapper appeared to install OK.  However, when I tried to start PX4 and SITL, the GUI did not start.  This is what I got, after finding out that

[2018-12-13 16:32] joe-marrone commented on #618
I want to mention that some of my issues might be because I put things in the wrong directory.  There are some steps where I'm not sure which directory to use, so it would be helpful if this information was included with each step.   I notice that a few steps do list the directory, but others I have been guessing at.

Thanks
Joe

[2018-12-13 16:41] JonasVautherin commented on #618
You still haven't answered my question. Do you build the backend from the `develop` branch?

Can you `make clean && make posix jmavsim`? Don't you get a compilation error there?

[2018-12-13 17:03] joe-marrone commented on #618
@JonasVautherin :   This is the process I used for the backend.  I don't know whether this is from the ```develop``` branch.

[code]
Joe

[2018-12-13 17:24] joe-marrone commented on #618
I tried  ```make clean && make posix jmavsim``` and immediately the SITL launched and the GUI appeared.  Next  I tried ``` takeoff_and_land.py```  by typing it at the ```>``` prompt, but it said  "invalid command".  So I tried entering it at the DronecodeSDK and Firmware prompts, but it said "command not found".  Maybe this is caused by the fact that the backend has not installed properly.

Joe

[2018-12-13 18:21] #620 closed

[2018-12-13 20:00] julianoes commented on #618
Does that mean you tried to run a Python scipt in the `pxh` aka PX4 shell? That's a bit adventurous. :smile:

You would start the Python script in another shell/terminal.

[2018-12-13 20:06] joe-marrone commented on #618
In the example folder  I found ```takeoff_and_land.cpp```, but no Python version.  That's probably why it doesn't run.

Joe

[2018-12-13 21:15] joe-marrone commented on #618
UPDATE:  I reinstalled the backend build, and it took. This allowed me to verify that the backend was talking to SITL.  Then I installed the wrapper again, and this installed OK. But running the takeoff and land script failed as shown.

[code]
Right now It would appear that the install is good except for running the script.

Joe

[2018-12-13 22:57] JonasVautherin commented on #618
It seems so, indeed, as it apparently passed the arming call.

Can you show me the output of:

    $ python --version

And can you try:

    $ python3 examples/takeoff_and_land.py

[2018-12-14 14:37] joe-marrone commented on #618
@JonasVautherin : Here are the results:
[code]
[code]
Clearly its calling for Python 2 and not 3.  Yet Python 3 exists on my system.

[code]
I must have a path wrong, which has been my concern all along.  Putting things in the right directory has been my biggest problem.  Thanks for helping narrow down the problem.  Now how do I get Python3 in the right place?

Thanks,
Joe

[2018-12-14 14:56] joe-marrone commented on #618
Once the backend is built, does is have to be started each time I run a mission?  In other words, right now I am starting the SITL in this order:

1. Launch PX4/SITL
2. Start backend
3. Run Python script

So do I have to start Backend each time?  If so, then I would like to have a  shell script do all the work.

-Joe

[2018-12-14 17:47] JonasVautherin commented on #618
Yes you do. At some point it will be done automatically, but not yet :-).

Not sure yet. So `python` links to python2, and I would expect `python3` to link to... well, python3.

Can you show the output of:

    $ python3 --version

[2018-12-14 18:12] joe-marrone commented on #618
[code]

[2018-12-15 01:32] JonasVautherin commented on #618
Ooooh, [formatted string literals](https://docs.python.org/3/whatsnew/3.6.html#pep-498-formatted-string-literals) come with python 3.6... I believe we need python 3.6 for other things in asyncio, but let's try to fix this first.

Try to change the `print` line for something like:

    print("-- Arm result: " + arm_result)

[2018-12-16 22:50] hamishwillee commented on #618
If the docs don't say that, they should :-)

[2018-12-17 14:40] joe-marrone commented on #618
@JonasVautherin :  Is there any action I should take now, or do I wait for a fix?  Also, there is mention of Python 3.6, but my version is 3.5.2.  Should I upgrade?

Thanks,
Joe

[2018-12-17 15:31] JonasVautherin commented on #618
I would definitely try that, if I were you! Maybe [this tutorial](http://ubuntuhandbook.org/index.php/2017/07/install-python-3-6-1-in-ubuntu-16-04-lts/)) can help you!

Let us know how it goes!

[2018-12-17 18:01] joe-marrone commented on #618
@JonasVautherin : I successfully installed Python 3.6.7 as per the tutorial.  But then I could not run the backend as shown here:

[code]
Could it be that Python 3.6 broke something?

Joe

[2018-12-17 22:01] JonasVautherin commented on #618
It says:

So it seems like you should install `python3-gdbm`. Not sure what it is, though

[2018-12-18 08:02] julianoes commented on #618
Make sure to re-install the requirements, and run `./other/tools/run_protoc.sh` again now that you have updated Python.

[2018-12-18 09:47] JonasVautherin commented on #618
Below are the steps I followed for installing DronecodeSDK-Python on an Ubuntu 16.04 Docker container ([see the Dockerfile here](https://gist.github.com/JonasVautherin/0bdd08bf58a6f8022b7645b0a0415023)). Make sure to adapt those steps to your system if needed.

1. Install prerequisites (in your case I believe you already have them):

[code]

2. Clone the repository:
[code]

3. Install Python 3.6:

[2018-12-18 14:32] joe-marrone commented on #618
@JonasVautherin :  Thanks for this new information.  Before  I start this, I have a question:  do I have to install Docker on my system?  Is it necessary in order to use the process you have provided?

 I have not installed Docker on my system, unless it was already there.  And I have no experience using it, so I am wondering if I can get the job done without it?

Thanks again for all your help.
J

[2018-12-18 15:12] JonasVautherin commented on #618
Sorry I was not clear: I gave the Dockerfile just for the record, because I did all that in Docker. But the instructions above should just work in your computer, no need for Docker at all. It could be that you already have the first 3 steps done, so you could skip them.

[2018-12-18 15:34] julianoes commented on #618
https://stackoverflow.com/questions/13708180/python-dev-installation-error-importerror-no-module-named-apt-pkg

[code]

[2018-12-18 17:24] joe-marrone commented on #618
It looks like the `apt_pkg` issue has been solved. Then I started to go thru the steps and got hung up on
`curl https://bootstrap.pypa.io/get-pip.py | python3.6`   This throws the error:

[code]
I researched this error and found a few ways around it using
`sudo apt-get install python-virtualenv` and `virtualenv --python=/usr/bin/python3.6 venv`
but this did not fix the problem.

I will continue to

[2018-12-18 19:06] JonasVautherin commented on #618
I guess I would run `sudo curl https://bootstrap.pypa.io/get-pip.py | python3.6`.

[2018-12-18 21:54] joe-marrone commented on #618
Same thing happens running
`sudo curl https://bootstrap.pypa.io/get-pip.py | python3.6`
It's got something to do with permissions, so I looked at some of the files involved, and  I have `rwx` on them, so this seems to be OK.

Joe

[2018-12-18 22:03] JonasVautherin commented on #618
Oh, my bad. Probably more `curl https://bootstrap.pypa.io/get-pip.py | sudo python3.6`.

[2018-12-19 15:58] joe-marrone commented on #618
@JonasVautherin :  Sorry, but  cannot get past step 4
`$ curl https://bootstrap.pypa.io/get-pip.py | python3.6`

 I added `sudo` to the last part of the command as Julian suggested, but  I still get errors related to permissions.  I have looked at all the directories on the `/home/joe-pl/.cache/pip/http` path and cannot find the offending directory.  Here's the terminal output for this:

[code]

-

[2018-12-19 16:03] JonasVautherin commented on #618
Looks like it worked to me :sweat_smile:. Above lines say that the cache has been disabled, but well, should not be an issue.

What if you do `$ pip3.6 --version` now? Does it exist?

[2018-12-19 16:12] joe-marrone commented on #618
`joe-pl@joe-PL:~$ pip3.6 --version
pip 18.1 from /usr/local/lib/python3.6/dist-packages/pip (python 3.6)`

Looks like it's there.  Now when I go to step 5
` $ cd <path/to/dronecodesdk_python>/proto/pb_plugins
$ pip3.6 install -r requirements.txt`
here's what happens:
[code]
For some files it says 'Requirement already satisfied ' yet down at the end it says "could not install packages ... error 13"

[2018-12-20 06:40] JonasVautherin commented on #618
It is trying install the packages on your system (`/usr/local/lib/python3.6/...`), and your user doesn't have the permission for that. Try sudo:

    sudo pip3.6 install -r requirements.txt

[2018-12-21 14:34] joe-marrone commented on #618
Re: the last post.
The file `requirements-dev.txt` is not in the directory:
[code]
The other file is there.  Any idea why the file needed for this pip3 command is not there?

-Joe

[2018-12-21 15:12] julianoes commented on #618
You are in the directory `DronecodeSDK-Python/proto/pb_plugins` but you should be just in `DronecodeSDK-Python/`.

[2018-12-21 15:22] joe-marrone commented on #618
Continued progress:
I found the `requirements-dev.txt` file in a different directory, and then the command line worked. Turned out I was using the wrong directory.

-Joe

[2018-12-21 17:04] JonasVautherin commented on #618
:thinking:

@xzvf: Would you by any chance have an idea about that `KeyError: 'Action'`?

[2019-01-03 17:49] joe-marrone commented on #618
Happy New Year.
I was wondering if anything had been done about the `KeyError: 'Action'` error?

Joe

[2019-01-07 18:33] jarednm commented on #609
Any update on this?  I have the same issue.

[2019-01-07 20:30] JonasVautherin commented on #609
As it is a "beginner" issue, we're keeping it open, hoping that somebody will feel like contributing :-)

[2019-01-09 08:23] AuterionWrikeBot opened #630 "Feature: pip package for SDK"
Status: @JonasVautherin currently working on windows support

[2019-01-09 09:18] julianoes opened #631 "Releases, version numbers broken"
We should fix the release process and get version numbers in shape again.

[2019-01-09 10:56] julianoes commented on #417
I'll continue doing this manually for now.

[2019-01-09 10:56] #417 closed

[2019-01-11 08:37] julianoes commented on #631
Fixed by #633 and #636.

[2019-01-11 08:37] #631 closed

[2019-01-11 08:41] julianoes opened #637 "Install directory structure wrong"
The installed directory structure of the plugin headers is wrong.

It is flat like this:
[code]

Instead of:
[code]

[2019-01-11 10:46] julianoes opened #639 "Some integration tests are failing"
Before we can enable integration tests in CI (#540) we need to make sure all tests are passing.

[2019-01-12 16:15] JonasVautherin commented on #618
Hi @joe-marrone! Happy new year, and sorry for the delay!

Can you show me the output of `$ tree` from `/src/DronecodeSDK/DronecodeSDK-Python/dronecode_sdk`?

[2019-01-14 23:20] JonasVautherin commented on #618
Right. Please paste the output of it after you have installed it (`$ sudo apt install tree`) :-).

[2019-01-15 14:18] joe-marrone commented on #618
OK, here is the tree output.
`
joe-pl@joe-PL:~/src/DronecodeSDK/DronecodeSDK-Python/dronecode_sdk$ tree
.
├── async_plugin_manager.py
├── _base.py
├── generated
│   ├── action_pb2_grpc.py
│   ├── action_pb2.py
│   ├── calibration_pb2_grpc.py
│   ├── calibration_pb2.py
│   ├── camera_pb2_grpc.py
│   ├── camera_pb2.py
│   ├── core_pb2_grpc.py
│   ├── core_pb2.py
│   ├── discovery_pb2_grpc.py
│   ├──

[2019-01-15 16:42] JonasVautherin commented on #618
~/src/DronecodeSDK/DronecodeSDK-Python/dronecode_sdk/__plugins__ should not be empty. It means that `run_protoc.sh` failed.

Can you verify that the python calls in `run_protoc.sh` are `python3.6` (and not `python3`), and run `run_protoc.sh` again?

[2019-01-15 18:03] ayaanhaider commented on #481
@mzahana Hi! Can you suggest a way to upgrade Xcode? I am running Mac OS Sierra version 10.12.6 and Xcode version 9.2. To get the latest Xcode version I would need to upgrade to Mojave which I prefer not to. Thanks.

[2019-01-15 19:49] ayaanhaider commented on #481
Hi,
I tried building it using Mac OS Sierra version 10.12.6 and Xcode version 9.2 and I get the following error:

[code]
Any help would be much appreciated to solve this issue.

[2019-01-15 21:04] ayaanhaider opened #640 "unknown warning option '-Wno-unused-lambda-capture'"
Hi,
I am using Mac OS Sierra version 10.12.6 and Xcode version 9.2. After following the instruction: `make default` , I get the following error:
[code]
Any help would be much appreciated to solve this issue.

[2019-01-16 04:01] mzahana commented on #481
I am sorry, but I have not been a Mac user for a long time and I can't help
debugging this issue for now.

On Tue, Jan 15, 2019, 10:49 PM ayaanhaider <notifications@github.com wrote:

[2019-01-16 09:41] JonasVautherin commented on #640
Which version of clang do you have?

    $ clang --version

[2019-01-16 13:01] ayaanhaider commented on #640
It gave me the following clang version @JonasVautherin :
[code]

[2019-01-16 13:09] JonasVautherin commented on #640
It actually looks like #481. You could try either to update clang, or to remove `-Wno-unused-lambda-capture` [here](https://github.com/Dronecode/DronecodeSDK/blob/develop/cmake/compiler_flags.cmake#L28-L31).

[2019-01-16 13:46] ayaanhaider commented on #640
I removed the line you told me to but still no luck and got a similar error message. I tried it on another computer which is running Mac OS Mojave and clang version 10. I got this error while running it on the second MacBook:
[code]

[2019-01-16 13:48] ayaanhaider commented on #640
Also just to add, I wasn't able to download some dependencies on Mac since they weren't available for download using brew.

[2019-01-16 14:00] JonasVautherin commented on #640
What was that message? Another unknown flag?

You have permission errors there. Can you try to clean and build again?

[code]

[2019-01-16 14:06] ayaanhaider commented on #640
I got this after removing `-Wno-unused-lambda-capture`
[code]

[2019-01-16 14:11] ayaanhaider commented on #640
I tried the following and I got a successful build on my clang 9 MacBook:
[code]

On my second laptop I tried cleaning but got an error message:

[code]

Thanks so much for your help Jonas.

[2019-01-16 14:36] ayaanhaider commented on #640
Ah I see! Yes finally got it to work on the clang 10 as well 😄 Thanks a lot @JonasVautherin

[2019-01-16 14:37] #640 closed

[2019-01-16 17:36] joe-marrone commented on #618
This is the `run_protoc.sh` file in my system.   I installed this several weeks ago when I started this thread.

Joe

`
#!/bin/bash
SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
WORK_DIR="${SCRIPT_DIR}/../../"
PROTO_DIR="${WORK_DIR}/proto"
GENERATED_DIR="${WORK_DIR}/dronecode_sdk/generated"
PLUGIN_DIR="${WORK_DIR}/dronecode_sdk/plugins"
PLUGIN_INIT="${PLUGIN_DIR}/__init__.py"
expo

[2019-01-16 23:06] JonasVautherin commented on #618
Ok. So part of what you did before was to install `python3.6` and `pip3.6`. On your system, you should now have multiple versions of Python. `python` is some Python 2 (maybe 2.7?), `python3` is Python 3.X (maybe 3.5?), and `python3.6` is Python 3.6 (the one you just installed).

The script `run_protoc.sh` calls `python3` and `pip3`, because on more modern systems like Ubuntu 18.04, that would be f

[2019-01-17 14:38] joe-marrone commented on #618
I made the changes and ran `run_protoc.sh`.  It installed OK.  But now I have another issue preventing me from using the simulator.  It seems that my ubuntu 16.04 install does not like the graphics card on my PC because of incompatibilities with GNOME, so I am using the standard graphics shell from Microsoft, which does not run the sim.  Never a dull day!

I tried some NVidia driver updates but th

[2019-01-17 15:44] julianoes commented on #618
If you're using Gazebo, you can try to run it without graphics:
[code]

[2019-01-17 19:36] JonasVautherin commented on #618
If you haven't installed Gazebo yet, and have Docker, you can also try to run it directly from [this docker image](https://github.com/JonasVautherin/px4-gazebo-headless) (have a look at the documentation there).

[2019-01-18 10:43] #637 closed

[2019-01-18 16:03] joe-marrone commented on #618
Unfortunately, I have not used either Gazebo or Docker yet.
Joe

[2019-01-20 00:54] JonasVautherin commented on #618
I see. I guess you may want to try Gazebo (see Julian's comment above).

I'm closing this issue now, as the Python wrapper got installed now.

[2019-01-20 00:54] #618 closed

[2019-01-23 16:34] sanderux opened #651 "Expose temperature"
I would like to be able to read HIGHRES_IMU.temperature

[2019-01-23 16:38] sanderux opened #652 "Allow sending STATUS_TEXT message"
To inform the user from an onboard secondary computer i would like to be able to send STATUS_TEXT messages to the flightcontroller. PX4 is configured to relay these to other devices. I would like to be able to set the SOURCE_SYSTEM to the MAV_SYS_ID of the flight controller so QGC doesnt see the message as a different vehicle.

[2019-01-24 06:15] JonasVautherin commented on #651
@julianoes: is that `Info` or `Telemetry`? Or something else?

[2019-01-24 12:13] julianoes commented on #651
I'd say that's for telemetry.

[2019-01-24 12:15] julianoes commented on #652
So, I would argue that your onboard computer should have the same system ID as the flight controller, however, a different component ID. This way, the message should show up correctly on QGC.

[2019-01-24 13:00] JonasVautherin commented on #652
That's opening an interesting question: should the SDK make a difference between "clients" and "servers/sensors"? Or should we just split those functionalities in different plugins?

For instance, let's say I have a sensor that sends telemetry. Should it have its own component ID in the system and use a `TelemetryServer`? Is it fine to assume that no two components will send the same MAVLink messa

[2019-01-24 13:30] sanderux commented on #652
That is indeed how it should be, but i doubt it is.
As for the system_id, i'm not sure PX4 will handle correctly communicating with the same systemID if, for instance, you request a mission list.

But having a ONBOARD and CLIENT mode is probably a good idea.

[2019-01-24 13:42] julianoes commented on #652
That's what we should work towards rather than workarounds for the SDK for this.
If we can't use MAVLink sysid and compid as designed, everything falls apart. If PX4 handles something incorrectly, then we fix it.

[2019-01-24 13:45] julianoes commented on #652
A sensor belonging to "the system" has the same system ID and a different component ID.
A ground station (or SDK thing) should not have to worry if a telemetry message originates from a Pixhawk with internal sensor or an additional thing with another component ID. By looking at the MAVLink message you could distinguish it but I doubt we usually need to know.

[2019-01-24 13:54] sanderux commented on #652
scenario 1:
Flightcontroller (FC): SYSID: 1, COMPID: 1
Secundary Board Computer (SBC): SYSID: 1, COMPID: 2
A. SBC requests mission list: PX4 does not handle a request from the same SYSID correctly
B. SBC sends STATUS_TEXT message: PX4 relays properly, even if from same SYSID

scenario 2:
Flightcontroller (FC): SYSID: 1, COMPID: 1
Secundary Board Computer (SBC): SYSID: 230, COMPID: 2
A. SBC request

[2019-01-24 13:57] sanderux commented on #652
I believe things *should* work as intended and we should work towards fixing everything that doesnt work. But i also think an SDK should give the freedom to whatever you like, such as defining exactly what SYSID/COMPID you want to use for a specific case.

[2019-01-24 14:03] sanderux commented on #651
I might be completely off in the idea behind the SDK, but why would you not expose all mavlink topics and allow getting updates? You can still create wrappers around standard things but you are not limiting devs to access all telemetry information.

Same goes for sending stuff, its good to have wrappers for everything the SDK understands, but a generic message factory such as dronekit/pymavlink wo

[2019-01-24 15:05] julianoes commented on #651
Yes, a "backdoor" like that is something we probably should do. But that's orthogonal to this request.

[2019-01-24 15:06] julianoes commented on #652
Let's fix this.

[2019-01-24 15:13] julianoes commented on #652
Let me add some context. The problem is that the SDK has a concept of system, and it will have the same problem as QGC for a message which is from another system. This means that the message won't even end up in the plugins and can't be consumed. If we change that, everything around multiple vehicles falls apart.

[2019-01-24 16:50] JonasVautherin commented on #652
Thanks for the reports above! Are they known issues for QGC and PX4, or should we open new ones?

That's probably a philosophical question, and at least a design choice. If I design a library for manipulating JSON documents, it will probably be limited to parsing and writing _valid_ JSON documents. One may want a way to generate invalid documents with my library, so that they can read them with a

[2019-01-24 18:10] sanderux commented on #652
Could it not look at the component id, i think all systems are fine with a different component id.

I am not sure what the current status is of the systemid bug in px4, i will check

[2019-01-24 18:11] sanderux commented on #652
There is also the concept of the targetID, if set to 0 it should always be forwarded by routers and consumed by clients.

[2019-01-24 18:17] sanderux commented on #652
@JonasVautherin i think a better analogy is a TCPIP wrapper, and if you would allow changing the header of the packet. There is nothing wrong with the format, and if it is your intention to have any reply be sent to a different ID then why would that not be allowed. If it is needed programmers will find a way anyway and start hacking stuff. If you make it clear that it is normally not the way it s

[2019-01-24 19:18] JonasVautherin commented on #652
Good points there, indeed.

Again, I'm not saying that it is bad to add those features. I'm saying that it may require some work, and it may have an impact on the design. So if the need right now is a workaround, I'd rather fix the bugs.

[2019-01-25 09:03] sanderux commented on #652
Unfortunately we need it backwards compatible

[2019-01-28 08:02] julianoes commented on #652
Correct.

Let's try to do a very specific hack for this case then. Something like:
[code]

Now, where exactly is the SDK in your setup? That's to figure out what `do_something()` needs to do. Or what's your "networking" setup?

[2019-01-28 09:10] sanderux commented on #652
SDK runs on Secondary Board Computer (SBC).

SBC <serial>  Pixhawk <serial/radio> GCS
SBC <4G> GCS
SBC <WIFI> GCS

As you see we have 3 methods of communicating to the GCS

[2019-01-28 09:13] sanderux commented on #652
Wiring diagrams are listed here: https://www.verticaltechnologies.com/info/tech-specs-wiring-and-electronics

[2019-01-28 09:33] julianoes commented on #652
Ok, and Pixhawk is forwarding everything using the `-f` flag?

I don't understand which messages exactly need to get changed. And what's used to forward traffic on SBC?

[2019-01-28 10:33] bresch opened #653 "Segfault if port failed to open"
I have a piece of code using the SDK that binds to an UDP MAVLink port generated by the MAVLink router.
Unfortunately, the port where I wanted to connect is already used by an other application. Since the connection failed, sending an action to the drone resulted in a segfault.
Would it be possible to throw an error to prevent that segfault?

[code]

Thanks!

[2019-01-28 10:59] julianoes commented on #653
Would be great if you could add a stacktrace. Just add `gdb --args` before the command that you're running and then copy `backtrace` once it crashed.

[2019-01-30 11:11] bresch commented on #653
@julianoes Here it is!
[code]
[code]

Thanks.

[2019-01-30 12:57] julianoes commented on #653
`auto_maneuver_system` that's not a thing I recognize? :astonished:

[2019-01-30 13:09] julianoes commented on #653
You can avoid the problem by checking the return value of creating the connection, and exit early if that happens.

However, it still probably should not crash if no valid connection is available. I'm checking that now.

[2019-01-30 13:21] julianoes commented on #653
The problem was in the software using this which did not initialize `action` if the connection failed.

[2019-01-30 13:21] #653 closed

[2019-01-31 04:31] hamishwillee commented on #652
Without reading the story here, I assume discussion must also apply to new [STATUSTEXT_LONG](https://mavlink.io/en/messages/common.html#STATUSTEXT_LONG).

[2019-02-05 15:02] julianoes commented on #616
Done in #644.

[2019-02-05 15:02] #616 closed

[2019-02-05 15:04] julianoes commented on #534
Actually, this is a duplicate of #112. Closing this but I agree we should add it!

[2019-02-05 15:04] #534 closed

[2019-02-06 15:26] #652 closed

[2019-02-11 10:15] julianoes opened #663 "Mission: provide API to clear mission"
We should probably offer a method that allows to wipe any missions stored on the vehicle. Right now, we can achieve this by uploading an empty mission item list but that's not really visible.

An alternative would be to document what it means to upload an empty list.

The underlying message to send would be: https://mavlink.io/en/messages/common.html#MISSION_CLEAR_ALL

[2019-02-11 13:01] JonasVautherin commented on #663
How many missions can be stored on the vehicle?

[2019-02-11 13:33] julianoes commented on #663
Two but only one at a time. So let's say you're flying `0` and uploading a mission, then it will be stored to `1`. Once fully uploaded, everything will switch over to `1`.

[2019-02-11 22:33] hamishwillee commented on #663
FYI clear mission is documented in https://mavlink.io/en/services/mission.html#clear_mission. In the update for partial missions I note what happens when you upload an empty mission https://github.com/mavlink/mavlink-devguide/pull/157/files#diff-17277822f661b48f9c95c6f034ab0469R166

[2019-02-12 07:57] julianoes commented on #663
Thanks @hamishwillee !

[2019-02-15 12:14] michprev opened #672 "Command id 0"
Hello,
I noticed that after initialization of Telemetry object `shared_ptr<Telemetry> telemetry = make_shared<Telemetry>(system);` there are sent some [COMMAND_LONG commands](https://mavlink.io/en/messages/common.html#COMMAND_LONG) with target system, target component and component id all set to 0. However, there does not seem to be a command with id 0 in the [list](https://mavlink.io/en/messages/

[2019-02-15 12:37] julianoes commented on #672
Ok, and what is the command id?

I expect some commands being sent to system id 0 and component id 0 which just means to everyone, although we might want to make that more specific, I agree.

[2019-02-15 12:47] michprev commented on #672
Command id is 0 - that is the strangest. I will try to use MavlinkPassthrough plugin to make sure that the command is being sent with id 0.

[2019-02-15 13:26] michprev commented on #672
MavlinkPassthrough does not report any COMMAND_LONG with id 0. Also Wireshark does not see any datagram that would look like it.
I think I can clearly say that issue is not in your SDK. Thank you for your support!

[2019-02-15 13:26] #672 closed

[2019-02-15 23:54] snail914 commented on #609
Bug found^^ My laptop is too slow to build the project, will send a pr tomorrow

[2019-02-18 06:45] julianoes commented on #672
Ok, thanks for the feedback.

[2019-02-18 22:26] hamishwillee commented on #609
You know that MAVLink components should publish heartbeats even if they haven't discovered other systems yet, right?

[2019-02-19 05:20] julianoes commented on #609
From my understanding that's not true. Systems such as drones should be sending heartbeats and ground stations are supposed to listen for heartbeats. Once they receive something, they can (don't have to) respond using heartbeats.

[2019-02-20 00:25] hamishwillee commented on #609
Not what the [spec says](https://mavlink.io/en/services/heartbeat.html#connectiondisconnection). Which does not mean you are wrong, but that we need this confirmed.
I will confirm in dev call.

[2019-02-20 06:05] julianoes commented on #609
As far as I know, QGC does not do it either, at least on UDP because it would not even know where to send heartbeats. The port was not defined until recently when it was written in the port diagram. The other example is MAVROS which does send stuff by assuming the SITL port which just always happened to be the same (14557 I think).

[2019-02-20 09:19] julianoes opened #677 "Build examples in CI"
This got lost when I removed the Jenkinsfile.

[2019-02-20 14:30] julianoes opened #680 "Enable cross compilation for devices like Raspberry Pi"
It would be nice if we could cross-compile artefacts for architectures like armv7 and arm64, e.g. for Raspberry Pis.

The build artefacts should also be generated in CI and attached to the releases like the current .deb and .rpm files.

@JonasVautherin you have already tried this with cross complation docker containers, right?

[2019-02-20 19:21] JonasVautherin commented on #680
Yep I'm working on that!

[2019-02-20 23:59] hamishwillee commented on #609
As discussed in devcall. You have a good point, with the result that you now have action to work out best way to handle connection, vehicle discovery and system id allocation mechanisms. That'll learn ya!

[2019-02-26 17:35] michprev opened #685 "calibration without STATUSTEXT commands"
While building my own flight stack I have hit an issue with calibration.

[code]

The situation is:

1. my quad receives [COMMAND_LONG](https://mavlink.io/en/messages/common.html#COMMAND_LONG) with [MAV_CMD_PREFLIGHT_CALIBRATION](https://mavlink.io/en/messages/common.html#MAV_CMD_PREFLIGHT_CALIBRATION) id
1. it starts sending [COMMAND_ACK](https://mavlink.io/en/messages/common.html#COMMAND_ACK) wi

[2019-02-27 16:58] julianoes commented on #685
Your own flight stack? :astonished: Is it  open source?

So your observation is correct, and the implementation using these statustexts is really clunky in PX4. We would like to come up with a protocol of MAVLink messages that make the communication of a calibration easier and clearer but still flexible for different sensors, calibration methods, airframes, etc.. That's a big todo but will probabl

[2019-03-02 19:26] michprev commented on #685
It is currently closed course. I will consider open sourcing it once I feel comfortable with it :smile: There is not much implemented yet.

Unfortunately I don't own any flight controller that would work with MAVLink but I wonder what is need by calibration methods that STATUSTEXT can satisfy but COMMAND_ACK can not.

[2019-03-05 12:05] #275 closed

[2019-03-06 20:08] chenny408 opened #689 "Mission progress won't send event until aircraft reaches the following waypoint"
This happens for mission items with loiterTimeS = .nan, cameraAction = stopPhotoInterval/no action. We do not get mission progress event until aircraft reaches the following waypoint.

We get a mission progress event every time the drone reaches a waypoint.
The issue seen is, if you have a waypoint mission (for example 10 waypoints), where 5th waypoint has 'loiterTimeS = .nan' & 'cameraAction = .n

[2019-03-07 08:19] JonasVautherin commented on #689
@julianoes: Would you mind having a look at that?

[2019-03-07 09:22] julianoes commented on #689
So the way it is supposed to work is that you only receive a mission progress for a mission item which is actually a waypoint, so a mission item with lat/lon defined.

Would it be possible to share a minimal list of mission items to reproduce this?

[2019-03-07 10:26] JonasVautherin opened #690 "Project naming"
@muve: Hello! I don't mean to spam you, but I would have a (simple) question to ask you and did not find another way to get your attention.

Would you mind having a quick discussion with me? Here or you could for instance reach me on LinkedIn (I am the only "Jonas Vautherin" there, I believe :laughing:).

[2019-03-07 14:14] jwidauer opened #691 "Inconsistent documentation in Action class."
In the `Action` class the function `goto_location()`s documentation specifies:
`Send command to reposition the vehicle to a specific WGS84 global position.`

But then underneath it it states:
`float altitude_amsl_m - Altitude AMSL in meters`

Does this mean the `altitude_amsl_m` will be converted to WGS84 internally or is this a mistake in the documentation?

[2019-03-07 14:24] julianoes commented on #691
Good point, thanks for raising this.

I think this is the same that @mzahana found in Dronecode/DronecodeSDK#485 and lead me to create this issue:
https://github.com/PX4/Firmware/issues/10246

Given that, we should make sure that's documented correctly (for now) here.

[2019-03-07 14:29] julianoes commented on #691
I guess the global position would refer to latitude/longitude but is excluding the  altitude.

[2019-03-07 21:32] hamishwillee commented on #691
Almost certainly it is WGS84 position, and AMSL altitude, because that is the underlying definition of the MAVLink frames: https://mavlink.io/en/messages/common.html#MAV_FRAME

This is complicated further by the fact that the actual frame might not quite match even that, depending on the positioning hardware (anecdotally, came up in a MAVLink call).

[2019-03-14 10:59] julianoes opened #695 "Camera range options not supported"
We should support camera settings that are not an enum option but rather a range.

An example for such a param can be found in the camera manager:

https://github.com/Dronecode/camera-manager/blob/eef47667506eb97e6ee7349489b7738a825dae14/samples/def/camera-def-uvc.xml#L57-L59

[2019-03-15 07:33] julianoes commented on #695
@JonasVautherin we'll have to figure out the proto for this first, I think.

[2019-03-15 08:45] #691 closed

[2019-03-15 09:09] JonasVautherin commented on #695
Agreed. Is it already needed for a camera we support?

[2019-03-15 09:15] julianoes commented on #695
It's used a lot in camera-manager, so it's something needed for https://github.com/Auterion/mavlink-testing-suite which tests against camera-manager.

[2019-03-15 20:11] julianoes opened #697 "Camera settings not returning callback"
It seems that on iOS the camera settings callback does not arrive.
We need to check the C++ side first and then maybe debug why the iOS ones don't work.

Reported by @douglaswsilva.

[2019-03-15 20:12] julianoes opened #698 "Cancel mission upload and download lead to crashes"
According to @douglaswsilva:

Stacktrace:

[code]

[2019-03-18 08:22] julianoes commented on #697
Ah, this has already been fixed by #670 but we have not released a new backend since.

[2019-03-18 08:22] #697 closed

[2019-03-18 08:37] julianoes commented on #698
It's weird because this stacktrace is for a camera crash, and not a mission cancel crash.

[2019-03-18 19:20] douglaswsilva commented on #698
My bad, let me send you the right one.

[2019-03-18 19:23] douglaswsilva commented on #698
`#26. Crashed: Thread
0  libsystem_pthread.dylib        0x1c4dbde9c pthread_mutex_lock$VARIANT$mp + 126
1  libc++.1.dylib                 0x1c4340b30 std::__1::mutex::lock() + 12
2  libc++.1.dylib                 0x1c430cbd8 std::__1::__assoc_sub_state::set_value() + 36
3  backend                        0x1116f90dc dronecode_sdk::backend::MissionServiceImpl<dronecode_sdk::Mission>::uploadMissionIt

[2019-03-18 19:26] douglaswsilva commented on #698
`inline void UploadMissionResponse::set_allocated_mission_result(::dronecode_sdk::rpc::mission::MissionResult* mission_result) {
  ::google::protobuf::Arena* message_arena = GetArenaNoVirtual();
  if (message_arena == NULL) {
    delete mission_result_;
  }
  if (mission_result) {
    ::google::protobuf::Arena* submessage_arena = NULL;
    if (message_arena != submessage_arena) {
      mission_res

[2019-03-19 06:04] julianoes commented on #698
Great, thanks @douglaswsilva.

[2019-03-19 06:17] julianoes commented on #698
@JonasVautherin any idea what this could be?

[2019-03-20 06:58] julianoes opened #702 "Add offboard plugin to backend and language wrappers"
It would be nice to add support for offboard to the language bindings.

[2019-03-21 04:16] hamishwillee opened #703 "Automate dependencies for Linux and Windows"
When building the MAVLink test suite setup fails on Windows and Linux because there are missing dependencies. As discussed  [here](https://github.com/Auterion/mavlink-testing-suite/issues/13#issuecomment-470413491) it would be better if the SDK is able to install its own dependencies.

@julianoes Just a reminder :-)

[2019-03-21 16:28] JonasVautherin commented on #703
I understand the issue for the MAVLink test suite, but I kind of disagree on the solution here. I would say that the MAVLink test suite should `find_package(DronecodeSDK REQUIRED)` instead of building it itself.

This said, I'm working on moving the dependencies out of the SDK CMakeLists and having some kind of helper to build them if necessary (but relying on `find_package` everywhere). And at th

[2019-03-25 04:50] hamishwillee commented on #703
@JonasVautherin I don't mind where or how the issue is solved, but it has to be solved in either the test suite or here :-). Work it out with @julianoes and let me know :-)
In the short term, this could just be addition to the readme in the test suite.

[2019-03-26 08:17] addriumruss opened #708 "How to cross-compile dronecodesdk to run on armv9?"
Anyone could help?
Thanks very much!

[2019-03-26 09:44] addriumruss commented on #708
I used an arm-none-linux-gnueabi-g++, it doesn't support c++11.
environment: centos6.9 ,  dronecodesdk 2018.12
this is init.sh:
#/bin/sh
export CC=/home/russ/arm/arm-2009q1/bin/arm-none-linux-gnueabi-gcc
export CXX=/home/russ/arm/arm-2009q1/bin/arm-none-linux-gnueabi-g++
cmake ..
# make

and this is the cmake result:
[root@localhost build-arm]# ./init.sh | tee error
-- The C compiler identificatio

[2019-03-26 09:44] addriumruss commented on #708
anyone can help ?

[2019-03-26 10:14] shrit commented on #708
I think your compiler needs to be compatible with c++11, which mean at least version 4.8.1

[2019-03-26 10:58] addriumruss commented on #708
it's already 4.8.2：
[root@localhost temp]# g++ -v
Using built-in specs.
COLLECT_GCC=g++
COLLECT_LTO_WRAPPER=/opt/rh/devtoolset-2/root/usr/libexec/gcc/i686-redhat-linux/4.8.2/lto-wrapper
Target: i686-redhat-linux
Configured with: ../configure --prefix=/opt/rh/devtoolset-2/root/usr --mandir=/opt/rh/devtoolset-2/root/usr/share/man --infodir=/opt/rh/devtoolset-2/root/usr/share/info --with-bugurl=http:

[2019-03-26 11:23] JonasVautherin commented on #708
Seems like it is failing on json11. Did you try to cross-compile [`json11`](https://github.com/dropbox/json11) only, as a first step?

[2019-03-27 01:11] addriumruss commented on #708
@JonasVautherin Good idea! I try it now.

[2019-03-27 01:15] addriumruss commented on #708
I got this:
cc1plus: error: unrecognized command line option "-std=c++11"
cc1plus: error: unrecognized command line option "-std=c++11"
maybe I should change a cross-compile tool.

[2019-03-27 07:20] julianoes commented on #708
This looks like C++11 is not supported. Any chance you can use a more recent compiler?

[2019-03-27 09:27] addriumruss commented on #708
@julianoes Thanks!
I'm looking for arm-linux-gcc-5.4, found a x64 version, but the x86 version is needed.
Still searching.

[2019-03-27 10:49] JonasVautherin commented on #708
BTW, do you know [crosstool-ng](https://crosstool-ng.github.io/docs/) and/or [dockcross](https://github.com/dockcross/dockcross)? Dockcross doesn't seem to have armv9 (yet), but it may be worth asking them what it would require.

[2019-03-28 08:16] addriumruss commented on #708
@JonasVautherin Thanks for crosstool-ng tip!
I got the arm-hisiv400-linux-gcc tool yestoday from the device manufacturer, and now blocked at curl.
this is the cmake command:
#/bin/sh
export CC=arm-hisiv400-linux-gcc
export CXX=arm-hisiv400-linux-g++
cmake ..

this is the cmake result:
[root@localhost build-arm]# ./init.sh
-- The C compiler identification is GNU 4.8.3
-- The CXX compiler identifica

[2019-03-28 09:29] addriumruss commented on #708
Hi,
I rebuild curl with arm gcc, and mark it in dronecodesdk/CMakeLists.txt:
"
cmake_minimum_required(VERSION 3.1)
include_directories("/home/russ/px4/curl7/include")
link_directories("/home/russ/px4/curl7/lib")
set(CMAKE_CXX_STANDARD 11)
.......
"
then compile it , still got error:

[root@localhost build-arm]# more init.sh
#/bin/sh
export CC=arm-hisiv400-linux-gcc
export CXX=arm-hisiv400-linux-g+

[2019-03-28 10:05] julianoes commented on #708
If you don't need the camera plugin (or at least not the camera definition functionality), you could for now remove the curl dependency. You'd  just have to go through the code yourself and add #ifdefs wherever needed.

[2019-03-28 11:18] addriumruss commented on #708
@julianoes Thank you so much, I'll try add #ifdefs to hide curl.
The previous issue above seems caused by class MAVLinkParameters and class SystemImpl both referenced each other. And the code looks no wrong.
Do you have any ideas about this?

[2019-03-28 11:22] julianoes commented on #708
That's odd. I'll need to try to compile with gcc 4.8.3.

[2019-03-28 12:08] addriumruss commented on #708
Thanks so much!

[2019-03-28 13:13] JonasVautherin commented on #708
I don't see errors other than `-Werror`. Maybe it's faster to remove `-Werror` for this build rather than adding `#ifdefs` everywhere.

[2019-03-28 13:26] JonasVautherin commented on #698
@julianoes: Can we close this following #701?

[2019-03-28 13:31] julianoes commented on #708
@JonasVautherin this is a real error, no?
[code]

[2019-03-28 13:32] julianoes commented on #698
Let @douglaswsilva test it and confirm. Probably best to cut a release to test it.

[2019-03-28 13:39] JonasVautherin commented on #630
Just got to build `backend_bin` with `manylinux1`. May have a PoC soon!

[2019-03-28 13:41] JonasVautherin commented on #708
Oh, I missed it somehow. My bad :-)

[2019-03-28 19:53] douglaswsilva commented on #698
[code]

[2019-03-28 20:04] douglaswsilva commented on #698
[code]

[2019-03-28 21:13] douglaswsilva opened #712 "Camera crash in possibleSettingOptions"
[code]

[2019-03-28 21:23] douglaswsilva commented on #712
It happens sporadically, can't find a perfect reproducible way yet, but saw it happening sometimes upon subscription after app crash.

[2019-03-29 01:20] addriumruss commented on #708
Thanks!
The environment is Centos6.9, 32bit vmware, with cross-compile  arm-hisiv400-linux-gcc 4.8.3.

[2019-04-01 07:40] julianoes opened #713 "Add setting for mission item acceptance radius"
It would be nice to set the acceptance radius for the mission items.

This cam up in: http://discuss.px4.io/t/mission-item-acceptance-radius/10218

[2019-04-02 08:25] #698 closed

[2019-04-04 01:57] addriumruss opened #717 "warnings during mission upload and download"
2019-04-04 09:48:48.042 begin upload mission
[09:48:48|Info ] Mission accepted (mission_impl.cpp:163)
[09:48:48|Warn ] Error: not sure how to process Mission ack. (mission_impl.cpp:126)
[09:48:48|Warn ] Error: not sure how to process Mission ack. (mission_impl.cpp:126)
[09:48:48|Warn ] Error: not sure how to process Mission ack. (mission_impl.cpp:126)
[09:48:48|Warn ] Error: not sure how to proces

[2019-04-04 07:47] julianoes commented on #717
Hi @addriumruss. Could you give me some more context? Is this happening every time? Are you connected every time? Which version are you using? Is the mission transferred completely? Are you running a certain integration test? How can I reproduce it?

[2019-04-04 14:16] #713 closed

[2019-04-05 11:33] MaEtUgR opened #718 "Dronecode SDK Windows build binary for Python package"
@JonasVautherin This issue is just to track the progress.
So the goal is to have a prebuilt Windows binary which should then help the python library for Windows because the end-user doesn't want to build the C++ code in Visual Studio himself just to use the Python SDK.

I followed https://sdk.dronecode.org/en/contributing/build.html for Windows to build the library. With the folders for curl direc

[2019-04-07 09:43] julianoes opened #719 "Windows build is broken"
Currently the Windows build seems broken, I tried in "x64 Native Tools Command Prompt for VS 2017". I'm not sure why this is not caught in appveyor.

[code]

FYI @MaEtUgR

[2019-04-09 09:03] MaEtUgR commented on #719
@julianoes I wrote in https://github.com/Dronecode/DronecodeSDK/issues/718#issue-429710976 what I had to do to get a successful build with latest visual studio. Although just the build ran through and some tests failed but I'm not sure what should actually work since I'd probably need to have SITL running.

[2019-04-09 10:04] julianoes commented on #719
For the unit tests SITL doesn't need to be running.

[2019-04-09 10:04] addriumruss opened #720 "Aborted when download mission"
[06:03:21|Warn ] Error: not sure how to process Mission ack. (mission_impl.cpp:126)
[06:03:21|Warn ] Retrying requesting mission item... (mission_impl.cpp:1204)
[06:03:21|Warn ] Retrying requesting mission item... (mission_impl.cpp:1204)
[06:03:21|Warn ] Error: not sure how to process Mission ack. (mission_impl.cpp:126)
2019-04-09 18:03:21.774 [STATUS] lng:14.366780, lat:52.548896, hgt:0.049000, a

[2019-04-09 10:06] julianoes commented on #720
Can you share how to reproduce this?
And can you share the whole output so that I can see the version? Thanks.

[2019-04-09 10:10] addriumruss commented on #720
I upload one mission, then download it immediately.
this is the logs:
2019-04-09 18:03:01.773 [状态] lng:14.366780, lat:52.548896, hgt:0.049000, alt:49.945004, speed:1.703467, yaw:3.617299, pitch:-2.346539, armed:0, inair: 0
2019-04-09 18:03:01.775 send cmd 50006, DEV_STATUS_UPDATE, target: usp.server
2019-04-09 18:03:01.786 send success

[06:03:08|Warn ] sending again, retries to do: 3  (528). (mav

[2019-04-09 10:12] addriumruss commented on #720
@julianoes Thanks for attention!
all action in flypoint is set to 5, is this a potential problem?

[2019-04-09 10:20] JonasVautherin commented on #720
what(): std::future_error: Promise already satisfied

Can you show us the code? Ideally you could provide a minimal executable code reproducing that issue. But at least we will need to see some code, I believe.

[2019-04-09 10:36] addriumruss commented on #720
sure, this is the code:

int printMissionInPx4() {
#if DEBUG
	if(globalMissionPtr->total_mission_items() <= 0){
		printf("%s no fly point in px4 \n", FcowUtil::current_time());
		return -1;
	}
	//query missions in px4, ONLY FOR TESTING
	printf("%s 打印飞控系统中的飞行任务内容-开始 \n", FcowUtil::current_time());
	shared_ptr<promise<Mission::Result>> prom = make_shared<
			promise<Mission::Result>>();
	future<Miss

[2019-04-09 10:40] addriumruss commented on #720
it takes about 5 seconds to sucessfully upload the mission, then failed at downloading.

[2019-04-09 11:18] julianoes commented on #720
Can you paste the version output of the Dronecode SDK please? And when you paste code, please put ``` around it.

[2019-04-09 13:09] JonasVautherin commented on #720
First, why do you `try...catch`? `download_mission_async` doesn't throw exceptions, does it?

[code]

Then, can you confirm it is happening when calling `prom->set_value(result);` in `globalMissionPtr->download_mission_async(...)`?

Like... is the callback of `download_mission_async` called twice? If yes, it may be a bug in the SDK.

[2019-04-10 01:21] addriumruss commented on #720
sure. I'll try this ``` .
this sdk is listen on udp port 14550, because the 14540 port doesn't work.
I removed the try-catch yestoday, delete the code within the catch block,  and got the same result.

this is the version log:
[06:41:51|Info ] DronecodeSDK version: 0.10.1 (dronecode_sdk_impl.cpp:24)
[06:41:51|Info ] New device on: 127.0.0.1:41310 (udp_connection.cpp:200)
[06:41:52|Warn ] sending a

[2019-04-10 01:32] addriumruss commented on #720
@JonasVautherin Thanks for attention!
The try-catch is added only for the business code. I have great confidence with the api function.
I can't be sure if it happened within download_mission_async, Is it possible that it haven't come to the callback plan, like these logs says "Mission handling timed out "?
Would function download_mission_async still be called when handling time out?

[06:03:21|War

[2019-04-10 01:37] addriumruss commented on #720
This is the whole log info after removed the try-catch block:
[06:41:51|Info ] DronecodeSDK version: 0.10.1 (dronecode_sdk_impl.cpp:24)
2019-04-09 18:41:51.693 UDP连接 localhost:14550 成功
2019-04-09 18:41:51.693 尝试连接飞控...
2019-04-09 18:41:51.694 等待飞控...
[06:41:51|Info ] New device on: 127.0.0.1:41310 (udp_connection.cpp:200)
[06:41:52|Warn ] sending again, retries to do: 3  (520). (mavlink_commands.c

[2019-04-10 08:13] JonasVautherin commented on #720
Would you mind updating the SDK to [the latest version (0.15.0)](https://github.com/Dronecode/DronecodeSDK/releases/tag/v0.15.0) and trying your code again?

[2019-04-10 08:22] julianoes commented on #720
Yes please update, we've recently fixed some issues around mission plugin crashes:
#714, #711, #701.

[2019-04-10 08:29] addriumruss commented on #720
Thanks so much!
I'll spend some time to do the upgrade and try.

[2019-04-10 08:40] addriumruss commented on #717
Hi @julianoes , I'm so sorry for seeing your responde until now. There is too much work to do recently.
My sdk version is
DronecodeSDK version: 0.10.1 (dronecode_sdk_impl.cpp:24)
, and it indeed happens every time, because I set the action in each mission item to 5.
Thanks to yours work, much times the mission is transferred successful, but sometimes it would fail. Right now the solution I could g

[2019-04-10 08:40] #717 closed

[2019-04-10 08:43] julianoes commented on #719
@MaEtUgR but why am I seeing the errors above? And why does appveyor build just fine: https://ci.appveyor.com/project/Dronecode/dronecore/branch/develop/job/r6y86f94c340wqx5

[2019-04-10 08:44] julianoes commented on #717
Yes you should! Why would you not?

[2019-04-10 08:44] #720 closed

[2019-04-10 08:56] addriumruss commented on #717
The network is always that slow, it'll take much time to download the code. I could do nothing with it but waiting.....

[2019-04-10 09:01] julianoes commented on #717
Oh, so `git fetch` is slow for you?

[2019-04-10 09:14] addriumruss commented on #708
I think this issue is more related to the cross-compile tool, which is provided by the HiSi manufacturer, rather than the dronecode-sdk.
I'll close the issue and try the cross-compile tool again.
Thanks very much to everyone~

[2019-04-10 09:14] #708 closed

[2019-04-10 10:30] addriumruss commented on #717
unfortunately it is.

[2019-04-10 11:31] julianoes commented on #717
That's odd. Whereabouts are you?

There are no binaries on the repository, it should all just be source.
If you look up "shallow clone" that might help you to download it quicker. Also, for some cases a VPN helps, you're probably aware of that.

[2019-04-10 21:03] douglaswsilva opened #721 "Get mavlink messages through the SDK"
We'd like to be able to read mavlink messages in the Swift SDK, similar to what QGC has. For instance, we were having problems with starting mission and didn't know what the problem was until we look at the debug logs in our console to see this message:
[code]

We'd like to get this message as part of telemetry or something else, so we could display it to user.

[2019-04-10 21:05] douglaswsilva commented on #721
We can try to implement it ourselves, but want to have your guys input on what would be a good way to go about implementing it. @julianoes

[2019-04-10 21:12] JonasVautherin commented on #721
@julianoes: Would it make sense to add that to `Telemetry`, or another plugin?

[2019-04-11 06:13] julianoes commented on #721
Ok it's good that you're describing the actual problem which is that you need to know when and why things don't work. @bkueng is actually working on a proposal and implementation to address exactly this problem. This means we should get much more status information like this in the not so distant future :).

Now until then, we might want to just add the statustext messages to telemetry, it's just

[2019-04-11 07:16] JonasVautherin commented on #721
The next step for adding the statustext to the telemetry is to make a PR on the [API definition](https://github.com/Dronecode/DronecodeSDK-Proto/blob/master/protos/telemetry/telemetry.proto) :-).

[2019-04-11 11:36] MaEtUgR commented on #719
So the problem here was the dinamic linked libraries not being in the correct folder which get copied on appveyor?

[2019-04-11 12:59] julianoes commented on #719
I don't know about this one. It only happens on my Windows at Home.

[2019-04-17 11:39] aokholm opened #723 "Including the SDK inside a Node C++ Addon"
I’m trying to integrate the DronecodeSDK C++ lib into an electron (nodeJS) app.

I have had success running the offboard_velocity example. I have copied the almost all of the code from the offboard example into Nod  C++ addon. [Complete code example](https://github.com/aokholm/nodeDronecodeSDK)

I have the following std::out::

[code]

The code fails when I  try to initialise the shared `auto acti

[2019-04-17 11:52] julianoes commented on #723
Thanks for reporting. Could you reproduce this in `gdb` to get a stacktrace?

[2019-04-17 12:14] aokholm commented on #723
Using lldb in command line:

[code]

From Xcode

[code]

[2019-04-17 12:32] julianoes commented on #723
Hm, not sure why that would happen yet. Can you do `thread apply all backtrace` in gdb?

[2019-04-17 13:30] aokholm commented on #723
Sure. Thanks

[code]

[2019-04-17 15:43] julianoes commented on #723
Thanks for the repo with the source to reproduce this, that's really nice!

Unfortunately this does not crash on my Arch Linux. I can try reproduce it next week on the Mac at work.

[2019-04-23 08:56] julianoes commented on #723
Ok, I tested this and it doesn't crash on macOS either for me.

![Selection_020](https://user-images.githubusercontent.com/1419688/56567830-07c03100-65b6-11e9-9317-83f943b783f7.png)

One thing I noticed is that in order to run it I needed to set the path where the libs are to link to:
[code]
Otherwise it did not find `libdronecode_sdk_*.so/dylib`.

Could it be that you are loading libraries that y

[2019-04-23 09:52] aokholm commented on #723
Thanks, that's been a huge help.

It seems your diagnostics could be correct. Using `export LD_LIBRARY_PATH=./lib/DronecodeSDK/install/lib` does solve the problem and I did do a system install of the SDK some months ago to `/usr/local/lib/` previously.

I will try to setup the binding-gyp file correctly so the dylibs can be found at runtime.

[2019-04-23 10:03] julianoes commented on #723
I found this:
[code]

Here: https://github.com/nodejs/node-gyp/issues/892#issuecomment-197459165

[2019-04-23 12:29] julianoes opened #727 "Arming not working HITL in Python example"
It seems like we can't arm (or we can't arm immediately) in HITL simulation due to the error `COMMAND_DENIED_LANDED_STATE_UNKNOWN`.

The question is if it's a timing issue or if our request to send `EXTENDED_SYS_STATE` at 1 Hz fails or is not supported.

FYI @JonasVautherin

This works with C++ but seems to fail with this Python example:
[code]

[2019-04-23 13:11] JonasVautherin opened #728 "Adding support for ArduPilot"
## Context

A while ago, @peterbarker worked on adding support for APM in the SDK ([here](https://github.com/peterbarker/DroneCore/tree/ardupilot)). More recently, @jinchengde (and others) started looking into that, again. The goal of this issue is to discuss the high-level requirements and architecture.

## Benefits for APM

The project is architectured in such a way that everything relies on a C

[2019-04-23 13:15] julianoes commented on #727
I can reproduce the problem:
[code]

[2019-04-23 13:18] julianoes commented on #727
`time.sleep(3)` before arming does not seem to help.

[2019-04-23 13:20] julianoes commented on #727
Presumably the problem is that we have no connection in HITL because we're connecting to UDP port 14540 by default but for HITL we need to use 14550.

[2019-04-23 13:23] JonasVautherin commented on #728
I can see different ways to achieve that (and I'm looking for more thoughts). I believe that for each feature, there can be 3 situations:

1. The feature has (can have) the same interface between APM and PX4, but not the same MAVLink implementation
2. The feature does not have the same interface between APM and PX4, and therefore not the same MAVLink implementation
3. The feature is compatible bet

[2019-04-23 13:23] julianoes commented on #727
This issue is already tracked in #587!

[2019-04-23 13:23] #727 closed

[2019-04-24 12:35] julianoes commented on #719
Fixed by #729.

[2019-04-24 12:35] #719 closed

[2019-04-24 14:23] julianoes commented on #347
Additionally, we should add a method to specify the log level.

[2019-04-25 11:35] jinchengde commented on #728
I suggest use the same interface but different implementation what peter had done before. because the different between APM and PX4 is not too much bust just some detail in MAVLINK,  therefor we could implement takeoff and land example in APM sitl first.

[2019-04-25 21:22] JonasVautherin commented on #728
Could we start a list of differences we know? I've heard that there are "not so many" differences quite a few times, but I still have no clue what that means and what they are :-).

[2019-04-26 11:42] aokholm commented on #723
The libraries was already included explicit, but the link_setting was missing.

[code]

Now the example run as expected!

[2019-04-26 11:42] #723 closed

[2019-04-26 13:08] julianoes commented on #723
Nice, thanks for sharing!

[2019-04-26 14:22] julianoes opened #731 "Backend unit test sometimes locks up"
Every now and then the backup unit test gets stuck in CI:

Reproducible with: `make BUILD_BACKEND=1 && build/default/unit_tests_runner && build/default/backend/test/unit_tests_backend --gtest_repeat=1000`

Stacktrace on macOS with lldb:
[code]

Stacktrace on Linux with gdb:
[code]

[2019-04-26 16:36] cswkim opened #732 "Add `NO_SETPOINT_SET` To Offboard Results"
`Offboard::result_str` and `OffboardImpl::offboard_result_from_command_result` are missing `NO_SETPOINT_SET`.

[2019-04-28 20:22] #587 closed

[2019-04-29 02:17] hamishwillee commented on #728
@auturgy and @peterbarker probably the best people for this. Generally speaking the systems use the same messages to achieve the same things, and will often use the same "main" message sequence. They may however use different sequences for edge cases, or use things that are not clearly defined in the spec.

The ones with highest impact are parameter protocol, mission protocol and command protocol.

[2019-04-29 03:31] auturgy commented on #728
Just so they’re listed: Peter and Sid (@bugobliterator) have both done relevant work, although quite some time ago. Someone might be able to build on one of them.

https://github.com/peterbarker/DroneCore/tree/ardupilot

https://github.com/bugobliterator/DroneCore/tree/pr-apm-dronecore

Regards,

James

[2019-04-29 13:55] #731 closed

[2019-04-30 00:36] douglaswsilva opened #736 "Health not clearing cache"
Telemetry Health Subscription does not clear cache when aircraft is disconnected, so if you turn aircraft off and on again, it will say it has home position and global position even though it has not locked GPS yet. This will prevent vehicle form taking off.

[2019-04-30 00:43] AuterionWrikeBot opened #737 "Health not clearing cache"
Telemetry Health Subscription does not clear cache when aircraft is disconnected, so if you turn aircraft off and on again, it will say it has home position and global position even though it has not locked GPS yet. This will prevent vehicle form taking off.

[2019-04-30 10:29] JonasVautherin commented on #737
Duplicate of #736.

[2019-04-30 10:29] #737 closed

[2019-04-30 10:31] JonasVautherin commented on #736
@julianoes: how does a plugin know the vehicle is disconnected?

[2019-04-30 10:52] julianoes commented on #736
Good find @douglaswsilva.

@JonasVautherin we should reset in here:
https://github.com/Dronecode/DronecodeSDK/blob/0e6a1aeb6ce3132e04ee922720dfc875ea138bf1/plugins/telemetry/telemetry_impl.cpp#L126

[2019-04-30 11:36] julianoes commented on #737
What's wrong with this bot!

[2019-04-30 11:37] julianoes commented on #607
I think this will  be fixed by #642.

[2019-04-30 11:38] julianoes commented on #612
This will be easier after #724.

[2019-04-30 11:38] julianoes commented on #609
Fixed by #674.

[2019-04-30 11:38] #609 closed

[2019-04-30 11:39] julianoes commented on #248
Addressed in #642.

[2019-04-30 20:16] JonasVautherin commented on #248
I think github takes it the other way round: if in #642 you write "Resolves #248", then merging #642 will close this one automatically :+1:.

[2019-05-01 12:35] julianoes commented on #248
True but I just wanted to note it anyway so that no one tries to solve it in the meantime.

[2019-05-02 14:16] #473 closed

[2019-05-03 07:10] #732 closed

[2019-05-06 09:58] #702 closed

[2019-05-07 17:57] douglaswsilva commented on #721
Done with: https://github.com/Dronecode/DronecodeSDK/pull/733

[2019-05-07 17:57] douglaswsilva commented on #721
Done in: https://github.com/Dronecode/DronecodeSDK/pull/733

[2019-05-07 17:57] #721 closed

[2019-05-08 06:24] julianoes opened #740 "MAVLink Passthrough unsubscription not working"
According to https://discuss.px4.io/t/mavlinkpassthrough-unsubscribing/10894 `subscribe_message_async` with a `nullptr` to unsubscribe is not working as intended.

[2019-05-08 14:33] #740 closed

[2019-05-08 23:28] douglaswsilva commented on #712
@julianoes and @JonasVautherin Can you guys take a look at this when you have a chance. We've been getting it pretty often. Here are the logs we have:

[com.3dr.site-scan_issue_crash_2b4f63d856f348bc99285854652edd9d_DNE_0_v2.txt](https://github.com/Dronecode/DronecodeSDK/files/3159613/com.3dr.site-scan_issue_crash_2b4f63d856f348bc99285854652edd9d_DNE_0_v2.txt)
[com.3dr.site-scan_issue_crash_b7426f

[2019-05-09 07:52] julianoes commented on #712
@douglaswsilva thanks for the bump. I will look into this today. Maybe I can blame the camera firmware update, however, the SDK should still not crash because of it!

[2019-05-10 08:10] JonasVautherin opened #745 "Rename to MAVLink SDK"
There are some concerns with the "Dronecode" branding of the project, such as:

* Confusion between the Dronecode Foundation and the SDK
* Confusion on slack (#sdk vs #dronecode)
* Makes it sound like it is limited to PX4 and may be offensive to other communities (even though there is some work regarding adding support for APM in #728)

The proposition here is to rename it to "MAVLink SDK", as it

[2019-05-10 15:21] julianoes commented on #712
@douglaswsilva I have pushed a potential fix #746. It would be nice if you could test it and see if it fixes the crash.

[2019-05-10 16:56] laurenwinter commented on #745
This is a good clarification and moving it to MAVLink sounds like the best solution. I'd like to add that as a MAVLink SDK it will need MAVLink command passthrough functions to provide complete MAVLink functionality.

[2019-05-10 21:54] douglaswsilva commented on #712
Will do next week. Thanks Julian!

[2019-05-13 13:07] julianoes commented on #745
That's not the intent and not easily possible. The intent is to provide an SDK with certain functionality which uses MAVLink under the hood for the communcation to the drone. However, it does not necessarily expose the MAVLink API. If the raw MAVLink API is required, an implementation of MAVLink in a specific programming language should be used instead.

For the C++ library it is possible to expor

[2019-05-13 13:54] JonasVautherin commented on #745
Thanks @laurenwinter for the comment!

I agree with Julian, though, and I would like to add that IMO, the passthrough is not a very nice way to provide "complete MAVLink functionality" (as in: not super elegant, not community-friendly, and soon not faster). Let's compare what it (currently) takes to add a feature to the SDK and what it takes to use the passthrough (again, that's my opinion and may

[2019-05-13 13:55] JonasVautherin commented on #745
Back to the topic of this issue, it seems to have more activity on the [MAVLink RFC](https://github.com/mavlink/rfcs/pull/15), so let's close this one in favor of the RFC.

[2019-05-13 13:55] #745 closed

[2019-05-14 07:54] #712 closed

[2019-05-14 08:55] JonasVautherin commented on #712
@douglaswsilva: Please reopen here if #746 doesn't solve it.

[2019-05-16 07:42] JonasVautherin commented on #690
Going for `mavsdk` eventually.

[2019-05-16 07:42] #690 closed

[2019-05-16 07:46] JonasVautherin commented on #685
Should we keep this opened here, or is it a MAVLink issue?

[2019-05-16 07:50] julianoes commented on #685
The events interface will eventually fix this. @bkueng is working on it.

[2019-05-16 07:50] #685 closed

[2019-05-16 07:55] JonasVautherin opened #749 "Migration to MAVLink organisation"
Copying @hamishwillee's message on the PX4 Slack, to keep a record of the discussion.

The MAVLink dev team accepted the "MAVLink RFC Proposal" so we'll be taking the Dronecode SDK into the MAVLink organisation and renaming it to the "MAVSDK": https://github.com/mavlink/rfcs/blob/master/text/0011-mavlink-sdk.md

### Code

* [x] Agree on new names for SDK repos
 => Will be `MAVSDK`, `MAVSDK-Proto`,

[2019-05-16 08:01] JonasVautherin commented on #749
- SDK repos: I propose `mavsdk-proto`, `mavsdk`, `mavsdk-swift`, `mavsdk-python`, `mavsdk-java`, `mavsdk-js`.
- Namespaces, code items: I would use "mavsdk" (lowercase) as much as possible.
- First release: I wouldn't synchronize the github releases between the different repos. Also, I wouldn't make 1.0 just because of a name change. I would move to 1.0 once all the API is autogenerated (C++ is th

[2019-05-16 08:39] julianoes commented on #749
For the SDK repos I'd prefer `MAVSDK-Proto`. Although it depends on the font and logo as well there.

[2019-05-16 08:48] julianoes commented on #639
Fixed by #642.

[2019-05-16 08:48] #639 closed

[2019-05-16 08:50] julianoes commented on #540
Fixed by #642.

[2019-05-16 08:50] #540 closed

[2019-05-16 08:50] julianoes commented on #248
Fixed or rather ignored for now by #642.

[2019-05-16 08:50] #248 closed

[2019-05-16 22:59] hamishwillee commented on #749
@julianoes and @JonasVautherin Why don't you sit down together and agree what you want to do - and update the post/s above appropriately :-)

FWIW
- SDK repos. I'm ambivalent. I slightly lean towards MAVSDK  _in text_ when referring to the project and product. However I don't extend that desire to package or repo names. Ie. We could use mavsdk-proto for the repo URL and still refer to it in the re

[2019-05-16 23:26] hamishwillee commented on #749
We need a new URL. Anyone got objection to https://mavsdk.mavlink.io/en/ (or better suggestions)?

We need a new Logo, presumably with a new tagline - maybe something "like":
   ![image](https://user-images.githubusercontent.com/5368500/57893240-86db1900-7885-11e9-9886-6adf9fb9ba47.png)

@LorenzMeier @mrpollo Are either of you able to help with the above - ie resourcing/making it happen?

[2019-05-17 16:58] douglaswsilva commented on #712
Thanks @JonasVautherin . Sorry, I still haven't had time to get to this. Is it included in Eddie?

[2019-05-18 06:52] bys1123 commented on #749
Maybe the slack channel #sdk also need rename to #MAVSDK

[2019-05-18 16:38] mrpollo commented on #749
Just so we are clear @hamishwillee, you are asking for help creating a logo for MAVSDK?

[2019-05-18 21:21] JonasVautherin commented on #712
I don't think it is in 0.16.0. I can try to make a new release soon (like next week).

[2019-05-20 01:00] hamishwillee commented on #749
@mrpollo Yes.

That logo might include a tagline like "MAVLink APP and Integration Toolkit". If it includes a tagline that also need to be discussed/agreed.

[2019-05-20 06:26] julianoes commented on #749
APP -> App, it's not an acronym. I'm not super happy with the tagline but I can't think of something better yet.

[2019-05-20 19:48] bys1123 commented on #749
![image](https://user-images.githubusercontent.com/4748411/58047680-49bfa100-7b7b-11e9-9d67-c659e1b70cca.png)
I made a logo for you to choose. Hope you like it.

[2019-05-20 19:51] bys1123 commented on #749
![image](https://user-images.githubusercontent.com/4748411/58047828-b0dd5580-7b7b-11e9-9dc5-6976a4e290ad.png)
I made a logo for you to choose, hope you like it.

[2019-05-21 03:25] hamishwillee commented on #749
@julianoes I'm quite happy with @bys1123 "MAVLink Integration Toolkit" (though to me "APP" is fine in the previous case, because it is well understood.

I'd love a designer in on the logo to confirm colours etc. Stone, I don't hate the icon, but "what are you trying to say" - ie this is not like the plane with radio comms logo.

[2019-05-21 14:58] bys1123 commented on #749
@hamishwillee Yes, the color not well adjustment yet.
The reason why it's looks like this:
0. When people talk about drone, This first thing come out in their mind is Quadcopter. So, the main logo is quad arrow. So, it makes people feels right on the outline. (We don't need to say this public)
1. This sdk is about control most of time, makes your MAV go some where .
2. Out of box.
3. Colors means

[2019-05-21 15:14] bys1123 commented on #749
Consistent:
1. MAVLink logo is made about ten years ago. The draft feeling is not fit the power of this brand and project.
2. Adobe, Autodest, STM32 changed lots of logo in past years, "industrial feeling" is changed.
3. So, this MAVSDK logo is for fit the new trend of the industrial logo design. I tried my best make it will fit the new version MAVLink logo that will come out at some point by some

[2019-05-21 18:41] mrpollo commented on #749
This thread is already discussing a lot of different topics, and the conversations are tough to follow. Thanks, @JonasVautherin, and @hamishwillee for putting this together, there are lots of areas of concern here, I recommend we create a Project Board and move the focused discussions elsewhere, per-issue if possible, creating the least overhead to everyone involved.

---

Thanks for the high ener

[2019-05-21 22:49] hamishwillee opened #750 "Create MAVSDK Logo"
We need to have a new logo (and tagline) for the MAVSDK.

This should share "common design language" with MAVLink logo, and possibly both should be updated.

If this logo has a "tagline" included (like the current MAVLink logo, then this will have to be chosen

There are some discussions of this in #749 - e.g.:
https://github.com/Dronecode/DronecodeSDK/issues/749#issuecomment-494126762
https://git

[2019-05-21 22:49] hamishwillee commented on #750
@mrpollo @LorenzMeier Do we have access to professional design resources to support this task?

[2019-05-21 22:54] hamishwillee commented on #749
Thanks @mrpollo

On the technical aspects @julianoes and @JonasVautherin should just make some decisions and let us know. That is enough for all the technical and docs side to proceed and does not require discussion with anyone. Though if they want to rubber stamp those, we can discuss in next weeks MAVLink meeting.

Julian, Jonas, can you confirm the names of repos, and name changes you want? Ess

[2019-05-22 00:03] mrpollo commented on #750
Dronecode will provide any resources necessary to MAVSDK, this includes but is not limited to a graphic designer.

[2019-05-22 01:41] hamishwillee commented on #750
Kevin Sartori proposed that we use the same MAVLink logo with appropriate/slight modifications. His argument being that MAVLink has a strong existing brand. FWIW I agree - I don't love the iconography, but it is not a priority to revisit it right now.

I therefore revert proposal to my original one, but using @bys1123's proposed tagline. We could get @mrpollo's designer to produce a "proper" versi

[2019-05-22 15:48] JonasVautherin commented on #750
I don't have a super strong opinion there, honestly. @julianoes any comment?

[2019-05-22 20:55] eyewy opened #751 "Modifying PX4 parameters using DronecodeSDK"
Is there a way to modify the parameters listed at:
https://dev.px4.io/en/advanced/parameter_reference.html
using C++ SDK? As an example, in the takeoff_and_land.cpp example, is there a way to modify MIS_TAKEOFF_ALT parameter before arming and takeoff?

[2019-05-22 22:09] hamishwillee commented on #751
Yes, use the [Param](https://sdk.dronecode.org/en/api_reference/classdronecode__sdk_1_1_param.html) plugin/class. It isn't fully documented, but has the same usage pattern as other plugins. There is also test code.

[2019-05-22 22:09] #751 closed

[2019-05-23 01:25] hamishwillee commented on #750
@LorenzMeier @auturgy @mrpollo OK with above logo/tagline (tidied of course)?

[2019-05-23 06:42] auturgy commented on #750
I have no strong feelings on the logo/branding but marketing it as a mavlink toolkit, it needs to be tested against more than just px4: ie at least another common.xml user.

[2019-05-23 08:35] sartorikevin commented on #750
I think it's interesting what Red Hat did with their new logo. You clearly recognize the company, however, the logo looks much more modern. This could be the opportunity to do this with the MAVLink logo.

![red_hat_logo_before_after](https://user-images.githubusercontent.com/35664237/58237719-14b37a00-7d46-11e9-8810-cdae89c72b8f.png)

On the tagline: Toolkit seems to me a loose term to refer to an

[2019-05-23 11:40] hamishwillee commented on #750
@sartorikevin We can certainly ask the designer to modernise. I just hope not to derail the effort to migrate the SDK.

Not "conflict", but it is a bit of a tautology. It may be that we don't need a tagline with a modernised logo. If we do, what I was hoping to capture was that it can be used for MAVLink integration - of components into a system and to control a system.

Happy to take suggestions?

[2019-05-23 12:43] JonasVautherin commented on #750
@hamishwillee I think it would work without the tagline. Just `MAVSDK`. And then more details about what it is are on the webpage.

@auturgy: I do agree on that, though I don't think it is necessarily a prerequisite. Just like mavsdk does not support all the mavlink messages (yet), it does not support all the mavlink platforms. That will come, but it still requires some contributions. My fear is t

[2019-05-23 20:45] hamishwillee commented on #750
I'd be happy without the tagline, but that depends on what the designer says re consistency with MAVLink logo. Best to prepare as if it will be needed.

Another idea: Cross-Platfom MAVLink Microservice Library

[2019-05-23 21:58] JonasVautherin commented on #750
I like "MAVLink Integration Toolkit" better :smile:. I find "microservice" confusing in this context, and exposing the implementation.

[2019-05-23 22:11] JonasVautherin commented on #749
I edited the issue after discussions with @julianoes. I believe we are aligned on the "code" points, and will start renaming after #724 is merged (should be next week). I believe we could start moving before that, as the redirection should make it transparent.

That's edited in the issue:
* The official name for communications/docs is `MAVSDK`.
* Repos will be named `MAVSDK`, `MAVSDK-Proto`, `MAVS

[2019-05-23 22:15] JonasVautherin commented on #749
@mrpollo: Would you mind renaming #sdk to #mavsdk on Slack (last point on the list above)?

[2019-05-23 22:18] JonasVautherin commented on #749
@hamishwillee: I mostly agree with the Documentation points above, I'd like clarification on:

So you suggest that the mavsdk docs start with master on the mavsdk repo, and we remove all the previous releases because the documentation says "DronecodeSDK" everywhere and we don't want to create confusion or go edit all occurrences there. Correct? I would be fine with that as well.

[2019-05-23 22:28] hamishwillee commented on #749
@JonasVautherin Yes! I'd also like to do an official release "as an SDK" as soon as possible once we move to MAVSDK.

Re the docs, are you OK with repo move from sdk_docs to mavsdk_docs or would you prefer consistency MAVSDK-Docs?
FYI I like the consistency. The reason I tend to use underscores because when you select a bunch of text for copying it tends to break on "-" but not _ (may seem trivial

[2019-05-23 23:10] hamishwillee commented on #750
@JonasVautherin @julianoes @mrpollo @sartorikevin @bys1123

How about some suggestions from someone else?
Here is a compiled list of ideas (some old, some new):
- MAVLink App and Integration Toolkit
- MAVLink Integration ToolKit
- Cross-Platfom MAVLink Microservice Library
- MAVLink Integration Library for UAS    (or Drones)
- MAVLink Application and Integration Library
- Cross Platform Developmen

[2019-05-24 00:15] bys1123 commented on #750
Wow, looks like a mind storm is happening here.

[2019-05-24 05:22] JonasVautherin commented on #728
Also, for testing: is there a SITL that can run headless (e.g. on a CI server) for APM? We will need something like that to run integration tests.

[2019-05-24 06:28] auturgy commented on #728
http://ardupilot.org/dev/docs/the-ardupilot-autotest-framework.html

[2019-05-24 07:20] LorenzMeier commented on #750
I think all of these are just confusing and not to the point. If we update it, it should say what it is doing. It also doesn't make sense to me that the TLA is SDK and then the tagline says something else - if there is any tagline, then it needs to be software development kit.

[2019-05-24 14:54] JonasVautherin commented on #750
I would really vote for "no tagline".

I believe that "drone SDKs" are now quite known. People will refer to the "DJI SDK" and the "Parrot SDK". So I don't feel a need to explain further what a "drone SDK" is. The fact that it looks similar to the MAVLink logo is probably enough for people who know MAVLink, and people who don't know MAVLink would not understand the tagline anyway, right? :sweat_sm

[2019-05-27 02:12] hamishwillee commented on #750
@JonasVautherin I tend to agree - in particular that the term "MAV" has a life of its own outside of "Micro Air Vehicle". I'll ask for both for comparison.

[2019-05-27 18:43] bys1123 commented on #750
![image](https://user-images.githubusercontent.com/4748411/58435247-2d2ee600-80f2-11e9-8b3c-c15ead81e19f.png)
VS code logo upgrade is also a good reference.

[2019-05-30 07:10] julianoes opened #754 "Expose angular velocities and acceleration in telemetry"
It would probably be nice if angular velocities and also acceleration would be exposed in telemetry. I have heard people asking for this quite a bit.

This data could be received by the [HIGHRES_IMU](https://mavlink.io/en/messages/common.html#HIGHRES_IMU) message and added to the telemetry plugin in the same way as other data is exposed there.

[2019-05-30 07:12] #703 closed

[2019-05-30 07:12] #718 closed

[2019-06-04 13:40] julianoes opened #755 "Adapt to new video stream information settings messages"
It looks like the MAVLink video stream messages have [changed in the meantime](https://github.com/mavlink/mavlink/pull/1053) and we need to adapt the SDK to comply with it.

[2019-06-04 18:37] JonasVautherin opened #758 "Missing dependencies when linking SDK as shared libraries"
This was reported by @elbarto1980 on [discuss](https://discuss.px4.io/t/curl-package-not-found/11250):

When building and installing the SDK as shared libs, like so:

[code]

And then linking against an example, cmake complains about missing dependencies:

[code]

[2019-06-05 14:21] ameya7295 commented on #612
I'm taking this task.

[2019-06-05 14:31] JonasVautherin commented on #612
Wait, I can help with the latest `develop`! Which architecture do you need to build? `armv7`?

[2019-06-06 06:40] JonasVautherin commented on #262
Solved by #724.

[2019-06-06 06:40] #262 closed

[2019-06-06 07:13] JonasVautherin commented on #749
I moved the Java SDK for a first test, seems alright: https://github.com/mavlink/MAVSDK-Java

[2019-06-07 00:06] hamishwillee commented on #749
I moved the docs repo https://github.com/mavlink/MAVSDK-docs but now have lost admin rights and have broken auto builds from legacy gitbook.com. Chasing @dagar to build locally.

[2019-06-07 03:25] ameya7295 commented on #612
yes, I would be building on armv7.

[2019-06-07 07:49] #758 closed

[2019-06-07 07:50] julianoes commented on #749
@hamishwillee I made you admin for MAVSDK-docs.

[2019-06-07 09:51] JonasVautherin commented on #612
Would you mind trying with dockcross? I think I successfully built the C++ SDK (I did not try the backend):

[code]

And then I checked that a library was indeed an ARM binary:

[code]

[2019-06-07 13:08] JonasVautherin commented on #749
@hamishwillee: FYI, all the repos are now in the mavlink org :+1:.

[2019-06-07 13:21] JonasVautherin commented on #612
Seems like building the backend has issues, though. @ameya7295 if you feel like debugging that, that would be awesome. It seems like `FindZLIB.cmake` doesn't find zlib when building gRPC. However, it also says:

[code]

and zlib is indeed installed there. But still it errors with:

[code]

For debugging, I would either run the dockcross image interactively (`docker run --rm -it dockcross/linux-arm

[2019-06-08 08:24] ameya7295 commented on #612
okay, I would give this a try. thanks for sharing the required info.

[2019-06-08 13:48] JonasVautherin commented on #612
Now wondering if it could be related to [this cmake bug](https://gitlab.kitware.com/cmake/cmake/issues/19282)... :thinking:

[2019-06-11 00:38] hamishwillee commented on #749
Awesome. @JonasVautherin FYI I can't tick off my items above now because I don't have needed rights in this repo. I have moved docs to MAVSDK-docs. Note that we can now no longer build them. Waiting on Dagar for support.

[2019-06-11 06:57] JonasVautherin commented on #749
@hamishwillee: Just gave you the rights!

[2019-06-11 09:06] JonasVautherin commented on #677
They are back now.

[2019-06-11 09:06] #677 closed

[2019-06-11 09:07] JonasVautherin commented on #467
That's done.

[2019-06-11 09:07] #467 closed

[2019-06-11 09:08] JonasVautherin commented on #541
Closing because we now create a release by manually tagging it :sweat_smile:.

[2019-06-11 09:08] #541 closed

[2019-06-11 09:10] JonasVautherin commented on #250
Closing for inactivity, not sure if #442 solved it though.

[2019-06-11 09:10] #250 closed

[2019-06-11 09:12] JonasVautherin commented on #127
@julianoes is that solved now that we have the statustext in the telemetry plugin?

[2019-06-11 09:12] #96 closed

[2019-06-11 11:48] julianoes commented on #127
This will improve once we have the event interface, closing for now.

[2019-06-11 11:48] #127 closed

[2019-06-11 11:49] julianoes commented on #250
Yes fixed in #642.

[2019-06-12 06:41] #755 closed

[2019-06-13 07:24] julianoes commented on #321
We should change it to `Device& somedevice` according to [CppCoreGuidelines](https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#nl18-use-c-style-declarator-layout).

[2019-06-13 07:24] julianoes commented on #321
I can do the change after the rename.

[2019-06-17 08:10] hamishwillee commented on #321
Cool. So when the code is all "right" I'll have another look and see if I can match it in markdown. Note though, that this sort of thing is fiddly, and as long as the code is readable in markdown I do not see this as my highest priority.

[2019-06-27 07:58] krady21 commented on #754
I am working on solving it. Should both angular speed and acceleration be a part of the same struct in telemetry.h or do i have to make one struct for each of them?

[2019-06-27 08:39] JonasVautherin commented on #754
I believe I would put them in the same struct, as they make sense together. It's easier to ignore unwanted info than to merge separate messages later. Do you have an opinion there?

[2019-06-27 09:15] krady21 commented on #754
I agree with you. I guess I will emulate what has already been done [here](https://github.com/mavlink/MAVSDK/blob/e6b98aa1910b1f5cbf84449f72b4bbc50d7ef023/src/plugins/telemetry/include/plugins/telemetry/telemetry.h#L53-L79) with PositionNED, VelocityNED and PositionVelocityNED

[2019-07-01 06:29] julianoes commented on #749
@hamishwillee this page now 404s https://sdk.dronecode.org/ Is it possible to have it forward to the new docs page, best case including the path so that each link goes to its new page?

[2019-07-01 07:12] hamishwillee commented on #749
@julianoes Not by me (limitations of legacy gitbook). See if you can get @LorenzMeier to do the redirect at the domain level.

[2019-07-01 08:27] julianoes opened #780 "Support indoor VIO/flow setups"
It would be nice if MAVSDK was compatible with setups without GPS (so no global position) for indoor use based on Flow or VIO localization.

[2019-07-02 01:11] hamishwillee commented on #780
That would be awesome. I assume we can simulate this already in Gazebo and test where it fails?

[2019-07-02 04:27] julianoes commented on #780
In theory yes. I've never actually been able to use Flow in Gazebo.

[2019-07-02 12:26] shrit commented on #780
Yes, I totally agree, since it is not possible to fly it with the actual flying mode.
You have once pointed to me that we need to comments some of these lines to fly without GPS in Gazebo.
It would be also nice if the user can be able to recover the video from the optical flow in real time. In case if we are using a pico quad copter that can not support another camera

https://github.com/mavlink/M

[2019-07-02 23:51] hamishwillee commented on #780
I would address that completely separately. But in any case this is only a "MAVLink/MAVSDK" question if the optical flow camera supports the MAVLink Camera API and exposes the video feed via an RTSP stream. Otherwise there is no way for the SDK to know about the output of optical flow.

[2019-07-02 23:52] hamishwillee commented on #780
Fair enough. I'd say getting this working and in CI would be a precondition for doing anything else.

[2019-07-03 04:43] hamishwillee commented on #749
@JonasVautherin This can be closed now I think!

[2019-07-03 04:44] hamishwillee commented on #750
All done and live.

[2019-07-03 04:44] #750 closed

[2019-07-03 08:14] JonasVautherin commented on #749
Agreed. There is still some renaming going on in the code but that will come eventually :-).

[2019-07-03 08:14] #749 closed

[2019-07-03 10:14] JonasVautherin commented on #695
Thinking about extending to other types (and ranges). My feeling is that we want to keep only one list of settings (`SubscribePossibleSettingOptions`), and therefore we want to keep `Setting` and `Option`.

What about modifying `Option` to something like:

[code]

Without specifying the type on the client side (so the client sets a string). The parsing has to be done on the camera side, and can re

[2019-07-03 12:10] julianoes commented on #695
Hm, that's a bit tricky if you ask me but would be one way.

[2019-07-03 12:51] JonasVautherin commented on #695
What would be an easier way? Whatever else I can think of implies adding messages per type, and that ends up giving stuff like `SubscribeIntSettings`, `SubscribeEnumSettings`, ... We cannot do fancy `OneOf` or stuff like that, because in the end we have to be able to translate that to all the languages we support.

[2019-07-03 14:35] julianoes opened #783 "Add brew install for lib"
It would be nice to be able to this on macOS:
[code]

[2019-07-03 14:46] julianoes commented on #695
`SubscribeRangeSettings`? I see the problem, what do you do with the types.

[2019-07-04 02:43] wuxianshen opened #784 "How to set home point for indoor control with uwb ?"
Hi, everyone; we are trying to build a C++ application indoor with px4 and uwb; I can push mocap position as vision pose to EKF2 ( through the MavSDK Passthrough ), but when I try to do some offboard control with mavsdk, the telemetry::health() prompts "Home position to be set"; I try to set home position with mavlink_set_home_position_t message, but it doesn't work; Has anyone met this problem be

[2019-07-04 02:44] wuxianshen commented on #784
The uwb postion is sent as the mavlink_vision_position_estimate_t message through mavsdk::PassThrough

[2019-07-04 03:26] wuxianshen commented on #784
I follow the instructions from Support indoor VIO/flow setups #780 and comments mode set in arm();
then the vehicle can arm...

[2019-07-04 06:46] julianoes commented on #784
You can ignore this health flag and still try to arm.

However, then you need to comment out this to takeoff:

https://github.com/mavlink/MAVSDK/blob/develop/src/plugins/action/action_impl.cpp#L124-L125

[2019-07-04 13:11] JonasVautherin commented on #695
Exactly. In Java/Swift, we get a stream of one type. Having a supertype (`Object` or `Any`) is quite similar to having a `String`, in the end.

The camera knows that type it wants for each param, so it can check it and return an error for a wrong argument. Which is probably already the case for, say, a range: if I need an `int` betweeen 0 and 10 and I send 15, the camera will complain (`WRONG_ARGU

[2019-07-04 13:35] wuxianshen commented on #784
Thanks Julianoe for your reply!
I comment the mode setting in action arm and takeoff, and for now the vehicle in jmavsim simulation can takeoff; And I still want to test some offboard apis before I apply the mission on px4, so I follow the example in "offboard" and call the offb_ctrl_ned function after takeoff.
During the offboard control, I continuously push fake x/y/z position as mavlink_vision_

[2019-07-04 13:42] wuxianshen commented on #784
`float current_pos_x = 0.0f;
float current_pos_y = 0.0f;
float current_pos_z = 0.0f;

int main(int argc, char **argv)
{
    //.....Skip some connect and init

    auto telemetry = std::make_shared<Telemetry>(system);
    auto action = std::make_shared<Action>(system);

    auto mavlink_passthrough = std::make_shared<MavlinkPassthrough>(system);

    // subscribe position info @ 50Hz
    const Tele

[2019-07-04 13:43] wuxianshen commented on #784
`
uint64_t get_cur_time_stamp_us()
{
  std::chrono::time_point<std::chrono::system_clock, std::chrono::microseconds> tp =
      std::chrono::time_point_cast<std::chrono::microseconds>(std::chrono::system_clock::now());

  return static_cast<unsigned long long>(tp.time_since_epoch().count());
}

void pos_publish_loop(Mavsdk* p_dc)
{
  System &system = p_dc->system();
  auto mavlink_passthrough = st

[2019-07-04 13:44] wuxianshen commented on #784
The testing code is posted above if needed...
Thank you!@!

[2019-07-05 05:36] julianoes commented on #784
So the error that you're seeing is sent here in PX4:
https://github.com/PX4/Firmware/blob/dce1dda8717090bcf7d55210a1628f2d3ad91e90/src/modules/mc_pos_control/mc_pos_control_main.cpp#L611-L613

Now I would assume this happens because offboard is no longer sending setpoints, however, it should automatically do that.

I suggest that you add something like `LogInfo() << "Sent setpoint";` here:
https:/

[2019-07-05 05:40] julianoes commented on #695
I'm almost convinced :smile:.

One more thing: I think we also need to be able to specify the interval, so what about:

If `is_range == true`, then `repeated Option options` must contain 2 options with `option_value` set respectively to [min, max] or 3 options with `option_value` set respectively to [min, interval, max].

[2019-07-05 09:04] JonasVautherin commented on #695
That would make sense to me :+1:.

Possibly we should also provide the type of the values, in case the client needs that? Let's wait for @byuarus and @douglaswsilva for that, maybe :D

[2019-07-05 10:00] wuxianshen commented on #784
@julianoes
Thanks for your reply!
I met this problem in jmavsim simulation; I added a log output in the sending setpoints function and test again, the sdk is continuously sending setpoints, even when prompted "Position-Control Setpoint-Update failed" warnning.
![Pos2](https://user-images.githubusercontent.com/21985528/60715038-b38ae300-9f4e-11e9-829f-131fc77b3730.png)

Both the position setpoints

[2019-07-05 10:22] wuxianshen commented on #784
The sitl environment:
px4 firmware master branch, sudo make px4_sitl_default jmavsim
![image](https://user-images.githubusercontent.com/21985528/60716359-c4892380-9f51-11e9-9a19-d75d60c03975.png)
mavsdk master branch:
![image](https://user-images.githubusercontent.com/21985528/60716409-e5517900-9f51-11e9-8584-7dd14ac64884.png)

[2019-07-05 10:32] wuxianshen commented on #784
The only parameter configuration is the EKF2_AID_MASK, disable GPS and enable vision position fusion:
![image](https://user-images.githubusercontent.com/21985528/60716903-0ff00180-9f53-11e9-97b4-a62678bcf233.png)

[2019-07-05 10:34] wuxianshen commented on #784
Test Source File  :
[publish_position.txt](https://github.com/mavlink/MAVSDK/files/3362287/publish_position.txt)

[2019-07-05 10:34] julianoes commented on #784
Interesting, this could be a bug. I'll try to reproduce this, thanks.

[2019-07-05 10:35] wuxianshen commented on #784
Thanks for your patience~!~

[2019-07-08 14:33] wuxianshen commented on #784
@julianoes  This problem is also occured in gazebo simulation environment. Have you reproduced it yet?

[2019-07-09 12:29] #754 closed

[2019-07-10 09:07] Ahmad-Drak opened #787 "unit tests fail (curl)"
Performing unit tests after a new build and system-wide install of MAVSDK, 3 tests fail:

[----------] Global test environment tear-down
[==========] 61 tests from 12 test cases ran. (42358 ms total)
[  PASSED  ] 58 tests.
[  FAILED  ] 3 tests, listed below:
[  FAILED  ] CurlTest.Curl_DownloadFile_WithoutProgressFeedback_Success
[  FAILED  ] CurlTest.Curl_DownloadFile_ProgressFeedback_Success
[  F

[2019-07-10 09:17] Ahmad-Drak commented on #364
@shakthi-prashanth-m what if i want to run all three together? qgroundcontrol, mavros and mavsdk (dronecore) app. Is there another port which can be connected to? Thanks.

[2019-07-10 11:19] julianoes commented on #364
@Ahmad-Drak for SITL you could add another `mavlink start` instance here with yet another port:
https://github.com/PX4/Firmware/blob/7ace66a2b9b7ddc91f1f8460a168ebf5a397b050/ROMFS/px4fmu_common/init.d-posix/rcS#L248-L249

I have never tried it but in theory it should work. The only limitation is that we only allow up to 3 mavlink instances but that's for no real reason, it was just arbitrarily cho

[2019-07-10 11:20] julianoes commented on #787
Thanks for reporting, let me have a look if I can reproduce.

[2019-07-10 11:22] julianoes commented on #787
It works for me which would mean either your internet connection was flaky when you ran it or the servers were not responding for some reason.

This reminds me that we should actually move the curl unit tests to integration tests because unit tests are not supposed to need anything to run, so they should not depend on an internet connection.

[2019-07-10 11:22] #787 closed

[2019-07-10 15:39] JonasVautherin commented on #630
We have the first package out on pip: `pip3 install mavsdk` works on macOS, Linux and Windows.

The release process is currently quite manual, but good enough to close this issue. More automation will come later.

[2019-07-10 15:39] #630 closed

[2019-07-10 15:49] JonasVautherin commented on #364
Note that running mavlink-router is super easy ([see here](https://github.com/intel/mavlink-router/#running)).

[2019-07-15 22:22] byuarus commented on #695
@JonasVautherin Yes, you're right. We need this :)

@julianoes  This will work for us.

Currently, for Sony R10C camera, we receive a json file with all possible settings. For R10C they provide the range as an enum, this will work for us too. I would say that it's preferred way of presenting range settings as it will make less likely that client-side will send some weird values. It will save from

[2019-07-16 12:28] #321 closed

[2019-07-17 15:37] krady21 commented on #783
I am looking to solve this! Should we add the future homebrew formula to homebrew-core or should we make and maintain our own tap? I prefer the first alternative after reading [this](https://discourse.brew.sh/t/pushing-to-homebrew-core-vs-creating-a-new-tap/1121).

[2019-07-17 17:25] SelimOzel opened #800 "Windows Local Install"
Getting the following error:
[code]

Following steps for Windows in [1]. Went more-or-less smooth until Local Install option. The error is from the following call:
`cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_PREFIX=install -Bbuild/default -H.`

[1] https://mavsdk.mavlink.io/develop/en/contributing/build.html#sdk_local_install

[2019-07-17 18:00] JonasVautherin commented on #783
Same for me :+1:. Let us know how it goes!

@unipheas: FYI

[2019-07-17 18:02] JonasVautherin commented on #800
There must be more logs explaining why json11 failed to build. Can you copy that here? Or worst case, link your full build log?

[2019-07-17 18:12] SelimOzel commented on #800
It was terribly long! Didn't want to copy paste a wall of logs!

I don't have the logs open in front of me but I'll keep this updated when I try it again later on. Just wanted to update you and thanks for fast response!

[2019-07-17 22:04] imfatant opened #802 "Has the directory structure changed?"
I've built and installed the MAVLINK library as described in the documentation (Linux).

In takeoff_and_land.cpp, we have:

#include <mavsdk/mavsdk.h>
#include <mavsdk/plugins/action/action.h>
#include <mavsdk/plugins/telemetry/telemetry.h>

This directory structure seems completely different to the one extant.

[2019-07-17 22:09] JonasVautherin commented on #802
I'm not sure I understand the question. `takeoff_and_land.cpp` seems fine to me. Did you install using a package (e.g. `*.deb`) from the [releases](https://github.com/mavlink/MAVSDK/releases)?

[2019-07-18 01:20] hamishwillee commented on #800
@SelimOzel

Fair enough. Sometimes I just post these into gists and then link.

[2019-07-18 07:36] unipheas commented on #783
I think for now maintaining our own tap is ideal. Maybe we can take a vote on this in slack or something? That said, I'd like to believe MAVSDK is really popular and essential to the community 😁

[2019-07-18 07:49] JonasVautherin commented on #783
What's the advantage of that? I was naively thinking that adding the formula to homebrew-core would mean less maintenance on our side :laughing:.

[2019-07-18 07:56] unipheas commented on #783
That's actually a good point. It won't hurt to try to get it on core. Worst that happens is they deny it.

[2019-07-18 13:48] Ahmad-Drak commented on #364
@julianoes this sounds more complicated than the mavlink-router, wouldn't want to mess with rcs
@JonasVautherin I tried using the mavlink-router, ran the command
`mavlink-routerd -e 127.0.0.1:14552 0.0.0.0:24550`

Mavros is connected on 14540
qgroundcontrol is connected on 14550

Then tried to run a MAVSDK example as
`./follow_me udp://:14552`

buit all i got was 'wait for system to connect via he

[2019-07-18 14:04] JonasVautherin commented on #364
Are you sure about `0.0.0.0:24550`? I will listen on that, and send to the endpoint (`-e 127.0.0.1:14552`).

[2019-07-18 14:12] Ahmad-Drak commented on #364
No not really. It was suggested [here](https://github.com/intel/mavlink-router)

I tired different combinations for the udp_address according to the below

mavlink-routerd [OPTIONS...] [<uart>|<udp_address>]

[2019-07-18 16:03] JonasVautherin commented on #364
Right. What are you trying to do exactly? Multiple vehicles in simulation, or just one, but that you want to connect to from QGC, MAVSDK and MAVROS at the same time?

[2019-07-18 17:28] imfatant commented on #802
I'm using vscode and would rather compile without using cmake. Now, I've got it working with cmake by setting up two build tasks in vscode, which means that the install went fine, but when using g++ directly, I get:
[code]
Would be most grateful for any ideas.

[2019-07-18 20:05] JonasVautherin commented on #364
You could for instance keep 14550 untouched for QGC, and forward 14540 to, say, 14541 and 14542 for MAVROS and MAVSDK:

[code]

To summarize:

* QGC takes 14550
* mavlink-router takes 14540
* MAVROS takes 14541 (created by mavlink-router)
* MAVSDK takes 14542 (created by mavlink-router)

[2019-07-18 21:07] JonasVautherin commented on #802
What about adding something like `-I/usr/local/include/mavsdk`? Seems to me like `MAVSDKTargets.cmake` does something like that.

[2019-07-18 22:08] imfatant commented on #802
That works!

Thank you:)

[2019-07-18 22:17] #802 closed

[2019-07-19 01:17] imfatant commented on #800
I'll carry on where @SelimOzel left off since I have exactly the same problem.

Let me mention that I have to use the following in order to build in the first place:
[code]
Then, I try the following for local install with -DCMAKE_INSTALL_PREFIX=install, but notice that it ignores this, and also errors. In Command Prompt:
[code]
I have attached the two CMake error logs.

[CMakeError.zip](https://gi

[2019-07-19 05:27] JonasVautherin commented on #800
So what it does is:

* Download json11 from https://github.com/dropbox/json11, at tag `v1.0.0`.
* `git apply` our patch, which is [this file](https://github.com/mavlink/MAVSDK/blob/develop/third_party/json11/export_config.patch).

Apparently, it fails at this point. Can you try to understand why? I would look for:

* Is `git` installed in the first place? After all, it calls `git apply`
* Download

[2019-07-19 08:01] dangviethieu opened #804 "No support of VTOL TAKEOFF and LAND in mission plugin"
Hello guys
I get problems while test fly_qgc_mission function with vtol-simulator(https://docs.deltaquad.com/simulator.html)
![Image 2019-07-16 at 1 15 02 PM](https://user-images.githubusercontent.com/14278358/61518913-e21bba00-aa34-11e9-89c7-9507ae1c1fec.png)
Anyone can help me with it? I check in mission_impl.cpp and it seems no support for MAV_CMD_NAV_VTOL_TAKEOFF and MAV_CMD_NAV_VTOL_LAND comm

[2019-07-19 08:05] julianoes commented on #804
Correct, the `mission` plugin does not support VTOL items yet.

If you need support for that you would have to use the `mission_raw` plugin for now.

[2019-07-19 08:36] dangviethieu commented on #804
@julianoes thank you for reply.
We does haven't example for mission_raw yet?
In mission plugin, we have MissionItem class for setup waypoint, but mission_raw is don't have.
So how to we can create mission use mission_raw plugin?

[2019-07-19 12:28] julianoes commented on #804
Yes, with mission_raw you basically get a default MAVLink style mission and there is no easy types or examples to use.

[2019-07-19 12:29] julianoes commented on #804
Alternatively, you could add support for VTOL actions to the `mission` plugin and that way enable it.

[2019-07-19 12:35] imfatant commented on #800
Git is installed.

I shall try to do the manual git apply.

It is nothing to do with not being able to find pthread.h on a Windows system?

[2019-07-19 16:30] imfatant commented on #800
I don't know how to do this.

[2019-07-20 00:30] SelimOzel commented on #800
Jonas, I'll only have the chance to try this out maybe mid-week next week? Just wanted to update you. And thanks for instructions.

[2019-07-20 04:43] JonasVautherin commented on #364
Does that work then?

[2019-07-20 05:09] JonasVautherin commented on #800
@imfatant: for json, you can go to the link I provided and download it through the "download" button of GitHub. For the patch, you can just open the link I provided and save that file.

Does that make sense?

[2019-07-20 08:27] Ahmad-Drak commented on #364
Yes works perfectly. Thank you.

[2019-07-20 17:49] imfatant commented on #800
@JonasVautherin: Yes, I've done that. Now, where do I place the json11-1.0.0 directory after I've applied the patch?

[2019-07-20 19:04] JonasVautherin commented on #800
Well, the question is actually about that: "does `git apply` work on your Windows, or not?

So did it work? You could patch json11 with `export_config.patch`? If yes, can you try a clean build again (by removing `build/default`, e.g. `rm -rf build/default`)?

[2019-07-20 19:50] imfatant commented on #800
```git apply``` did work. I'll try a clean build, but I think we're going to have a problem with zlib.

[2019-07-20 21:15] JonasVautherin commented on #800
Why is that?

[2019-07-20 21:37] imfatant commented on #800
Let's go back a bit. I can download json11-1.0.0 and patch it. But can you confirm where I'm going to put the patched directory back into the MAVSDK directory structure?

[2019-07-20 22:00] imfatant commented on #800
I presume one simply copies the manually patched json11-1.0.0 directory (having renamed it to json11) over MAVSDK\build\default\third_party\json11. It would tres helpful if you could confirm this.

I have tried this, and it seems to work, but then one runs into the same problem for zlib, and then, having patched that, the same problem for curl.. which appears not to have a patch. After which one g

[2019-07-20 22:02] JonasVautherin commented on #800
No you won't do anything with that anymore. The message says "CMakeLists.txt: patch does not apply". I wanted to check if `git apply` was working, and it seems like `git apply` does work. So maybe it's because it is not a clean build.

Did you try the clean build?

[2019-07-21 13:13] Doodle1106 opened #806 "Vision Support?"
Hi guys,

    Is there any support for vision related messages such as VISION_POSITION_ESTIMATE or will there be in the near future?

    Thanks for the impressive work!

Joey

[2019-07-22 05:31] julianoes commented on #806
Hi Joey,
Thanks :).

Yes it would indeed be nice to send vision position estimates to a vehicle using MAVSDK. I have never actually used that feature with PX4, so I'd have to play with it myself first.

If you need it, I'd suggest to write a new plugin for it and make a pull request!

[2019-07-22 07:30] #695 closed

[2019-07-22 18:43] imfatant commented on #800
Yes, I did try a clean build, and no it doesn't work.

Now it's failing before I even get to trying the local install:

[code]

[2019-07-22 20:25] JonasVautherin commented on #800
Can you clean build with `-DBUILD_TESTS=OFF`?

[2019-07-23 01:36] friendbaby opened #811 "How to connect Px4 on SITL"
The Firmware version is 1.8.0dev.
PX4 SITL listen  on UDP port 14560, MAVSDK in UDP Mode  listen one port too.
So, How to connect Px4 on SITL ?

[2019-07-23 07:08] julianoes commented on #811
Does this diagram help?
https://dev.px4.io/v1.8.2/en/simulation/#sitl-simulation-environment

QGC usually listens on UDP port 14550, MAVSDK or MAVROS listen on UDP port 14540.

[2019-07-23 07:10] julianoes commented on #800
@SelimOzel in what command line thing are you running this on Windows? I tried in the MSVC console and could not reproduce it.

[2019-07-23 09:29] friendbaby commented on #811
I have seen this diagram, and I test result is different it.

the pix4  is not connect to QGC(udp port 14550), it is :

pix4(udp 14560) <---->Simulator<---->QGC(udp 14550).

So if remove Simulator , the pix4 can not connect to QGC.

In actually, my target is write a new Simulator with MAVSDK.  I need  connect pix4 udp active,just like jMAVSim.

[2019-07-23 09:53] julianoes commented on #811
Ah that's an idea. You can do that. I think you just need to connect to UDP port 14560 instead of 14550.

[2019-07-23 15:50] shrit opened #813 "Failed to setpoint in offboard mode in SITL"
Hello,

I am using the MAVSDK for gazebo SITL with IRIS quadrotor. I have created automated tests to fly IRIS quadcopter in a specific trajectories.  The quadrotor functions normally in most cases of test. However, during some tests IRIS quadrotors fails to set point, I receive this error rarely:

`Offboard::start() failed: No setpoint set`

I do not understand why this error is occurring from tim

[2019-07-23 20:16] SelimOzel commented on #800
Hey! I tried it in default command line and not the console that pops-up from MSVC. Is that the preferred one?

[2019-07-24 11:18] julianoes commented on #800
So you tried in `cmd`?

[2019-07-24 11:20] julianoes commented on #813
Could you share the C++ code that you use with MAVSDK which has that behavior?

[2019-07-24 12:17] uccsoft opened #814 "Error building mavsdk_server (LNK1149)"
Got problem trying to compile mavsdk with BUILD_BACKEND = ON option. I am using VS 2017 Build Tools on Windows 10 Enterprise. I am getting the error below. Any help would be appriciated.

[build]        "D:\Work\MAVSDK\build\ALL_BUILD.vcxproj" (default target) (1) ->
[build]        "D:\Work\MAVSDK\build\src\backend\src\mavsdk_server_bin.vcxproj" (default target) (32) ->
[build]        (Link target

[2019-07-24 12:24] shrit commented on #813
This is the function call, where I ask several quadcopters at the same time to switch to offboard mode. Only one quadcopter gives rarely the above error while the other switch the mode without any problem.

[code]
Here is the implementation of the start_offboard_mode function.

[code]

[2019-07-24 12:39] JonasVautherin commented on #814
I'm completely speculating, but seeing `mavsdk_server.lib` and `mavsdk_server_bin` in the error output make me think it could be related to the way we name our binaries.

Indeed, we have two targets ending up being called `mavsdk_server`:

* The target `mavsdk_server` becomes a shared library (`mavsdk_server.so` on Linux, I presume `mavsdk_server.lib` on Windows)
* The target `mavsdk_server_bin` b

[2019-07-24 12:42] julianoes commented on #814
Oh I missed this! What should we rename? :smile:

[2019-07-24 12:45] julianoes commented on #813
Interesting, I think this is the same problem as I've found in CI every now and then.

I think this should get fixed with https://github.com/mavlink/MAVSDK/pull/808/commits/491236e3408417502095984b1105936c38b42f0e.

[2019-07-24 12:47] #813 closed

[2019-07-25 05:06] uccsoft commented on #814
Thanks a lot. It has worked. mavsdk_server_bin.exe is generated under debug folder.

[2019-07-25 06:07] julianoes commented on #814
@uccsoft thanks for trying that out.

@JonasVautherin I vote we rename the library to `mavsdk_server_lib`. I know that will create the ugly file `libmavsdk_server_lib.lib/so` but that's better than renaming the bin, right?

[2019-07-25 10:13] JonasVautherin commented on #814
I would first try to see if there is a way to make that work for Visual Studio (it works everywhere else). If there isn't, then I think I would rather rename the executable only for Visual Studio. So that everybody has `mavsdk_server`, and people building with Visual Studio have `mavdsk_server_bin.exe`.

If you rename the library, it has consequences on the CMakeLists linking it. Whereas the execu

[2019-07-25 11:32] JonasVautherin opened #816 "Move protoc generation out of cmake and version generated files"
@julianoes, @thomasetter: I'd like to have your opinion on that :blush:.

We use protobuf + gRPC in `mavsdk_server`, and therefore generate code with the proto compiler (`protoc`), at build time. I believe this should change, mainly for the following reasons:

* We will soon want to autogenerate more code, using our own protoc plugin. It will make the autogeneration a bit more complex (will requir

[2019-07-25 13:48] thomasetter commented on #816
I have also come to think that checking in the generated files is the way to go.

If we create a CI check which runs the proto-file compilation and makes sure that there are no diffs, we can run it in parallel, get up-to-date generated files, and keep good build latency.

We can do this for arbitrarily many code-generation pipelines without significantly increasing the total check latency.

[2019-07-25 15:31] julianoes commented on #814
@JonasVautherin alright, convinced. I vote we change it unless someone knows how to avoid the problem in VS Studio but I doubt it.

[2019-07-25 20:54] JonasVautherin commented on #814
Fair enough.

[2019-07-28 14:04] imfatant commented on #800
I did everything in `cmd`. How does one get a console in MSVC? I thought it was for output only?

[2019-07-29 08:20] julianoes commented on #800
I have tested this in `cmd` and it works fine for me.

[2019-07-29 09:15] JonasVautherin commented on #800
Did you guys try a clean build with `-DBUILD_TESTS=OFF`?

[2019-07-29 13:35] imfatant commented on #800
OK, this works for a local install:
[code]

[2019-07-29 17:29] JonasVautherin commented on #800
So what was the issue before? What did you change to get it to work?

[2019-07-29 18:23] imfatant commented on #800
I don't have the dll's though. Only the .lib static library files and the headers. Where are the dll's?

The way I was doing it before was:
[code]
The last two commands were the problem.

[2019-07-29 21:49] JonasVautherin commented on #800
So you get `libmavsdk_telemetry.lib` and not `libmavsdk_telemetry.dll`, for instance? You set `-DBUILD_SHARED_LIBS=ON`, so you should get shared libraries... :thinking:

[2019-07-30 08:48] bozkurthan opened #823 "Missing plugins when Mavsdk is installed from *.deb in Ubuntu 18.04"
Hello,
I was trying to build all examples from MAVSDK on Ubuntu 18.04. I installed MAVSDK from releases page https://github.com/mavlink/MAVSDK/releases

When I use `cmake ..` to build battery example, I'm giving following error :
[code]

After that I navigated to installation folder /usr/include/mavsdk and compared cloned github folder. I found that there is a some missing plugins on installation

[2019-07-30 11:27] julianoes commented on #823
Ok, the MAVLinkPassthrough plugin is not included yet. The reason I did not add it was because it essentially brings all the generated mavlink c headers with it as well, and because in general usage of MAVLink passthrough is discouraged unless really needed.

[2019-07-30 12:50] bozkurthan commented on #823
I see it's normal to encourage people to contribute while SDK is still under development. For me, I  just want to combine some examples like https://github.com/bozkurthan/PX4-MAVSDK-OFFBOARD-EXAMPLES and share these examples with community. Is there any option to workaround this issue?

[2019-07-30 13:02] julianoes commented on #823
The offboard examples should work fine. I think it's only the battery one which does not.

[2019-07-30 15:13] Benjdu76 opened #827 "Missing dll on windows"
When I run an example, I get errors which said that :
- libgcc_s_seh-1.dll is missing
- libwinpthread-1.dll is missing
- libstdc++-6.dll is missing

I also have the following error in the python shell :
`grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with:
        status = StatusCode.UNAVAILABLE
        details = "failed to connect to all addresses"
        debug_error_string = "{"

[2019-07-30 18:12] JonasVautherin commented on #823
Yes! @bozkurthan just remove [this line](https://github.com/mavlink/MAVSDK/blob/develop/example/CMakeLists.txt#L5) in the examples.

And I'm still not sure if we should include it in the packages we distribute. Or maybe we should add it, but add a big `WARNING` where people instantiate it, saying that it is not supported. My fear is that the C++ people use that because it seems faster than properl

[2019-07-30 22:39] hamishwillee commented on #823
IMO end users who are inclined to choose MAVLinkPassThrough are probably never going to write plugins - their choice is really use it or go find another library. I think we should support it, and properly.

A warning is a good idea though to encourage users who just don't understand that this is not the best way to do things.

[2019-07-31 04:51] bozkurthan commented on #823
Thanks. It's enough for me :) @julianoes

@JonasVautherin , @hamishwillee  IMO you shouldn't. I think everyone wants to choose easy way to implement their application faster. MAVSDK is still growing. So, if you add this feature, MAVSDK stands on this library even you put warning message. It can be good for end-users but we should wait for bigger community supports like other SDKs.

Thank you all :

[2019-07-31 07:23] JonasVautherin commented on #823
Good! I'll close the issue then. Feel free to re-open if needed.

Regarding MAVLinkPassthrough, I guess the discussion will come back anyway, and this issue is maybe not the right place to discuss it. Thanks for the inputs!

[2019-07-31 07:23] #823 closed

[2019-07-31 11:57] JonasVautherin commented on #827
@Benjdu76: would you mind checking if you can build MAVSDK from sources on your system?

More generally, we need to fix our build system such that those libraries are either not linked (@julianoes was mentioning that we should probably not need `libgcc_s_seh-1.dll`) or linked statically. @Benjdu76 can you help with that?

[2019-08-06 09:32] julianoes commented on #24
Mostly getting there, closing.

[2019-08-06 09:32] #24 closed

[2019-08-06 12:12] julianoes opened #829 "Intermittent CI fail for CameraServiceImplTest.sendsOneCurrentSettings"
This happened in travis-ci on Fedora 28:

[code]

[2019-08-07 09:15] julianoes opened #830 "Add option to build without curl"
For slow compilation (e.g. on embedded boards) it would be nice to be able to build without curl.

[2019-08-07 14:44] JonasVautherin commented on #830
Isn't it good enough to cross-compile for those boards? If we make it optional in the code, we will also need to make it optional in the superbuild (because I guess we don't expect people to figure out that by themselves), and that adds complexity and corner cases everywhere...

[2019-08-08 07:17] julianoes commented on #830
Sometimes you're in a debugging situation where you just need to rebuild on the device.

[2019-08-09 09:52] JonasVautherin commented on #830
Right. But I don't think that adding options in CMakeLists and ifdefs in the code is the right solution for debugging on the device.

If you are debugging curl on the device, then you need to compile it. If you are debugging MAVSDK, then you don't have to recompile curl. Yes, that implies that you may need to not use our superbuild and to learn how to do that (e.g. cross-compile the dependencies s

[2019-08-09 15:03] raul7 commented on #827
@JonasVautherin I was having the same isssue as @Benjdu76, so I built MAVSDK from sources on Windows 10 with Visual Studio 16 2019 tools (using the comands given  in "appveyor.yml" for Visual Studio), copied "mavsdk_server_bin.exe" to my python mavsdk installation, renamed to "mavsdk_server" and it looks like now mavsdl-server launches OK. I also installed mavsdk python using pip (but I'm using an

[2019-08-10 11:32] JonasVautherin commented on #827
Thanks @raul7 for the report. So this means that it works when you build from sources, but the binary we distribute over pip is missing DLLs. We should probably make it such that `mavsdk_server` links those libraries statically...

[2019-08-10 16:57] fnoop commented on #728
Hi, has there been any movement/development on this?

[2019-08-11 13:35] JonasVautherin opened #835 "Deprecate embedded camera definition files"
I am wondering if we should consider deprecating the embedded camera definition files, because that creates a dependency from MAVDSK on those cameras (as in: updating the camera firmware will break apps that don't have the latest version of MAVSDK).

Looking at the [embedded camera definition files](https://github.com/mavlink/MAVSDK/tree/develop/src/plugins/camera/camera_definition_files), it seem

[2019-08-11 13:43] JonasVautherin commented on #728
Unfortunaly, not that I am aware of. On my end, I would still like to have an idea of the differences between PX4 and APM, in order to open a discussion also at the MAVLink level. IMO MAVSDK should implement the "standard" set of messages (presumably `common.xml`), and allow for "unofficial" plugins supporting dialects.

APM does implement parts of `common.xml`, and therefore parts of MAVSDK shoul

[2019-08-11 23:40] hamishwillee commented on #835
To be very pedantic, the intent was to download _and cache_ the file from the camera using the revision number.

There is a bit of a discussion around the caching [here](https://github.com/mavlink/mavlink/issues/1198), which I haven't read/followed up yet.

Anyway, personally I wouldn't remove those files, but I would start checking the revision number and work out what you're going to do if there

[2019-08-11 23:53] hamishwillee commented on #728
@JonasVautherin Just FYI, ArduPilot differs in (at least) Mission and Parameter protocols. Probably also in the command protocol, but I haven't documented that properly, so no detail.

Anyway, you can see quite a lot of detail about the differences in the service docs [mission](https://mavlink.io/en/services/mission.html#ardupilot) and [parameter](https://mavlink.io/en/services/parameter.html#ardu

[2019-08-12 07:52] fnoop opened #836 "Protobuf fails to build on RPi"
Various places in the code fail with references to __atomic_xxx calls.

[code]

This can be worked around by adding the following to CMakeLists.txt:
`set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -latomic")`

[code]

[2019-08-12 12:11] julianoes commented on #836
Thanks for the issue. I wouldn't say this is a GCC 8 issue but rather an issue of that toolchain on arm.

I don't think that the linker flag should be added to the `CXX` build flags though but rather we need to link to `atomic` as well.

[2019-08-12 12:14] JonasVautherin commented on #835
The thing is that right now we don't cache those files, we hardcode them. A cache should be transparent, meaning that disabling the cache should not break the functionality.

We should first have the implementation without cache, and then we could add the cache to improve performance.

This means I agree with you, @hamishwillee. But what we have now is not a cache, it is prone to errors and it mak

[2019-08-12 12:15] julianoes commented on #836
@fnoop could you test if this works?
https://github.com/mavlink/MAVSDK/pull/837

[2019-08-12 12:17] #814 closed

[2019-08-12 12:22] julianoes commented on #830
I agree with your examples but this is more a request that the MAVSDK should be able to build and run with minimal dependencies if required.

[2019-08-12 13:53] fnoop commented on #836
@julianoes No, still the same problem with that PR.  Note the problem above is in third_party/protobuf, even though I have libprotobuf-dev installed - does it not use system library if already present?

[2019-08-12 14:21] julianoes commented on #836
Oh of course, I put it in the wrong place.

Not if you build with the super build.

[2019-08-12 20:38] JonasVautherin commented on #829
Got it. I'll be looking in the gRPC implementation soon, I'll check at that time :+1:.

[2019-08-13 01:08] hamishwillee commented on #835
@JonasVautherin I'm just being pedantic on where we need to go ... eventually. Up to you what we do now.

FWIW though, it is hard to say whether removing the files completely is OK without knowing what you will do if the files cannot be downloaded or take some time to download.

[2019-08-13 11:43] #816 closed

[2019-08-14 11:48] shrit opened #842 "Recover optical flow camera video using mavsdk"
Is it possible to recover the video from the optical flow camera using mavsdk??
If so, How can do this in SITL gazebo ??

[2019-08-14 16:45] julianoes commented on #842
I don't think it's obtainable via MAVLink from SITL Gazebo, however, from PX4Flow connected via MAVLink you could select some test mode (I don't remember how) and then you should receive https://mavlink.io/en/messages/common.html#ENCAPSULATED_DATA).

[2019-08-16 09:18] irsdkv commented on #736
I have a same problem with param module.
[Cache used](https://github.com/mavlink/MAVSDK/blob/45d908df6a03e5826199cbea710707b4b7c7d1c2/src/core/mavlink_parameters.cpp#L94) during all backend runtime although UAV was rebooted or params values was changed from the other source (QGC or PX4 console, for example).

Also I think solution should have API for gRPC request  like "CacheResetRequest" for modu

[2019-08-16 09:51] irsdkv commented on #736
Or may be it would be ideal if user will have ability to turn caching off/on for module

[2019-08-16 11:53] JonasVautherin commented on #736
My opinion about caches is that it should be transparent. If the user needs to be aware of the fact there is a cache, then it is a bad cache :sweat_smile:.

Examples:

* Caching a "battery status" is fine, so that users receive the last position as soon as they subscribe to it instead of waiting until the next battery state (which may be a few seconds away).
* Caching parameters is fine if the aut

[2019-08-16 13:26] fnoop commented on #836
So two options are:
 - Add `-DCMAKE_CXX_FLAGS=-latomic` to cmake, eg:
`/usr/bin/cmake ${atomic_flag} -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON -DBUILD_BACKEND=ON -DCMAKE_INSTALL_PREFIX=/srv/maverick/software/mavsdk`
It doesn't look like this gets passed through to the thirdparty builds however, although the thirdparty CMakeLists.txt could be altered to pull it in, possibly.

Or, set the en

[2019-08-16 14:40] JonasVautherin commented on #836
First, I would like to make sure I understand what problem you are trying to solve :blush:.

1. What is wrong with cross-compiling with dockcross?
2. Why do you want to build on the RPi instead of cross-compiling for it?

Assuming that there really is a need for compiling `mavsdk_server` on the RPi, I believe that the solution is to fix the protobuf compilation for this specific platform (i.e. in

[2019-08-16 14:59] fnoop commented on #836
mavsdk failing to build as per instructions on latest Raspbian :)

The build is broken on Raspbian, which probably means it's broken on other non-x86 Debian buster builds, and possibly recent/future Ubuntu.  A workaround by cross compiling is not a solution, it's a workaround.  There's still a problem and it should be fixed.

My particular use-case is a uav companion computer project which impleme

[2019-08-16 15:42] JonasVautherin commented on #836
I don't deny the fact that building on the RPi fails, I was just wondering if that was really what you wanted. For instance, building on a RPi zero is probably super slow, which is why we worked hard on getting the cross-compilation to work.

But I get it, you want to build from the RPi.

So we agree that this is a protobuf compilation issue, which means that there is no need to change the CXX_FLA

[2019-08-16 16:15] fnoop commented on #836
Honestly if I had the confidence to produce a proper solution I would have tried and submitted a PR :)

It looks like this problem will occur on platforms where gcc doesn't provide atomic operations but instead relies on libatomic.  I don't think it matters whether it's armv6 or armv7.  A quick grep through mavsdk for std::atomic indicates this will affect:
 - third_party/protobuf
 - third_party/g

[2019-08-16 18:37] irsdkv commented on #736
This is good clarification.
I dont know about specific use cases for Battery Status and Mission, but I think that Parameters module have no reasons to use cache:

- Seems that MAVSDK have no way to know that parameter was changed
- I think that use cases of MAVSDK does not include real necessity of fast frequency parameters values polling (which may require cache using)

[2019-08-16 22:23] JonasVautherin commented on #836
Thanks for the clarifications!

One thing I don't get, though, is that the build works for armv7 with dockcross, i.e. when not compiling `protoc`. So I don't think we need to link `libatomic` in mavsdk itself.

The second thing is that this was supposedly fixed in October 2018 in [protobuf](https://github.com/protocolbuffers/protobuf/pull/5227), and we use version 3.7.1 which is from March 2019. S

[2019-08-17 16:44] fnoop commented on #836
dockcross is useful to build generic binaries for a different architecture, but it's not a replacement for an optimised or current complete environment for a specific platform.

I've now manually added in `-DCMAKE_CXX_FLAGS=-latomic` to protobuf, got past that successfully and then hit the same problem in grpc.   So I've made the same fix to grpc and got past that, and now hitting the same problem

[2019-08-17 17:55] JonasVautherin commented on #836
Hmm. Of course protobuf will not export libatomic in its cmake targets when we add it through the CXX_FLAGS :thinking:. And therefore the CXX_FLAGS workaround has to be done at the mavsdk level.

If that's fine, give me a few days to check if there is an easy fix at the protobuf level, which would be much more elegant. If I don't manage to do that, I'll accept a PR fixing it at the mavsdk level.

[2019-08-18 01:36] JonasVautherin commented on #836
I managed to get an RPi to try to reproduce it myself and confirm that this is a protobuf issue. Turns out it is, and it [was fixed last month](https://github.com/protocolbuffers/protobuf/commit/55ed1d427ccc0d200927746329ac9b811dee77b9). So using latest `master` seems to just work.

@fnoop: Please review the PR

[2019-08-18 09:49] fnoop commented on #836
Works, thanks :)

[2019-08-19 07:16] #836 closed

[2019-08-19 13:42] shrit opened #845 "Quadcopter does not apply set_takeoff_altitude"
Hello,

I am asking several quadcopters to takeoff to 10 meters, (I have already set takeoff altitude to 10 meters). In the following simulations, the quadcopters are situated on a ground that is 5 meters up sea levels.
Sometimes, the quadcopters have tendency to increase their takeoff altitude during the taking off process. While in another cases, They fully respect the 10 meters altitude.

In fo

[2019-08-20 03:59] julianoes commented on #800
Has this been resolved @SelimOzel or @imfatant ?

[2019-08-20 04:16] julianoes commented on #845
Regarding the takeoff speed, there are two params:
https://dev.px4.io/v1.9.0/en/advanced/parameter_reference.html#MPC_TKO_SPEED
https://dev.px4.io/v1.9.0/en/advanced/parameter_reference.html#MPC_LAND_SPEED

For the takeoff altitude, as far as I understood it, it should always end up 10 meters above the takeoff location no matter the ground altitude.

[2019-08-20 04:21] julianoes commented on #845
I think what happens in the case where it only goes up 6 meters instead of 10 meters, you're activating offboard too early when it is still climbing.

![Selection_004](https://user-images.githubusercontent.com/1419688/63317347-c8f77900-c312-11e9-8815-5102289cb71a.png)

[2019-08-20 11:47] shrit commented on #845
@julianoes, I totally agree with you,
Now, I have better understanding about what is happening.
In fact, it is true I am switching too fast to offboard mode. This is why we need to have the landed state PR.
The only thing that confuse me, is the fact that the altitude measured by the quadcopters in SITL gazebo is the absolute altitude from the sea level. I think this is measured by the GPS.
But if

[2019-08-20 13:47] julianoes commented on #845
This should give you the altitude relative to ground:
https://github.com/mavlink/MAVSDK/blob/2f48667a80d01aa2f58b207f71d76957ab38c635/src/plugins/telemetry/include/plugins/telemetry/telemetry.h#L45

[2019-08-24 00:35] imfatant commented on #800
Yes, I think so.

[2019-08-24 00:39] imfatant opened #846 "mavsdk::MavlinkPassthrough instructions out of date?"
I'm trying to get mavsdk::MavlinkPassthrough to work:
https://mavsdk.mavlink.io/develop/en/api_reference/classmavsdk_1_1_mavlink_passthrough.html

The instructions seem to be out of date?

[2019-08-24 01:32] SelimOzel commented on #800
Haven't had the chance to take a look. I'll try to squeeze it in and test sometime next week.

[2019-08-26 04:36] #846 closed

[2019-08-26 04:37] hamishwillee commented on #846
Hi @imfatant ,
I updated the documentation, so in about 5 minutes these should match what the source code says.

[2019-08-27 21:02] shrit commented on #845
Finally, after testing the value of relative altitude, it does not seems close to the one provided by simulator, I think it is initialized in px4 like GPS altitude and latitude for SITL.
I think I need to use IRIS with optical flow to recover the true relative value correctly. To do so, I think we need to add automatic support in the SDK for optical flow quadcopters,

[2019-08-27 23:19] hamishwillee commented on #736
Components are expected to _broadcast_ updated param values so that all interested systems can synchronize their internal record of the parameter list. Note however that this is not reliable in lossy environments. The actual requestor of the param change is fine because it is expected to re-set the param if it does not get a PARAM_VALUE. However systems that are just monitoring for PARAM_VALUE wil

[2019-08-28 06:44] julianoes commented on #845
@shrit I agree: #780

[2019-08-28 07:17] JonasVautherin commented on #736
That's interesting. But then that's not what @irsdkv is observing, somehow :thinking:.

[2019-08-28 07:21] julianoes commented on #736
I see two things that might go wrong:
1. MAVSDK doesn't update if PX4 is disconnected and reconnected again because the param is still in the cache even though it has been updated in the meantime.
2. MAVSDK is not connected when the param update happens and misses the broadcast.

[2019-08-28 08:49] irsdkv commented on #736
@hamishwillee
I'm checked PX4 Firmware to find out what exactly occur on parameter changes.
[This](https://github.com/PX4/Firmware/blob/658d7340688529d7995de0c15ddd855a0a7b8af3/src/lib/parameters/parameters.cpp#L299) ORB topic really  provide the ability to resend new parameter values, but in MAVLink and MAVSDK we have not way to receive notify on param change.  I admit that I'm wrong, but require

[2019-08-28 09:17] julianoes commented on #736
That's true. We should always listen for params, and update the cache if we get one, right?

Right.

[2019-08-28 10:16] irsdkv commented on #736
Yes, we should listen `parameter_update` topic and update the cache on every topic's message.
[`instance`](https://github.com/PX4/Firmware/blob/658d7340688529d7995de0c15ddd855a0a7b8af3/src/lib/parameters/parameters.cpp#L304) can be used to check if MAVSDK should update cache, but MAVLink protocol don't proceed that ability. Also seems overhead to update all cache on any parameter's value update.
[

[2019-08-29 08:19] unipheas opened #848 "XCTest framework causing app crash"
When building a new iOS project and importing the XCTest.framework into the project it is causing a `signal SIGABRT` error. It seems to be because there is an image missing. This was the output

[code]